<!-- start page title -->
<section class="ipad-top-space-margin" style="background-image: url(assets/images/image-1.png)">
	<div class="container position-relative">
		<div
			class="row justify-content-center align-items-lg-end extra-very-small-screen"
			data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
		>
			<div class="col-lg-6 position-relative page-title-extra-large md-mb-30px sm-mb-20px z-index-9">
				<h1 class="text-white fw-600 mb-0 alt-font highlight-separator-small">
					<span class="highlight-separator mb-0 pb-0" data-shadow-animation="true" data-animation-delay="500">Data-Enriched Approach (DEA) </span>
				</h1>
			</div>
			<div class="col-lg-6">
				<p class="fs-20 lh-32 text-white opacity-7 w-90 lg-w-100 md-w-80 mb-0">
					FC Media DEA (Data-Enriched Approach) révolutionne la planification, l'amplification et la mesure de l'impact de vos campagnes publicitaires.
				</p>
			</div>
		</div>
	</div>
</section>
<!-- end page title -->

<!-- start section -->
<section class="overflow-hidden">
	<div class="container">
		<div class="row align-items-center justify-content-center">
			<div class="col-lg-6 position-relative text-center md-mb-30px" data-anime='{ "effect": "slide", "color": "#ffffff", "direction":"lr", "easing": "easeOutQuad", "delay":50}'>
				<figure>
					<div class="atropos" data-atropos>
						<div class="atropos-scale">
							<div class="atropos-rotate">
								<div class="atropos-inner">
									<img data-atropos-offset="5" src="assets/images/dea.png" alt="" />
								</div>
							</div>
						</div>
					</div>
				</figure>
			</div>
			<div
				class="col-lg-6 text-center text-lg-start ps-40px lg-ps-15px"
				data-anime='{ "el": "childs", "opacity": [0, 1], "rotateY": [-90, 0], "rotateZ": [-10, 0], "translateY": [80, 0], "translateZ": [50, 0], "staggervalue": 200, "duration": 900, "easing": "easeOutCirc" }'
			>
				<div
					class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-uppercase text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
				>
					DEA
				</div>
				<h3 class="fs-40 alt-font fw-700 mb-25px ls-minus-1px text-gradient-fast-blue-purple-light-orange">FC Media DEA (Data-Enriched Approach)</h3>
				<p class="w-90 xs-w-100 mx-auto mx-lg-0">
					FC Media DEA (Data-Enriched Approach) révolutionne la planification, l'amplification et la mesure de l'impact de vos campagnes publicitaires. Grâce à l'analyse avancée des images
					satellites du trafic et à l'utilisation de données de localisation mobile agrégées et anonymes, nous respectons les normes de confidentialité les plus strictes. Notre solution
					innovante vous permet de quantifier et de comprendre en profondeur les comportements et habitudes de votre audience dans le monde réel. Obtenez des insights précieux sur les
					audiences atteintes et découvrez l'influence réelle de chacune de vos campagnes. Maximisez votre retour sur investissement publicitaire avec FC Media DEA et transformez votre
					stratégie de communication.
				</p>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="pt-0 overflow-hidden">
	<div class="container-fluid p-0">
		<div class="row align-items-center g-0">
			<h3 class="fs-40 alt-font fw-700 mb-25px ls-minus-1px text-gradient-fast-blue-purple-light-orange text-center">Aperçu sur la méthodologie employée</h3>

			<div
				class="col-12 position-relative swiper-dark-pagination"
				data-anime='{ "translateX": [150, 0], "opacity": [0,1], "duration": 1200, "delay": 100, "staggervalue": 150, "easing": "easeOutQuad" }'
			>
				<div
					class="swiper overflow-visible"
					data-slider-options='{ "slidesPerView": 1, "spaceBetween": 40, "centeredSlides": "true", "loop": true, "pagination": { "el": ".swiper-pagination-bullets-01", "clickable": true, "dynamicBullets": false }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "992": { "slidesPerView": 1.8 }, "768": { "slidesPerView": 1.8 }, "320": { "slidesPerView": 1.3 } }, "effect": "slide" }'
				>
					<div class="swiper-wrapper">
						<!-- start carousal item -->
						<div class="swiper-slide">
							<img class="border-radius-6px w-100" src="assets/images/cap1.jpg" alt="" />
							<p class="text-center pt-25px">
								<strong>Trafic Data: </strong> Nous analysons la visibilité en fonction des voies, du type de route et de la direction du trafic. En collaboration avec notre partenaire
								de données trafic, nous fournissons des estimations horaires précises. Nos études de terrain affinent cette analyse en identifiant les types de véhicules, le nombre
								moyen de passagers et les spécificités urbaines. Enfin, nous convertissons ces flux de véhicules en audience potentielle pour une compréhension approfondie de votre
								impact publicitaire.
							</p>
						</div>
						<!-- end carousal item -->
						<!-- start carousal item -->
						<div class="swiper-slide">
							<img class="border-radius-6px w-100" src="assets/images/cap2.jpg" alt="" />
							<p class="text-center pt-25px">
								Nous prenons en considération la direction du trafic pour affiner nos statistiques et ne considérer que l'audience exposée aux messages publicitaires.
							</p>
						</div>
						<!-- end carousal item -->
						<!-- start carousal item -->
						<div class="swiper-slide">
							<img class="border-radius-6px w-100" src="assets/images/cap3.jpg" alt="" />
							<p class="text-center pt-25px">
								<strong>Data Mobile (SDK) :</strong> Nos données proviennent d'applications mobiles courantes comme Facebook, Instagram, WhatsApp et YouTube, fournies par des
								agrégateurs de confiance. Nous collectons des informations anonymisées sur les trajets et habitudes des utilisateurs, y compris leur genre, tranche d'âge, centres
								d'intérêt et catégorie socio-professionnelle (CSP). Grâce à une géolocalisation précise, nous suivons les passages à proximité des panneaux publicitaires et la
								fréquence des interactions.
							</p>
						</div>
						<!-- end carousal item -->
						<!-- start carousal item -->
						<div class="swiper-slide">
							<img class="border-radius-6px w-100" src="assets/images/cap4.jpg" alt="" />
							<p class="text-center pt-25px">
								<strong>Contrôles Réguliers : </strong>Nous utilisons des caméras sur des échantillons représentatifs de notre parc publicitaire pour un comptage anonyme, intégré avec
								des logiciels garantissant la confidentialité des données. Tous nos contrôles et validations sont effectués en conformité avec
								<strong> la CNDP (Commission Nationale de Contrôle de la Protection des Données Personnelles).</strong> Des sondages de terrain réguliers permettent d'affiner nos
								modèles de calcul.
							</p>
						</div>
						<!-- end carousal item -->
					</div>
				</div>
				<!-- start slider pagination -->
				<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-style-01 swiper-pagination-bullets-01 position-static mt-40px"></div>
				<!-- end slider pagination -->
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="" id="contact">
	<div class="container">
		<div class="row justify-content-center box-shadow-quadruple-large border-radius-6px overflow-hidden g-0">
			<!-- start contact address -->
			<div class="col-lg-6">
				<div
					class="p-15 lg-p-13 md-p-10 bg-white h-100 background-position-right-bottom background-no-repeat xs-background-image-none"
					style="background-image: url('assets/images/Logo_FC_Media-small.png')"
				>
					<span class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
						>FC Media</span
					>
					<h3 class="alt-font text-dark-gray fw-600">Data Enriched Approach (DEA)</h3>
					<div class="mt-11">
						<p class="fs-17 lh-28 ms-xl-0 mx-auto">
							Notre approche "Data Enriched" va au-delà des simples impressions publicitaires. En exploitant des données précises et actualisées, nous quantifions l'impact de vos
							campagnes publicitaires avec précision. De l'occasion de voir à la portée de votre campagne, en passant par la fréquence à laquelle elle est vue par un même individu, nous
							transformons les données en informations tangibles pour optimiser vos stratégies publicitaires.
						</p>
					</div>
					<a [routerLink]="['data-enriched-approach']" class="mt-9 btn btn-dark-gray left-icon btn-extra-large fw-500 btn-rounded btn-switch-text btn-box-shadow">
						<span>
							<span><i class="bi bi-arrow-return-right"></i></span>
							<span class="btn-double-text" data-text="Lire plus">En savoir plus</span>
						</span>
					</a>
				</div>
			</div>
			<!-- end contact address -->
			<div class="col-lg-6 contact-form-style-03">
				<div class="p-15 lg-p-13 md-p-10 bg-dark-gray h-100">
					<h1 class="fs-60 fw-600 alt-font text-white fancy-text-style-4 ls-minus-1px">
						Besoin<br />
						<span data-fancy-text='{ "effect": "rotate", "string": ["d&#39;information", "d&#39;aide"] }'></span>
					</h1>
					<!-- start contact form -->
					<app-dea-form></app-dea-form>
					<!-- end contact form -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->
