<!-- start page title -->
<section class="ipad-top-space-margin" style="background-image: url(assets/images/image-1.png)">
	<div class="container position-relative">
		<div
			class="row justify-content-center align-items-lg-end extra-very-small-screen"
			data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
		>
			<div class="col-lg-12 d-flex justify-content-between align-items-center">
				<h1 class="text-white fw-600 mb-0 alt-font highlight-separator-small">
					<span class="highlight-separator mb-0 pb-0" data-shadow-animation="true" data-animation-delay="500">SNRT Ramadan 2024</span>
				</h1>
				<img src="assets/images/snrt-maroc-logo.png" alt="Logo" class="img-fluid" width="15%" height="20%" />
			</div>
		</div>
	</div>
</section>
<!-- end page title -->

<!-- start section -->
<section class="pb-0">
	<div class="container">
		<div class="row justify-content-center" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
			<div class="col-lg-10 mb-6 sm-mb-35px last-paragraph-no-margin">
				<h4 class="alt-font fw-600 text-dark-gray w-90 md-w-100">Analyse de la Campagne OOH "SNRT Ramadan 2024"</h4>
				<br />
				<h6><b>Chiffres Clés</b></h6>
				<li>Occasions de Voir (ODV) : 884.9 millions, indiquant une couverture extrêmement large.</li>
				<li>Reach : 8.40 millions, ce qui représente 95% de la population des villes ciblées.</li>
				<li>Fréquence Moyenne : 105,29, assurant une mémorisation maximale du message.</li>
				<br />
				<h6><b>Profil de l'Audience</b></h6>
				<li>Répartition Hommes/Femmes : 50,22% Homme, 49,78% Femme</li>
				<li>Segments de Consommateurs Ciblés : Non spécifiés en détail, mais la couverture indique un large éventail de consommateurs à travers diverses régions du Royaume.</li>
				<br />
				<h6><b>Analyse des Performances</b></h6>
				<li>Stratégie de Diffusion : Déployée sur 281 panneaux dans 29 villes, couvrant une large partie du Royaume, notamment pendant le mois de Ramadan.</li>
				<li>Timing et Période : Du 27 février au 26 mars 2024, période clé pour capter l'attention des consommateurs pendant le Ramadan.</li>
				<li>Impact Global : Avec un reach exceptionnel de 8,40 millions et une fréquence très élevée, la campagne a dominé la visibilité dans les zones ciblées.</li>
				<br />
				<h6><b>Conclusion</b></h6>
				<p>
					La campagne OOH "SNRT Ramadan 2024" a dépassé les attentes en termes de couverture et d'impact, solidifiant la présence de SNRT pendant une période stratégique pour le marché
					marocain.
				</p>
			</div>
			<div class="col-lg-10 mb-6 sm-mb-35px last-paragraph-no-margin text-center">
				<img src="assets/images/snrt-graph.png" class="mb-20px" alt="" />
				<div class="h-1px w-100 bg-extra-medium-gray"></div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="half-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10">
				<div class="row justify-content-center">
					<div class="col-12 text-center elements-social social-icon-style-04">
						<ul class="medium-icon dark">
							<li>
								<a class="facebook" href="https://www.facebook.com/profile.php?id=61558505231368" target="_blank"><i class="fa-brands fa-facebook-f"></i><span></span></a>
							</li>
							<li>
								<a class="instagram" href="https://www.instagram.com/fcmedia.ma?igsh=MXJ2MDRnM3R1dXJ6Mg%3D%3D" target="_blank"><i class="fa-brands fa-instagram"></i><span></span></a>
							</li>
							<li>
								<a class="linkedin" href="https://www.linkedin.com/company/fc-media-maroc" target="_blank"><i class="fa-brands fa-linkedin-in"></i><span></span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->
