<!-- section banner -->
<section class="full-screen ipad-top-space-margin md-h-850px" data-parallax-background-ratio="0.8" style="background-image: url('assets/images/fc-media-baner-2.webp')">
	<div class="container h-100 position-relative">
		<div class="row align-items-start justify-content-center h-100 text-center">
			<div class="col-xl-10 col-lg-12 position-relative z-index-2">
				<div
					id="counter"
					class="nbr-slide mb-minus-100px lg-mb-minus-80px position-relative z-index-minus-1 text-gradient-dark-blue-dark-black alt-font top-0px fs-200 lg-fs-200 sm-fs-180 xs-fs-140 fw-800 ls-minus-5px w-80 mx-auto sm-w-100"
				>
					10000<span class="vertical-align-text-top">+</span>
					<div class="position-absolute top-minus-40px right-150px me-5">
						<img src="assets/images/fav.png" data-bottom-top="transform: rotate(0) translateY(40px)" data-top-bottom="transform:rotate(0) translateY(-40px)" alt="" />
					</div>
				</div>
				<h2
					id="fancyText"
					class="fw-500 ls-minus-1px mb-20px text-white w-80 xl-w-90 md-w-100 mx-auto"
					data-fancy-text='{ "effect": "rotate", "string": ["Points de contact à travers tout le Maroc", "Découvrez l’efficacité de notre Data Enriched Approach"], "speed": 50, "duration": 4500 }'
				></h2>
				<!--div class="fs-21 lh-32 w-65 lg-w-90 mx-auto">FC Media est le pionnier et le 1er acteur de l’affichage et du mobilier urbain publicitaire au Maroc.</div-->
				<div class="mt-35px">
					<a [routerLink]="['commande-en-ligne']" class="btn btn-white fw-700 btn-extra-large btn-rounded btn-switch-text ls-0px btn-box-shadow mb-0 xs-mb-20px me-15px">
						<span>
							<span class="btn-double-text" data-text="En quelques clics">Commander en ligne</span>
						</span>
					</a>
					<a
						href="assets/video/FC-Media-Walkthru-VIDEO-new.mp4"
						class="btn btn-white fw-700 btn-extra-large btn-rounded btn-switch-text ls-0px popup-youtube btn-box-shadow mb-0 xs-mb-20px me-15px"
					>
						<span>
							<span class="btn-double-text" data-text="Découvrir">Le guide</span>
							<span><i class="bi bi-play-circle-fill"></i></span>
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div
		class="position-absolute bottom-0 h-100 left-0px w-100 full-screen z-index-minus-1 cover-background bg-dark-gray"
		style="background-image: url('assets/images/Background-fc-media-baner--2.png')"
	></div>
</section>
<!-- end banner -->
<!-- start section -->
<section class="position-relative overflow-hidden lg-pt-0 pb-25px">
	<div class="position-absolute left-0px top-0px z-index-minus-1" data-bottom-top="transform: translateY(-225px) rotate(0)" data-top-bottom="transform:translateY(225px) rotate(0)">
		<img src="assets/images/crafto-landing-page-bg-06.png" class="w-80" alt="" />
	</div>
	<div class="position-absolute right-0px top-0px z-index-minus-1 text-end" data-bottom-top="transform: translateY(-50px) rotate(0)" data-top-bottom="transform:translateY(50px) rotate(0)">
		<img src="assets/images/crafto-landing-page-bg-05.png" class="w-80" alt="" />
	</div>
	<div class="container">
		<div class="row align-items-center justify-content-center pt-5 pb-5 xl-pb-0 xl-pt-0">
			<div
				class="col-lg-5 col-md-12 mb-0 md-mb-10 sm-mb-15 text-lg-start text-center"
				data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
			>
				<span class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
					>FC Media</span
				>
				<h3 class="fs-40 alt-font fw-700 mb-25px ls-minus-1px text-gradient-fast-blue-purple-light-orange">
					Fondée en 1998, <br />
					FC Media est le pionnier et le 1er acteur de l’affichage et du mobilier urbain publicitaire au Maroc.
				</h3>
				<p class="w-80 xl-w-90 lg-w-100 md-w-80 sm-w-100 mx-auto ms-lg-0 mb-35px text-dark-gray fs-18 lh-28 fw-500">
					Disposant de la couverture la plus large, nous sommes présents dans tous les lieux de vie et sur tout le territoire du Royaume.
				</p>
				<a [routerLink]="['qui-sommes-nous']" class="btn btn-dark-gray left-icon btn-extra-large fw-500 btn-rounded btn-switch-text btn-box-shadow">
					<span>
						<span><i class="bi bi-arrow-return-right"></i></span>
						<span class="btn-double-text" data-text="Lire plus">En savoir plus</span>
					</span>
				</a>
			</div>
			<div class="col-lg-6 position-relative offset-lg-1">
				<span
					class="fs-90 position-absolute left-60px md-left-100px sm-left-70px xs-left-10px top-90px xs-top-50px text-dark-gray fw-700 z-index-1"
					data-bottom-top="transform: translateY(50px) scale(1,1)"
					data-top-bottom="transform: translateY(-50px) scale(1,1)"
					data-anime='{ "opacity": [0,1], "duration": 600, "delay": 1500, "staggervalue": 300, "easing": "easeOutQuad" }'
					><span class="fs-15 fw-600 d-table lh-16 text-uppercase text-medium-gray">Depuis</span>1998</span
				>
				<div
					class="w-75 overflow-hidden position-relative xs-w-80 border-radius-4px float-end"
					data-anime='{ "effect": "slide", "color": "#c674ad", "direction":"rl", "easing": "easeOutQuad", "duration": 600, "delay":400}'
				>
					<img class="w-100" src="assets/images/grande-image.jpg" alt="" />
				</div>
				<div
					class="position-absolute left-minus-70px md-left-15px bottom-minus-50px w-55 overflow-hidden"
					data-bottom-top="transform: translateY(50px)"
					data-top-bottom="transform: translateY(-50px)"
					data-anime='{ "effect": "slide", "color": "#c674ad", "direction":"lr", "easing": "easeOutQuad", "duration": 600, "delay":500}'
				>
					<img class="w-100 border-radius-4px" src="assets/images/petite-image.jpg" alt="" />
				</div>
			</div>
		</div>
		<!-- start counter -->
		<div
			class="row counter-style-04 justify-content-center mb-5 md-mb-50px mt-60px"
			data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'
		>
			<div class="col-lg-2 col-sm-4 col-6 text-center md-mb-30px">
				<div class="feature-box-content">
					<a [href]="['notre-offre']">
						<h3 class="vertical-counter d-inline-flex text-dark-gray ls-minus-1px fw-600 mb-0" data-text="" data-to="8"></h3>
						<span class="d-block text-dark-gray fs-17 lh-26 fw-500">Métiers</span>
					</a>
				</div>
			</div>
			<div class="col-lg-2 col-sm-2 col-6 text-center md-mb-30px">
				<div class="feature-box-content">
					<a [href]="['notre-offre']">
						<h3 class="vertical-counter d-inline-flex text-dark-gray ls-minus-1px fw-600 mb-0" data-text="" data-to="300"></h3>
						<span class="d-block text-dark-gray fs-17 lh-26 fw-500">Talents dévoués</span>
					</a>
				</div>
			</div>
			<div class="col-lg-2 col-sm-2 col-6 text-center md-mb-30px">
				<div class="feature-box-content">
					<a [href]="['notre-offre']">
						<h3 class="vertical-counter d-inline-flex text-dark-gray ls-minus-1px fw-600 mb-0" data-text="+" data-to="300"></h3>
						<span class="d-block text-dark-gray fs-17 lh-26 fw-500">Clients par an</span>
					</a>
				</div>
			</div>
			<div class="col-lg-2 col-sm-2 col-6 text-center md-mb-30px">
				<div class="feature-box-content">
					<a [href]="['notre-offre']">
						<h3 class="vertical-counter d-inline-flex text-dark-gray ls-minus-1px fw-600 mb-0" data-text="+" data-to="80"></h3>
						<span class="d-block text-dark-gray fs-17 lh-26 fw-500">Villes couvertes</span>
					</a>
				</div>
			</div>
			<div class="col-lg-2 col-sm-2 col-6 text-center">
				<div class="feature-box-content">
					<a [href]="['notre-offre']">
						<h3 class="vertical-counter d-inline-flex text-dark-gray ls-minus-1px fw-600 mb-0" data-text="+" data-to="2500"></h3>
						<span class="d-block text-dark-gray fs-17 lh-26 fw-500">Campagnes par an</span>
					</a>
				</div>
			</div>
			<div class="col-lg-2 col-sm-2 col-6 text-center">
				<div class="feature-box-content">
					<a [href]="['notre-offre']">
						<h3 class="vertical-counter d-inline-flex text-dark-gray ls-minus-1px fw-600 mb-0" data-text="" data-to="12"></h3>
						<span class="d-block text-dark-gray fs-17 lh-26 fw-500">Régions couvertes, principaux aéroports et gares ferroviaires</span>
					</a>
				</div>
			</div>
		</div>
		<!-- end counter -->
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="overflow-hidden overlap-height position-relative pt-0">
	<div class="container-fluid overlap-gap-section">
		<div class="row justify-content-center mb-2">
			<div class="col-lg-7 text-center" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
				<span
					class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-uppercase text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
					><span class="w-5px h-2px bg-red d-inline-block align-middle me-5px"></span>Média<span class="w-5px h-2px bg-red d-inline-block align-middle ms-5px"></span
				></span>
				<h2 class="alt-font text-dark-gray">Indoor</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 position-relative feather-shadow sm-feather-shadow-none">
				<div
					class="outside-box-right-15 outside-box-left-15 sm-outside-box-right-0 sm-outside-box-left-0"
					data-anime='{ "el": "childs", "translateY": [0, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'
				>
					<div
						class="swiper swiper-dark-pagination swiper-line-pagination-style-01"
						data-slider-options='{ "slidesPerView": 1, "spaceBetween": 30, "loop": true, "autoplay": { "delay": 2500, "disableOnInteraction": false },  "pagination": { "el": ".slider-four-slide-pagination-1", "clickable": true }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "1200": { "slidesPerView": 4 }, "992": { "slidesPerView": 3 }, "768": { "slidesPerView": 3 }, "576": { "slidesPerView": 2 } }, "effect": "slide" }'
					>
						<div class="swiper-wrapper">
							<!-- start slider item -->
							<div class="swiper-slide">
								<div class="services-box-style-01 hover-box last-paragraph-no-margin">
									<div class="position-relative box-image border-radius-6px">
										<img class="w-100 border-radius-6px" src="assets/images/29-E72T1F7-indoor.jpg" alt="" />
										<div class="box-overlay bg-dark-gray"></div>
									</div>
									<div class="pt-30px bg-white text-center">
										<span class="d-inline-block text-dark-gray fs-19 fw-600">Écrans LED et LCD</span>
									</div>
								</div>
							</div>
							<!-- end slider item -->
							<!-- start slider item -->
							<div class="swiper-slide">
								<div class="services-box-style-01 hover-box last-paragraph-no-margin">
									<div class="position-relative box-image border-radius-6px">
										<img class="w-100" src="assets/images/bache-retro-eclairee-_1_.webp" alt="" />
										<div class="box-overlay bg-dark-gray"></div>
									</div>
									<div class="pt-30px bg-white text-center">
										<span class="d-inline-block text-dark-gray fs-19 fw-600">Bâches Rétro-éclairées</span>
									</div>
								</div>
							</div>
							<!-- end slider item -->
							<!-- start slider item -->
							<div class="swiper-slide">
								<div class="services-box-style-01 hover-box last-paragraph-no-margin">
									<div class="position-relative box-image border-radius-6px">
										<img class="w-100" src="assets/images/001_0732.jpg" alt="" />
										<div class="box-overlay bg-dark-gray"></div>
									</div>
									<div class="pt-30px bg-white text-center">
										<span class="d-inline-block text-dark-gray fs-19 fw-600">Twins sur les Quais des Gares</span>
									</div>
								</div>
							</div>
							<!-- end slider item -->
							<!-- start slider item -->
							<div class="swiper-slide">
								<div class="services-box-style-01 hover-box last-paragraph-no-margin">
									<div class="position-relative box-image border-radius-6px">
										<img class="w-100" src="assets/images/C28A20192x.webp" alt="" />
										<div class="box-overlay bg-dark-gray"></div>
									</div>
									<div class="pt-30px bg-white text-center">
										<span class="d-inline-block text-dark-gray fs-19 fw-600">Stands et Animations Publicitaires dans les Aéroports</span>
									</div>
								</div>
							</div>
							<!-- end slider item -->
							<!-- start slider item -->
							<div class="swiper-slide">
								<div class="services-box-style-01 hover-box last-paragraph-no-margin">
									<div class="position-relative box-image border-radius-6px">
										<img class="w-100" src="assets/images/C28A1932.jpg" alt="" />
										<div class="box-overlay bg-dark-gray"></div>
									</div>
									<div class="pt-30px bg-white text-center">
										<span class="d-inline-block text-dark-gray fs-19 fw-600">Habillage des Escalators, Travelators et Carrousels</span>
									</div>
								</div>
							</div>
							<!-- end slider item -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="overflow-hidden overlap-height position-relative pt-0">
	<div class="container-fluid overlap-gap-section">
		<div class="row justify-content-center mb-2">
			<div class="col-lg-7 text-center" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
				<span
					class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-uppercase text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
					><span class="w-5px h-2px bg-red d-inline-block align-middle me-5px"></span>Média<span class="w-5px h-2px bg-red d-inline-block align-middle ms-5px"></span
				></span>
				<h2 class="alt-font text-dark-gray">Outdoor</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 position-relative feather-shadow sm-feather-shadow-none">
				<div
					class="outside-box-right-15 outside-box-left-15 sm-outside-box-right-0 sm-outside-box-left-0"
					data-anime='{ "el": "childs", "translateY": [0, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'
				>
					<div
						class="swiper swiper-dark-pagination swiper-line-pagination-style-01"
						data-slider-options='{ "slidesPerView": 1, "spaceBetween": 30, "loop": true, "autoplay": { "delay": 2500, "disableOnInteraction": false },  "pagination": { "el": ".slider-four-slide-pagination-1", "clickable": true }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "1200": { "slidesPerView": 4 }, "992": { "slidesPerView": 3 }, "768": { "slidesPerView": 3 }, "576": { "slidesPerView": 2 } }, "effect": "slide" }'
					>
						<div class="swiper-wrapper">
							<!-- start slider item -->
							<div class="swiper-slide">
								<div class="services-box-style-01 hover-box last-paragraph-no-margin">
									<div class="position-relative box-image border-radius-6px">
										<img class="w-100 border-radius-6px" src="assets/images/4£3x.png" alt="" />
										<div class="box-overlay bg-dark-gray"></div>
									</div>
									<div class="pt-30px bg-white text-center">
										<span class="d-inline-block text-dark-gray fs-19 fw-600">Panneaux 4x3</span>
									</div>
								</div>
							</div>
							<!-- end slider item -->
							<!-- start slider item -->
							<div class="swiper-slide">
								<div class="services-box-style-01 hover-box last-paragraph-no-margin">
									<div class="position-relative box-image border-radius-6px">
										<img class="w-100" src="assets/images/sucette-red.jpg" alt="" />
										<div class="box-overlay bg-dark-gray"></div>
									</div>
									<div class="pt-30px bg-white text-center">
										<span class="d-inline-block text-dark-gray fs-19 fw-600">Sucettes</span>
									</div>
								</div>
							</div>
							<!-- end slider item -->
							<!-- start slider item -->
							<div class="swiper-slide">
								<div class="services-box-style-01 hover-box last-paragraph-no-margin">
									<div class="position-relative box-image border-radius-6px">
										<img class="w-100" src="assets/images/DSC_7176.jpg" alt="" />
										<div class="box-overlay bg-dark-gray"></div>
									</div>
									<div class="pt-30px bg-white text-center">
										<span class="d-inline-block text-dark-gray fs-19 fw-600">Unipoles</span>
									</div>
								</div>
							</div>
							<!-- end slider item -->
							<!-- start slider item -->
							<div class="swiper-slide">
								<div class="services-box-style-01 hover-box last-paragraph-no-margin">
									<div class="position-relative box-image border-radius-6px">
										<img class="w-100" src="assets/images/abri.png" alt="" />
										<div class="box-overlay bg-dark-gray"></div>
									</div>
									<div class="pt-30px bg-white text-center">
										<span class="d-inline-block text-dark-gray fs-19 fw-600">Abribus et Abritram</span>
									</div>
								</div>
							</div>
							<!-- end slider item -->
							<!-- start slider item -->
							<div class="swiper-slide">
								<div class="services-box-style-01 hover-box last-paragraph-no-margin">
									<div class="position-relative box-image border-radius-6px">
										<img class="w-100" src="assets/images/habillage-tram-out.jpeg" alt="" />
										<div class="box-overlay bg-dark-gray"></div>
									</div>
									<div class="pt-30px bg-white text-center">
										<span class="d-inline-block text-dark-gray fs-19 fw-600">Habillage des Tramways</span>
									</div>
								</div>
							</div>
							<!-- end slider item -->
							<!-- start slider item -->
							<div class="swiper-slide">
								<div class="services-box-style-01 hover-box last-paragraph-no-margin">
									<div class="position-relative box-image border-radius-6px">
										<img class="w-100" src="assets/images/facades-et-toitures-dimmeubles.jpg" alt="" />
										<div class="box-overlay bg-dark-gray"></div>
									</div>
									<div class="pt-30px bg-white text-center">
										<span class="d-inline-block text-dark-gray fs-19 fw-600">Façades et Toitures d'Immeubles</span>
									</div>
								</div>
							</div>
							<!-- end slider item -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="position-relative overflow-hidden lg-pt-0 pb-25px">
	<div class="position-absolute left-0px top-0px z-index-minus-1" data-bottom-top="transform: translateY(-225px) rotate(0)" data-top-bottom="transform:translateY(225px) rotate(0)">
		<img src="assets/images/crafto-landing-page-bg-06.png" class="w-80" alt="" />
	</div>
	<div class="position-absolute right-0px top-0px z-index-minus-1 text-end" data-bottom-top="transform: translateY(-50px) rotate(0)" data-top-bottom="transform:translateY(50px) rotate(0)">
		<img src="assets/images/crafto-landing-page-bg-05.png" class="w-80" alt="" />
	</div>
	<div class="container">
		<div class="row align-items-center justify-content-center pt-5 pb-5 xl-pb-0 xl-pt-0">
			<div
				class="col-lg-5 col-md-12 mb-0 md-mb-10 sm-mb-15 text-lg-start"
				data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'
			>
				<span
					class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-uppercase text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
					>Commande en ligne</span
				>
				<h3 class="alt-font fw-700 mb-25px ls-minus-1px text-gradient-fast-blue-purple-light-orange">Foire aux questions !</h3>
				<div class="row justify-content-center mb-30px">
					<div class="col-12">
						<div class="accordion accordion-style-02" id="accordion-style-02" data-active-icon="icon-feather-minus" data-inactive-icon="icon-feather-plus">
							<!-- start accordion item -->
							<div class="accordion-item active-accordion">
								<div class="accordion-header border-bottom border-color-extra-medium-gray">
									<a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-04" aria-expanded="false" data-bs-parent="#accordion-style-02">
										<div class="accordion-title mb-0 position-relative text-dark-gray">
											<i class="feather icon-feather-plus"></i><span class="fw-600 fs-18 ls-minus-05px">Comment puis-je créer une campagne d'affichage avec FC Media ? </span>
										</div>
									</a>
								</div>
								<div id="accordion-style-02-04" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
									<div class="accordion-body last-paragraph-no-margin border-bottom border-color-extra-medium-gray">
										<p>Il existe deux façons de créer une campagne avec FC Media :<br /></p>
										<h3 class="fw-600 fs-16 ls-minus-05px text-base-color mb-0">1/ Contactez-nous :</h3>

										<strong> Étape 1 </strong> : Contactez-nous pour discuter de vos besoins et objectifs publicitaires.
										<br />
										<strong> Étape 2 </strong> : Une personne de notre équipe vous sera associée pour préparer une sélection de panneaux en fonction de votre cible.
										<br />
										<strong>Étape 3 </strong> : Après votre sélection des panneaux, nous vous enverrons un devis personnalisé.
										<br />
										<h3 class="fw-600 fs-16 ls-minus-05px text-base-color mb-0">2/ Utilisez notre plateforme en ligne :</h3>

										<strong> Étape 1 </strong> : Accédez à notre plateforme de commande en ligne.
										<br />
										<strong> Étape 2 </strong> : Concevez et lancez votre campagne de manière autonome, en choisissant parmi notre large gamme d'emplacements publicitaires.
										<br />
										<strong>Étape 3 </strong> : Consultez les performances globales des faces sélectionnées pour évaluer leur impact.

										<br />
									</div>
								</div>
							</div>
							<!-- end accordion item -->
							<!-- start accordion item -->
							<div class="accordion-item">
								<div class="accordion-header border-bottom border-color-extra-medium-gray">
									<a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-05" aria-expanded="false" data-bs-parent="#accordion-style-02">
										<div class="accordion-title mb-0 position-relative text-dark-gray">
											<i class="feather icon-feather-plus"></i
											><span class="fw-600 fs-18 ls-minus-05px">Quels sont les avantages de choisir FC Media pour mes campagnes publicitaires ?</span>
										</div>
									</a>
								</div>
								<div id="accordion-style-02-05" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
									<div class="accordion-body last-paragraph-no-margin border-bottom border-color-extra-medium-gray">
										<p style="text-align: left !important">
											<strong> Visibilité Maximale </strong>: Emplacements stratégiques garantissant une exposition optimale.
											<br />
											<strong> Expertise Locale </strong> : Connaissance approfondie du marché marocain et des comportements des consommateurs.<br />
											<strong>Support Client Dédié </strong>: Accompagnement personnalisé à chaque étape de votre campagne.
											<br />
											<strong> Technologie Avancée </strong> Utilisation de la DATA ENRICHED APPROACH permettant de mesurer l'audience de notre inventaire et d'optimiser vos
											campagnes pour maximiser leur efficacité.
										</p>
									</div>
								</div>
							</div>
							<!-- end accordion item -->
							<!-- start accordion item -->
							<div class="accordion-item">
								<div class="accordion-header border-bottom border-color-extra-medium-gray">
									<a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-06" aria-expanded="false" data-bs-parent="#accordion-style-02">
										<div class="accordion-title mb-0 position-relative text-dark-gray">
											<i class="feather icon-feather-plus"></i><span class="fw-600 fs-18 ls-minus-05px">Comment fonctionne la DATA ENRICHED APPROACH ? </span>
										</div>
									</a>
								</div>
								<div id="accordion-style-02-06" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
									<div class="accordion-body last-paragraph-no-margin border-bottom border-color-extra-medium-gray">
										<p>
											<strong>Collecte de données </strong> : Utilisation de données précises et actualisées pour chaque campagne.
											<br />
											<strong>Analyse des performances </strong>: Mesure de l'impact de vos campagnes en termes d'occasions de voir, de portée et de fréquence.
											<br />
											<strong>Optimisation Continue</strong>: Ajustements basés sur les insights pour maximiser l'efficacité de votre campagne.
											<br />
										</p>
									</div>
								</div>
							</div>
							<!-- end accordion item -->
						</div>
					</div>
				</div>
				<a [href]="['foire-aux-questions']" class="btn me-30px btn-dark-gray left-icon btn-extra-large fw-500 btn-rounded btn-switch-text btn-box-shadow">
					<span>
						<span><i class="bi bi-arrow-return-right"></i></span>
						<span class="btn-double-text" data-text="Lire plus">En savoir plus</span>
					</span>
				</a>
			</div>
			<div class="col-lg-6 offset-xl-1 col-md-10 position-relative mt-70px">
				<div class="outside-box-right-5 xxl-me-0 atropos" data-atropos>
					<div class="atropos-scale">
						<div class="atropos-rotate">
							<div class="atropos-inner text-center overflow-visible">
								<div
									data-atropos-offset="-1"
									class="position-absolute top-minus-150px xl-top-minus-80px lg-top-minus-40px xl-right-minus-50px right-minus-150px xs-right-0px xs-top-minus-20px"
								>
									<img src="#" alt="" />
								</div>
								<img data-atropos-offset="1" class="position-relative z-index-9" src="assets/images/qsn.png" alt="" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row position-relative mt-40px xs-mt-20px">
			<div
				class="col swiper swiper-width-auto feather-shadow text-center"
				data-slider-options='{ "slidesPerView": "auto", "spaceBetween":80, "centeredSlides": true, "speed": 30000, "loop": true, "pagination": { "el": ".slider-four-slide-pagination-2", "clickable": false }, "allowTouchMove": false, "autoplay": { "delay":1, "disableOnInteraction": false }, "navigation": { "nextEl": ".slider-four-slide-next-2", "prevEl": ".slider-four-slide-prev-2" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "effect": "slide" }'
			>
				<div class="swiper-wrapper marquee-slide">
					<!-- start slider item -->
					<div class="swiper-slide">
						<div class="fs-170 ls-minus-10px pt-10px pb-10px alt-font fw-600 opacity-1 text-gradient-fast-blue-purple-light-orange">Commandez votre affiche en ligne</div>
					</div>
					<!-- end slider item -->
					<!-- start slider item -->
					<div class="swiper-slide">
						<div class="fs-170 ls-minus-10px pt-10px pb-10px alt-font fw-600 opacity-1 text-gradient-fast-blue-purple-light-orange">en quelques cliques</div>
					</div>
					<!-- end slider item -->
					<!-- start slider item -->
					<div class="swiper-slide">
						<div class="fs-170 ls-minus-10px pt-10px pb-10px alt-font fw-600 opacity-1 text-gradient-fast-blue-purple-light-orange">Votre panneau en ligne</div>
					</div>
					<!-- end slider item -->
				</div>
			</div>
			<div class="col-12 position-absolute top-0 h-100 d-flex justify-content-center align-items-center left-0px z-index-1 text-center">
				<h4 class="alt-font text-dark-gray fs-40 fw-600 ls-minus-1px xs-ls-minus-1px mb-0 mt-40px xs-mt-15px">
					Votre panneau publicitaire <a [href]="['commande-en-ligne']" class="text-dark-gray ls-minus-05px text-decoration-line-bottom fw-600">en ligne?</a
					><i class="feather icon-feather-arrow-right text-dark-gray ms-5px d-none d-md-inline-block"></i>
				</h4>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="position-relative">
	<div class="bg-overlay-slider-bottom"></div>
	<img src="assets/images/crafto-landing-page-img-10.png" class="bottom-60px position-absolute z-index-9 left-0px right-0px mx-auto" alt="" />
	<div class="container">
		<div class="row mb-4 justify-content-center" data-anime='{  "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
			<div class="col-xl-7 col-lg-9 position-relative lg-mb-8 md-mb-30px text-center text-xl-start">
				<div class="text-dark-gray alt-font fs-225 xl-fs-200 lg-fs-170 sm-fs-150 fw-800 ls-minus-10px sm-ls-minus-5px position-relative top-minus-30px xl-top-0px">
					1450<span class="d-inline-block vertical-align-text-top">+</span>
				</div>
				<div class="position-absolute bottom-15px lg-bottom-minus-50px left-90px z-index-minus-1 d-none d-lg-block"><img src="assets/images/crafto-landing-page-img-06.png" alt="" /></div>
			</div>
			<div class="col-xl-5 col-lg-8 text-center text-xl-start">
				<span
					class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-uppercase text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
					>Nos réalisations</span
				>
				<h2 class="alt-font text-dark-gray fw-700 ls-minus-2px mb-20px">Réalisations</h2>
				<p class="fs-17 lh-28">
					Chaque réalisation témoigne de notre engagement à offrir des solutions créatives et innovantes, adaptées aux besoins spécifiques de nos clients. De la conception à l'exécution,
					nous accompagnons nos partenaires dans la réussite de leurs objectifs.
				</p>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 p-0 position-relative">
				<div
					class="swiper"
					data-slider-options='{ "slidesPerView": "1", "spaceBetween":3.5, "centeredSlides": true, "speed": 8000, "loop": true, "allowTouchMove": false, "autoplay": { "delay":1, "disableOnInteraction": false }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "1200": { "slidesPerView":4 }, "992": { "slidesPerView": 3 }, "768": { "slidesPerView": 2 }, "575": { "slidesPerView": 2 } }, "effect": "slide" }'
				>
					<div class="swiper-wrapper marquee-slide">
						<div class="swiper-slide">
							<img class="w-100" src="assets/images/1.jpg" alt="" />
						</div>
						<div class="swiper-slide">
							<img class="w-100" src="assets/images/2.webp" alt="" />
						</div>
						<div class="swiper-slide">
							<img class="w-100" src="assets/images/3-3.jpg" alt="" />
						</div>
						<div class="swiper-slide">
							<img class="w-100" src="assets/images/5-53x62x.jpg" alt="" />
						</div>
						<div class="swiper-slide">
							<img class="w-100" src="assets/images/200215.png" alt="" />
						</div>
						<div class="swiper-slide">
							<img class="w-100" src="assets/images/2.png" alt="" />
						</div>
						<div class="swiper-slide">
							<img class="w-100" src="assets/images/4-4.jpg" alt="" />
						</div>
						<div class="swiper-slide">
							<img class="w-100" src="assets/images/5-53x62x.jpg" alt="" />
						</div>
						<div class="swiper-slide">
							<img class="w-100" src="assets/images/200215.png" alt="" />
						</div>
						<div class="swiper-slide">
							<img class="w-100" src="assets/images/2.png" alt="" />
						</div>
						<div class="swiper-slide">
							<img class="w-100" src="assets/images/5-53x62x.jpg" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->

<section class="pt-0" id="contact">
	<div class="container">
		<div class="row justify-content-center box-shadow-quadruple-large border-radius-6px overflow-hidden g-0">
			<!-- start contact address -->
			<div class="col-lg-6">
				<div
					class="p-15 lg-p-13 md-p-10 bg-white h-100 background-position-right-bottom background-no-repeat xs-background-image-none"
					style="background-image: url('assets/images/Logo_FC_Media-small.png')"
				>
					<span class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
						>FC Media</span
					>
					<h3 class="alt-font text-dark-gray fw-600">Data Enriched Approach (DEA)</h3>
					<div class="mt-11">
						<p class="fs-17 lh-28 ms-xl-0 mx-auto">
							Notre approche "Data Enriched" va au-delà des simples impressions publicitaires. En exploitant des données précises et actualisées, nous quantifions l'impact de vos
							campagnes publicitaires avec précision. De l'occasion de voir à la portée de votre campagne, en passant par la fréquence à laquelle elle est vue par un même individu, nous
							transformons les données en informations tangibles pour optimiser vos stratégies publicitaires.
						</p>
					</div>
					<a [routerLink]="['data-enriched-approach']" class="mt-9 btn btn-dark-gray left-icon btn-extra-large fw-500 btn-rounded btn-switch-text btn-box-shadow">
						<span>
							<span><i class="bi bi-arrow-return-right"></i></span>
							<span class="btn-double-text" data-text="Lire plus">En savoir plus</span>
						</span>
					</a>
				</div>
			</div>
			<!-- end contact address -->
			<div class="col-lg-6 contact-form-style-03">
				<div class="p-15 lg-p-13 md-p-10 bg-dark-gray h-100">
					<h1 class="fs-60 fw-600 alt-font text-white fancy-text-style-4 ls-minus-1px">
						Besoin<br />
						<span data-fancy-text='{ "effect": "rotate", "string": ["d&#39;information", "d&#39;aide"] }'></span>
					</h1>
					<!-- start contact form -->
					<app-dea-form></app-dea-form>
					<!-- end contact form -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->
