<!-- start page title -->
<section class="ipad-top-space-margin" style="background-image: url(assets/images/image-1.png)">
	<div class="container position-relative">
		<div
			class="row justify-content-center align-items-lg-end extra-very-small-screen"
			data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
		>
			<div class="col-lg-6 position-relative page-title-extra-large md-mb-30px sm-mb-20px z-index-9">
				<h1 class="text-white fw-600 mb-0 alt-font highlight-separator-small">
					<span class="highlight-separator mb-0 pb-0" data-shadow-animation="true" data-animation-delay="500">Commande en ligne</span>
				</h1>
			</div>
			<div class="col-lg-6">
				<p class="fs-20 lh-32 text-white opacity-7 w-90 lg-w-100 md-w-80 mb-0">FC Media : La nouvelle frontière de l’Affichage</p>
			</div>
		</div>
	</div>
</section>
<!-- end page title -->

<!-- start section -->
<section class="position-relative">
	<div class="container">
		<div
			class="row justify-content-center mb-2"
			data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
		>
			<div class="col-xxl-6 col-xl-7 col-lg-8 col-md-9 text-center">
				<div
					class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-uppercase text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
				>
					Plateforme de commande en ligne
				</div>
				<h3 class="fs-40 alt-font fw-700 mb-25px ls-minus-1px text-gradient-fast-blue-purple-light-orange">FC Media : La nouvelle frontière de l’Affichage Urbain</h3>
				<p>
					Découvrez l'avenir de l'affichage urbain avec FC Media. Notre plateforme de commande en ligne révolutionne la façon dont vous menez vos campagnes publicitaires en quelques clics
					seulement. Plus besoin de passer par des processus complexes, notre plateforme intuitive vous donne un accès privilégié à des campagnes d'affichage percutantes, conçues pour
					briller dans les environnements urbains dynamiques.
				</p>
			</div>
		</div>
		<div class="row justify-content-center mb-50px" data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
			<div class="col-12">
				<div
					class="border-radius-6px h-450px md-h-350px sm-h-400px d-flex flex-wrap align-items-center justify-content-center overflow-hidden cover-background box-shadow-quadruple-large pt-15"
					style="background-image: url('assets/images/bg-video.jpg')"
				>
					<div class="opacity-full-dark bg-gradient-regal-blue-transparent"></div>
					<div class="row justify-content-center m-0">
						<div class="col-md-12 position-relative z-index-1 text-center sm-mb-20px">
							<a
								href="assets/video/FC-Media-Walkthru-VIDEO-new.mp4"
								class="top-minus-100px position-relative d-inline-block text-center border border-2 border-color-base-color rounded-circle video-icon-box video-icon-large popup-youtube"
							>
								<span>
									<span class="video-icon">
										<i class="fa-solid fa-play fs-20 text-base-color"></i>
									</span>
								</span>
							</a>
						</div>
					</div>
					<div class="w-100 text-center position-relative mt-auto pt-20px pb-25px ps-15px pe-15px border-top border-color-transparent-white-light">
						<div class="fs-14 text-uppercase text-dark-gray fw-600 ls-05px">
							Pour une expérience de commande en ligne fluide & sans effort,
							<a href="assets/video/FC-Media-Walkthru-VIDEO-new.mp4" class="popup-youtube text-decoration-line-bottom text-base-color">regardez notre vidéo explicative.</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="row row-cols-1 row-cols-lg-2 justify-content-center"
			data-anime='{ "el": "childs", "perspective": [1200,1200], "translateY": [30, 0], "scale": [1.05, 1], "rotateX": [30, 0], "opacity": [0,1], "duration": 800, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
		>
			<!-- start features box item -->
			<div class="col icon-with-text-style-02 transition-inner-all mb-30px">
				<div class="h-100 feature-box feature-box-left-icon text-start bg-light-red border-radius-4px ps-6 pe-6 pt-8 pb-8 overflow-hidden last-paragraph-no-margin xs-pe-5 xs-ps-5">
					<div class="feature-box-icon">
						<i class="bi bi-bar-chart-line-fill align-middle icon-large text-red"></i>
					</div>
					<div class="feature-box-content">
						<span class="d-inline-block alt-font text-dark-gray fs-20 fw-600 mb-5px">Création de Campagnes Simplifiée </span>
						<p class="w-100">
							Notre interface intuitive simplifie la création de campagnes d'affichage. <br />En quelques minutes seulement, vous pouvez concevoir des campagnes qui captivent votre
							public cible. <br />De plus, vous bénéficiez d'une vision détaillée de l'audience de chaque panneau grâce à notre approche "Data Enriched".
						</p>
					</div>
				</div>
			</div>
			<!-- end features box item -->
			<!-- start features box item -->
			<div class="col icon-with-text-style-02 transition-inner-all mb-30px">
				<div class="h-100 feature-box feature-box-left-icon text-start bg-crusoe-green border-radius-4px ps-6 pe-6 pt-8 pb-8 overflow-hidden last-paragraph-no-margin xs-pe-5 xs-ps-5">
					<div class="feature-box-icon">
						<i class="bi bi-database-fill-up align-middle icon-large text-green"></i>
					</div>
					<div class="feature-box-content">
						<span class="d-inline-block alt-font text-dark-gray fs-20 fw-600 mb-5px">Approche Data Enriched </span>
						<p class="w-100">
							Notre approche "Data Enriched" va au-delà des simples impressions publicitaires. En exploitant des données précises et actualisées, nous quantifions l'impact de vos
							campagnes publicitaires avec précision. De l'occasion de voir à la portée de votre campagne, en passant par la fréquence à laquelle elle est vue par un même individu, nous
							transformons les données en informations tangibles pour optimiser vos stratégies publicitaires.
						</p>
					</div>
				</div>
			</div>
			<!-- end features box item -->
			<!-- start features box item -->
			<div class="col icon-with-text-style-02 transition-inner-all mb-30px">
				<div
					class="h-100 feature-box feature-box-left-icon text-start bg-light-majorelle-blue border-radius-4px ps-6 pe-6 pt-8 pb-8 overflow-hidden last-paragraph-no-margin position-relative xs-pe-5 xs-ps-5"
				>
					<div class="feature-box-icon">
						<i class="bi bi-pin-map-fill align-middle icon-large text-purple"></i>
					</div>
					<div class="feature-box-content">
						<span class="d-block alt-font text-dark-gray fs-20 fw-600 mb-5px">Large Choix d'Emplacements </span>
						<p class="w-100">
							Parcourez notre réseau d'emplacements soigneusement sélectionnés à travers tout le territoire du royaume. Avec une diversité d'emplacements garantissant une visibilité
							maximale, vous pouvez choisir les sites qui correspondent le mieux à votre stratégie publicitaire.
						</p>
					</div>
				</div>
			</div>
			<!-- end features box item -->
			<!-- start features box item -->
			<div class="col icon-with-text-style-02 transition-inner-all mb-30px">
				<div class="h-100 feature-box feature-box-left-icon text-start bg-orange-light border-radius-4px ps-6 pe-6 pt-8 pb-8 overflow-hidden last-paragraph-no-margin xs-pe-5 xs-ps-5">
					<div class="feature-box-icon">
						<i class="bi bi-cash-stack align-middle icon-large text-orange"></i>
					</div>
					<div class="feature-box-content">
						<span class="d-inline-block alt-font text-dark-gray fs-20 fw-600 mb-5px">Contrôle Total du Budget </span>
						<p class="w-100">
							Maîtrisez vos dépenses publicitaires avec précision et flexibilité grâce à notre plateforme. Bénéficiez de nos nouvelles technologies de mesure d'audience pour une
							visibilité claire sur les performances de chaque campagne. Avec un contrôle total du budget, vous pouvez optimiser vos dépenses et maximiser l'efficacité de vos campagnes.
						</p>
					</div>
				</div>
			</div>
			<!-- end features box item -->
			<a href="https://sales.fcmedia.ma/" target="_blank" class="btn btn-dark-gray left-icon btn-extra-large fw-500 btn-rounded btn-switch-text btn-box-shadow">
				<span>
					<span><i class="bi bi-arrow-return-right"></i></span>
					<span class="btn-double-text" data-text="Passer commande">commander maintenant</span>
				</span>
			</a>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="overflow-hidden position-relative bg-linen py-5 lg-pt-8 lg-pb-8" style="background-image: url('assets/images/demo-seo-agency-bg-02.jpg')">
	<div
		id="particles-style-02"
		class="h-100 position-absolute left-0px top-0 w-100"
		data-particle="true"
		data-particle-options='{"particles": {"number": {"value": 18,"density": {"enable": true,"value_area": 2000}},"color": {"value": ["#8f76f5", "#a65cef", "#c74ad2", "#e754a4", "#ff6472"]},"shape": {"type": "circle","stroke":{"width":0,"color":"#000000"}},"opacity": {"value": 0.3,"random": false,"anim": {"enable": false,"speed": 1,"sync": false}},"size": {"value": 8,"random": true,"anim": {"enable": false,"sync": true}},"line_linked":{"enable":false,"distance":0,"color":"#ffffff","opacity":0.4,"width":1},"move": {"enable": true,"speed":1,"direction": "right","random": false,"straight": false}},"interactivity": {"detect_on": "canvas","events": {"onhover": {"enable": false,"mode": "repulse"},"onclick": {"enable": false,"mode": "push"},"resize": true}},"retina_detect": false}'
	></div>
	<div class="container">
		<div class="row align-items-center ps-50px pe-50px lg-px-0 position-relative z-index-1 justify-content-md-center">
			<div class="col-lg-6 md-mb-50px">
				<div class="row">
					<div class="col-sm-12 xs-mb-30px">
						<img
							src="assets/images/iStock-1450058572.jpg"
							class="w-100 box-shadow-quadruple-large border-radius-10px"
							data-bottom-top="transform: translateY(-250px)"
							data-top-bottom="transform: translateY(200px)"
							alt=""
						/>
					</div>
				</div>
			</div>
			<div class="col-lg-5 offset-lg-1 col-md-8 text-center text-lg-start">
				<h3 class="fs-40 lh-35 fw-800 text-dark-gray ls-minus-1px">Contactez-nous dès aujourd'hui</h3>
				<span class="fs-18 xl-w-100 d-block mb-35px"
					>Prêt à explorer l'avenir de l'affichage urbain ? Contactez-nous dès aujourd'hui pour découvrir comment FC Media peut transformer vos campagnes publicitaires. Avec notre plateforme
					révolutionnaire, notre expertise en affichage urbain et notre engagement envers votre succès, nous sommes prêts à vous aider à atteindre de nouveaux sommets en matière de
					visibilité et d'impact publicitaire.
				</span>
				<a href="https://sales.fcmedia.ma/" target="_blank" class="btn btn-dark-gray left-icon btn-extra-large fw-500 btn-rounded btn-switch-text btn-box-shadow">
					<span>
						<span><i class="bi bi-arrow-return-right"></i></span>
						<span class="btn-double-text" data-text="Passer commande">commander maintenant</span>
					</span>
				</a>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="" id="contact">
	<div class="container">
		<div class="row justify-content-center box-shadow-quadruple-large border-radius-6px overflow-hidden g-0">
			<!-- start contact address -->
			<div class="col-lg-6">
				<div
					class="p-15 lg-p-13 md-p-10 bg-white h-100 background-position-right-bottom background-no-repeat xs-background-image-none"
					style="background-image: url('assets/images/Logo_FC_Media-small.png')"
				>
					<span class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
						>FC Media</span
					>
					<h3 class="alt-font text-dark-gray fw-600">Data Enriched Approach (DEA)</h3>
					<div class="mt-11">
						<p class="fs-17 lh-28 ms-xl-0 mx-auto">
							Notre approche "Data Enriched" va au-delà des simples impressions publicitaires. En exploitant des données précises et actualisées, nous quantifions l'impact de vos
							campagnes publicitaires avec précision. De l'occasion de voir à la portée de votre campagne, en passant par la fréquence à laquelle elle est vue par un même individu, nous
							transformons les données en informations tangibles pour optimiser vos stratégies publicitaires.
						</p>
					</div>
					<a [routerLink]="['data-enriched-approach']" class="mt-9 btn btn-dark-gray left-icon btn-extra-large fw-500 btn-rounded btn-switch-text btn-box-shadow">
						<span>
							<span><i class="bi bi-arrow-return-right"></i></span>
							<span class="btn-double-text" data-text="Lire plus">En savoir plus</span>
						</span>
					</a>
				</div>
			</div>
			<!-- end contact address -->
			<div class="col-lg-6 contact-form-style-03">
				<div class="p-15 lg-p-13 md-p-10 bg-dark-gray h-100">
					<h1 class="fs-60 fw-600 alt-font text-white fancy-text-style-4 ls-minus-1px">
						Besoin<br />
						<span data-fancy-text='{ "effect": "rotate", "string": ["d&#39;information", "d&#39;aide"] }'></span>
					</h1>
					<!-- start contact form -->
					<app-dea-form></app-dea-form>
					<!-- end contact form -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->
