<!-- start page title -->
<section class="ipad-top-space-margin" style="background-image: url(assets/images/image-1.png)">
	<div class="container position-relative">
		<div
			class="row justify-content-center align-items-lg-end extra-very-small-screen"
			data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
		>
			<div class="col-lg-6 position-relative page-title-extra-large md-mb-30px sm-mb-20px z-index-9">
				<h1 class="text-white fw-600 mb-0 alt-font highlight-separator-small">
					<span class="highlight-separator mb-0 pb-0" data-shadow-animation="true" data-animation-delay="500">Programmatique</span>
				</h1>
			</div>
			<div class="col-lg-6"></div>
		</div>
	</div>
</section>
<!-- end page title -->

<!-- start section -->
<section class="pb-0 overflow-hidden">
	<div class="container">
		<div class="row align-items-center justify-content-center">
			<div class="col-lg-7 position-relative text-center md-mb-30px" data-anime='{ "effect": "slide", "color": "#ffffff", "direction":"lr", "easing": "easeOutQuad", "delay":50}'>
				<figure>
					<div class="atropos" data-atropos>
						<div class="atropos-scale">
							<div class="atropos-rotate">
								<div class="atropos-inner">
									<img data-atropos-offset="5" src="assets/images/shutterstock_2340746501-_1_.webp" alt="" />
								</div>
							</div>
						</div>
					</div>
					<figcaption class="position-absolute bottom-130px sm-bottom-100px xs-bottom-80px right-0px sm-right-minus-40px xs-right-minus-30px xs-w-80 z-index-9">
						<img src="assets/images/logo-fcmedia--.png" class="animation-float" alt="" />
					</figcaption>
				</figure>
			</div>
			<div
				class="col-lg-5 text-center text-lg-start ps-40px lg-ps-15px"
				data-anime='{ "el": "childs", "opacity": [0, 1], "rotateY": [-90, 0], "rotateZ": [-10, 0], "translateY": [80, 0], "translateZ": [50, 0], "staggervalue": 200, "duration": 900, "easing": "easeOutCirc" }'
			>
				<div
					class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-uppercase text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
				>
					L'Innovation au Cœur de FC Media
				</div>
				<h3 class="fs-40 alt-font fw-700 mb-25px ls-minus-1px text-gradient-fast-blue-purple-light-orange">Notre Engagement envers le Programmatique en Affichage</h3>
				<p class="w-90 xs-w-100 mx-auto mx-lg-0">
					Chez FC Media, nous croyons en l'innovation comme moteur de progrès dans le domaine de la publicité. C'est pourquoi nous avons développé et intégré le programmatique en affichage
					au cœur de nos stratégies publicitaires. Cette avancée technologique révolutionnaire redéfinit la manière dont nous interagissons avec notre public, offrant des opportunités
					inégalées en termes de ciblage, de flexibilité et de performance.
				</p>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="position-relative">
	<div class="container-fluid overflow-hidden">
		<div class="row">
			<div class="p-0 position-absolute left-0px top-100px text-end w-auto xs-w-150px" data-bottom-top="transform: translateY(-100px)" data-top-bottom="transform: translateY(100px)">
				<img src="assets/images/demo-application-about-bg-left.png" alt="" />
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row align-items-center justify-content-center position-relative z-index-1">
			<div
				class="col-lg-5 text-center text-lg-start ps-40px lg-ps-15px"
				data-anime='{ "el": "childs", "opacity": [0, 1], "rotateY": [-90, 0], "rotateZ": [-10, 0], "translateY": [80, 0], "translateZ": [50, 0], "staggervalue": 200, "duration": 900, "easing": "easeOutCirc" }'
			>
				<div
					class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-uppercase text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
				>
					Le Programmatique en Affichage
				</div>
				<h3 class="fs-40 alt-font fw-700 mb-25px ls-minus-1px text-gradient-fast-blue-purple-light-orange">Une Révolution Digitale</h3>
				<p class="w-90 xs-w-100 mx-auto mx-lg-0">
					Le programmatique en affichage représente une véritable révolution dans le paysage publicitaire. Contrairement aux méthodes traditionnelles d'achat d'espaces publicitaires, le
					programmatique nous permet de diffuser des annonces de manière automatisée et en temps réel, en utilisant des algorithmes complexes pour optimiser chaque impression.
				</p>
			</div>
			<div class="col-xl-7 col-lg-7 col-md-6 position-relative atropos" data-atropos>
				<div class="atropos-scale">
					<div class="atropos-rotate">
						<div class="atropos-inner text-center">
							<img
								data-atropos-offset="5"
								class="position-relative z-index-9 right-minus-50px lg-right-minus-20px xs-right-0px"
								src="assets/images/shutterstock_2465033545-_1_.webp"
								alt=""
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid overflow-hidden">
		<div class="row">
			<div
				class="p-0 overlap-section position-absolute right-0px top-minus-100px text-end w-auto xs-w-180px"
				data-bottom-top="transform: translateY(100px)"
				data-top-bottom="transform: translateY(-100px)"
			>
				<img src="assets/images/demo-application-about-bg-right.png" alt="" />
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="p-0 position-relative">
	<div class="container">
		<div
			class="row justify-content-center mb-2"
			data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
		>
			<div class="col-xxl-6 col-xl-7 col-lg-8 col-md-9 text-center">
				<div
					class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-uppercase text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
				>
					Programmatique
				</div>
				<h3 class="fs-40 alt-font fw-700 mb-25px ls-minus-1px text-gradient-fast-blue-purple-light-orange">Les Avantages du Programmatique en Affichage avec FC Media</h3>
				<p>En choisissant FC Media, nos clients bénéficient de nombreux avantages offerts par le programmatique en affichage :</p>
			</div>
		</div>
		<div
			class="row row-cols-1 row-cols-lg-2 justify-content-center mb-2"
			data-anime='{ "el": "childs", "perspective": [1200,1200], "translateY": [30, 0], "scale": [1.05, 1], "rotateX": [30, 0], "opacity": [0,1], "duration": 800, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
		>
			<!-- start features box item -->
			<div class="col icon-with-text-style-02 transition-inner-all mb-30px">
				<div class="h-100 feature-box feature-box-left-icon text-start bg-light-red border-radius-4px ps-6 pe-6 pt-8 pb-8 overflow-hidden last-paragraph-no-margin xs-pe-5 xs-ps-5">
					<div class="feature-box-icon">
						<h1 class="alt-font fs-80 text-outline text-outline-width-1px text-outline-color-dark-gray fw-800 ls-minus-1px opacity-2 mb-0">01</h1>
					</div>
					<div class="feature-box-content">
						<span class="d-inline-block alt-font text-dark-gray fs-20 fw-600 mb-5px">Ciblage Précis et Personnalisé</span>
						<p class="w-100">
							Grâce à notre utilisation de données avancées, nous pouvons cibler précisément les audiences les plus pertinentes pour chaque campagne publicitaire, garantissant ainsi un
							impact maximal.
						</p>
					</div>
				</div>
			</div>
			<!-- end features box item -->
			<!-- start features box item -->
			<div class="col icon-with-text-style-02 transition-inner-all mb-30px">
				<div class="h-100 feature-box feature-box-left-icon text-start bg-crusoe-green border-radius-4px ps-6 pe-6 pt-8 pb-8 overflow-hidden last-paragraph-no-margin xs-pe-5 xs-ps-5">
					<div class="feature-box-icon">
						<h1 class="alt-font fs-80 text-outline text-outline-width-1px text-outline-color-dark-gray fw-800 ls-minus-1px opacity-2 mb-0">02</h1>
					</div>
					<div class="feature-box-content">
						<span class="d-inline-block alt-font text-dark-gray fs-20 fw-600 mb-5px">Flexibilité et Réactivité</span>
						<p class="w-100">
							Nous offrons à nos clients une flexibilité sans précédent dans la gestion de leurs campagnes publicitaires. Ils peuvent ajuster leurs stratégies en temps réel, réagir aux
							tendances émergentes et optimiser leurs performances de manière dynamique.
						</p>
					</div>
				</div>
			</div>
			<!-- end features box item -->
			<!-- start features box item -->
			<div class="col icon-with-text-style-02 transition-inner-all mb-30px">
				<div
					class="h-100 feature-box feature-box-left-icon text-start bg-light-majorelle-blue border-radius-4px ps-6 pe-6 pt-8 pb-8 overflow-hidden last-paragraph-no-margin position-relative xs-pe-5 xs-ps-5"
				>
					<div class="feature-box-icon">
						<h1 class="alt-font fs-80 text-outline text-outline-width-1px text-outline-color-dark-gray fw-800 ls-minus-1px opacity-2 mb-0">03</h1>
					</div>
					<div class="feature-box-content">
						<span class="d-block alt-font text-dark-gray fs-20 fw-600 mb-5px">Optimisation des Performances</span>
						<p class="w-100">
							Grâce à notre approche basée sur les données, nous sommes en mesure d'optimiser continuellement les performances de chaque campagne, en analysant les résultats en temps
							réel et en ajustant les stratégies en conséquence.
						</p>
					</div>
				</div>
			</div>
			<!-- end features box item -->
			<!-- start features box item -->
			<div class="col icon-with-text-style-02 transition-inner-all mb-30px">
				<div class="h-100 feature-box feature-box-left-icon text-start bg-orange-light border-radius-4px ps-6 pe-6 pt-8 pb-8 overflow-hidden last-paragraph-no-margin xs-pe-5 xs-ps-5">
					<div class="feature-box-icon">
						<h1 class="alt-font fs-80 text-outline text-outline-width-1px text-outline-color-dark-gray fw-800 ls-minus-1px opacity-2 mb-0">04</h1>
					</div>
					<div class="feature-box-content">
						<span class="d-inline-block alt-font text-dark-gray fs-20 fw-600 mb-5px">Transparence et Mesure d'Impact</span>
						<p class="w-100">
							Nous offrons à nos clients une visibilité totale sur leurs campagnes publicitaires, en fournissant des rapports détaillés sur les performances et les résultats, leur
							permettant ainsi de mesurer précisément l'impact de leurs investissements publicitaires.
						</p>
					</div>
				</div>
			</div>
			<!-- end features box item -->
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="" id="contact">
	<div class="container">
		<div class="row justify-content-center box-shadow-quadruple-large border-radius-6px overflow-hidden g-0">
			<!-- start contact address -->
			<div class="col-lg-6">
				<div
					class="p-15 lg-p-13 md-p-10 bg-white h-100 background-position-right-bottom background-no-repeat xs-background-image-none"
					style="background-image: url('assets/images/Logo_FC_Media-small.png')"
				>
					<span class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
						>FC Media</span
					>
					<h3 class="alt-font text-dark-gray fw-600">Data Enriched Approach (DEA)</h3>
					<div class="mt-11">
						<p class="fs-17 lh-28 ms-xl-0 mx-auto">
							Notre approche "Data Enriched" va au-delà des simples impressions publicitaires. En exploitant des données précises et actualisées, nous quantifions l'impact de vos
							campagnes publicitaires avec précision. De l'occasion de voir à la portée de votre campagne, en passant par la fréquence à laquelle elle est vue par un même individu, nous
							transformons les données en informations tangibles pour optimiser vos stratégies publicitaires.
						</p>
					</div>
					<a [routerLink]="['data-enriched-approach']" class="mt-9 btn btn-dark-gray left-icon btn-extra-large fw-500 btn-rounded btn-switch-text btn-box-shadow">
						<span>
							<span><i class="bi bi-arrow-return-right"></i></span>
							<span class="btn-double-text" data-text="Lire plus">En savoir plus</span>
						</span>
					</a>
				</div>
			</div>
			<!-- end contact address -->
			<div class="col-lg-6 contact-form-style-03">
				<div class="p-15 lg-p-13 md-p-10 bg-dark-gray h-100">
					<h1 class="fs-60 fw-600 alt-font text-white fancy-text-style-4 ls-minus-1px">
						Besoin<br />
						<span data-fancy-text='{ "effect": "rotate", "string": ["d&#39;information", "d&#39;aide"] }'></span>
					</h1>
					<!-- start contact form -->
					<app-dea-form></app-dea-form>
					<!-- end contact form -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->
