<!-- start section -->
<section class="bg-dark-gray background-position-center-top" style="background-image: url('assets/images/Background-fc-media-baner--2.png')">
	<div class="container">
		<div
			class="row justify-content-center align-items-lg-end extra-very-small-screen"
			data-anime='{ "el": "childs", "translateX": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'
		>
			<div class="col-lg-5 md-mb-50px sm-mb-30px">
				<span class="text-base-color fs-12 fw-600 ls-3px text-uppercase mb-5px d-block">Contactez-nous</span>
				<h4 class="text-white fw-600 mb-0">Contactez-nous pour plus d'informations</h4>
			</div>
			<div class="col-lg-5 col-sm-5 offset-lg-1 last-paragraph-no-margin xs-mb-30px">
				<span class="text-base-color fs-12 fw-600 ls-3px text-uppercase">Infos</span>
				<p class="w-90 lg-w-100 md-w-75 sm-w-85 xs-w-100 mb-15px">Casablanca Marina – Bd Sidi Mohamed Ben Abdellah, Tour Ivoire 1, 2ème étage</p>
				<div class="text-white"><i class="feather icon-feather-phone-call icon-very-small me-10px"></i><a href="tel:+212522977720" class="text-white">+212 522 977 720</a></div>
				<div class="text-white">
					<i class="feather icon-feather-mail icon-very-small me-10px"></i><a href="mailto:contact@fcmedia.ma" class="text-white text-decoration-line-bottom">contact&#64;fcmedia.ma</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="p-0 bg-dark-gray">
	<div class="container-fluid p-0">
		<div class="row g-0 overlap-height">
			<div class="col-12" data-0-top="opacity:.3;" data-15-bottom="opacity:1;">
				<iframe
					id="map"
					class="map"
					src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13291.413818415842!2d-7.6257135!3d33.6091066!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda632ee63dcf59f%3A0xc6d4dfc426ac354f!2sFC%20Media!5e0!3m2!1sfr!2sma!4v1718280276846!5m2!1sfr!2sma"
					width="100%"
					style="border: 0"
					allowfullscreen=""
					loading="lazy"
					referrerpolicy="no-referrer-when-downgrade"
				></iframe>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section
	class="bg-dark-gray background-position-center-top position-relative"
	style="background-image: url('images/demo-architecture-dotted-pattern.svg')"
	data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 500, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'
>
	<div class="container">
		<div class="row justify-content-center overlap-section overlap-section-three-fourth">
			<div class="col-lg-10">
				<div class="p-9 sm-p-7 bg-dark-gray">
					<app-contact-form></app-contact-form>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->
