<!-- start page title -->
<section class="ipad-top-space-margin" style="background-image: url(assets/images/image-1.png)">
	<div class="container position-relative">
		<div
			class="row justify-content-center align-items-lg-end extra-very-small-screen"
			data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
		>
			<div class="col-lg-12 d-flex justify-content-between align-items-center">
				<h1 class="text-white fw-600 mb-0 alt-font highlight-separator-small">
					<span class="highlight-separator mb-0 pb-0" data-shadow-animation="true" data-animation-delay="500">Pierre Fabre</span>
				</h1>
				<img src="assets/images/logo-pierre-fabre-s.png" alt="Logo" class="img-fluid" width="15%" height="20%" />
			</div>
		</div>
	</div>
</section>
<!-- end page title -->

<!-- start section -->
<section class="pb-0">
	<div class="container">
		<div class="row justify-content-center" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
			<div class="col-lg-10 mb-6 sm-mb-35px last-paragraph-no-margin">
				<h4 class="alt-font fw-600 text-dark-gray w-90 md-w-100">Analyse de la Campagne OOH "Pierre Fabre"</h4>
				<br />
				<h6><b>Chiffres Clés</b></h6>
				<li>Occasions de Voir (ODV) : 120.29 millions, indiquant une excellente visibilité.</li>
				<li>Reach : 2.23 millions, montrant une couverture efficace dans les villes ciblées.</li>
				<li>Fréquence Moyenne : 53.93, assurant une répétition significative du message.</li>
				<br />
				<h6><b>Profil de l'Audience</b></h6>
				<li>Répartition Hommes/Femmes : Une audience presque équilibrée avec 50,28% de femmes et 49,72% d'hommes.</li>
				<li style="list-style: none">Segments de Consommateurs Ciblés :</li>
				<li>Navetteurs : 37%, ce qui reflète la présence dans des zones à fort trafic.</li>
				<li>Chercheurs de Soins de Santé : 28%, directement aligné avec le secteur de Pierre Fabre.</li>
				<br />
				<h6><b>Analyse des Performances</b></h6>
				<li>Stratégie de Diffusion : La large couverture et le placement stratégique des panneaux ont assuré une visibilité maximale.</li>
				<li>Timing et Périod : La campagne a profité d'une période printanière, idéale pour attirer l'attention sur les produits de bien-être.</li>
				<li>
					Impact Global : La campagne a réussi à atteindre ses objectifs en termes de reach et de fréquence, renforçant ainsi la notoriété et l'engagement des consommateurs pour la marque
					Pierre Fabre.
				</li>
				<br />
				<h6><b>Conclusion</b></h6>
				<p>
					La campagne OOH de Pierre Fabre a été très efficace, avec une large couverture et une bonne fréquence d'exposition dans les quatre villes ciblées. Le choix des emplacements et le
					timing de la campagne ont permis à la marque de capter l'attention de ses segments cibles, consolidant ainsi sa présence sur le marché marocain.
				</p>
			</div>
			<div class="col-lg-10 mb-6 sm-mb-35px last-paragraph-no-margin text-center">
				<img src="assets/images/blog-pierre.webp" class="mb-20px" alt="" />
				<div class="h-1px w-100 bg-extra-medium-gray"></div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->
<!-- start section -->
<section class="half-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10">
				<div class="row justify-content-center">
					<div class="col-12 text-center elements-social social-icon-style-04">
						<ul class="medium-icon dark">
							<li>
								<a class="facebook" href="https://www.facebook.com/profile.php?id=61558505231368" target="_blank"><i class="fa-brands fa-facebook-f"></i><span></span></a>
							</li>
							<li>
								<a class="instagram" href="https://www.instagram.com/fcmedia.ma?igsh=MXJ2MDRnM3R1dXJ6Mg%3D%3D" target="_blank"><i class="fa-brands fa-instagram"></i><span></span></a>
							</li>
							<li>
								<a class="linkedin" href="https://www.linkedin.com/company/fc-media-maroc" target="_blank"><i class="fa-brands fa-linkedin-in"></i><span></span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->
