<!-- start page title -->
<section class="ipad-top-space-margin" style="background-image: url(assets/images/image-1.png)">
	<div class="container position-relative">
		<div
			class="row justify-content-center align-items-lg-end extra-very-small-screen"
			data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
		>
			<div class="col-lg-6 position-relative page-title-extra-large md-mb-30px sm-mb-20px z-index-9">
				<h1 class="text-white fw-600 mb-0 alt-font highlight-separator-small">
					<span class="highlight-separator mb-0 pb-0" data-shadow-animation="true" data-animation-delay="500">Nos engagements</span>
				</h1>
			</div>
			<div class="col-lg-6">
				<p class="fs-20 lh-32 text-white opacity-7 w-90 lg-w-100 md-w-80 mb-0">Bienvenue dans l'univers de FC Media</p>
			</div>
		</div>
	</div>
</section>
<!-- end page title -->

<!-- start section -->
<section class="pb-0">
	<div class="container">
		<div class="row mb-8 border-bottom border-2 border-color-light-medium-gray">
			<div
				class="col-xl-3 col-lg-4 col-md-8 md-mt-15px"
				data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
			>
				<h3 class="fs-40 alt-font fw-700 mb-25px ls-minus-1px text-gradient-fast-blue-purple-light-orange">Leadership</h3>
			</div>
			<div
				class="col-lg-8 offset-xl-1 md-mt-20px"
				data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
			>
				<p>
					Pour FC Media, le leadership va bien au-delà de la simple position de leader sur le marché. C'est une culture d'inspiration et de motivation qui guide chaque action que nous
					entreprenons. Nous nous efforçons d'être des pionniers dans notre secteur, en anticipant les tendances émergentes, en explorant de nouveaux territoires et en repoussant sans cesse
					les limites de l'innovation. Notre leadership se manifeste également dans notre capacité à inspirer et à mobiliser notre équipe, ainsi que dans notre engagement envers l'excellence
					opérationnelle et le service client de premier ordre.
				</p>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="p-0">
	<div class="container">
		<div class="row mb-8 border-bottom border-2 border-color-light-medium-gray">
			<div
				class="col-xl-3 col-lg-4 col-md-8 md-mt-15px"
				data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
			>
				<h3 class="fs-40 alt-font fw-700 mb-25px ls-minus-1px text-gradient-fast-blue-purple-light-orange">Transparence</h3>
			</div>
			<div
				class="col-lg-8 offset-xl-1 md-mt-20px"
				data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
			>
				<p>
					La transparence est au cœur de notre relation avec nos clients, nos partenaires et nos employés. Nous croyons fermement en l'importance de l'honnêteté et de la clarté dans toutes
					nos interactions. Cela signifie être ouvert et honnête dans la communication, partager des informations pertinentes de manière équitable et traiter toutes les parties prenantes
					avec respect et équité. Notre engagement envers la transparence renforce la confiance mutuelle et favorise des relations durables et fructueuses.
				</p>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="p-0">
	<div class="container">
		<div class="row mb-8 border-bottom border-2 border-color-light-medium-gray">
			<div
				class="col-xl-3 col-lg-4 col-md-8 md-mt-15px"
				data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
			>
				<h3 class="fs-40 alt-font fw-700 mb-25px ls-minus-1px text-gradient-fast-blue-purple-light-orange">Citoyenneté</h3>
			</div>
			<div
				class="col-lg-8 offset-xl-1 md-mt-20px"
				data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
			>
				<p>
					En tant qu'entreprise citoyenne, nous sommes conscients de notre responsabilité envers la société et l'environnement dans lequel nous évoluons. Nous nous engageons à agir de
					manière éthique et responsable, en contribuant positivement au développement socio-économique des communautés dans lesquelles nous opérons. Cela se traduit par des initiatives de
					responsabilité sociale d'entreprise.
				</p>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="p-0">
	<div class="container">
		<div class="row mb-8 border-bottom border-2 border-color-light-medium-gray">
			<div
				class="col-xl-3 col-lg-4 col-md-8 md-mt-15px"
				data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
			>
				<h3 class="fs-40 alt-font fw-700 mb-25px ls-minus-1px text-gradient-fast-blue-purple-light-orange">Innovation</h3>
			</div>
			<div
				class="col-lg-8 offset-xl-1 md-mt-20px"
				data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
			>
				<p>
					L'innovation est le moteur de notre croissance et de notre succès continu. Nous encourageons la créativité et l'esprit d'initiative au sein de notre organisation, en encourageant
					nos collaborateurs à explorer de nouvelles idées et à repousser les frontières de l'ingéniosité. Nous investissons dans la recherche et le développement pour rester à la pointe de
					la technologie et des tendances de l'industrie, tout en cherchant constamment des moyens d'améliorer nos produits, nos services et nos processus.
				</p>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="p-0">
	<div class="container">
		<div class="row mb-8 border-bottom border-2 border-color-light-medium-gray">
			<div
				class="col-xl-3 col-lg-4 col-md-8 md-mt-15px"
				data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
			>
				<h3 class="fs-40 alt-font fw-700 mb-25px ls-minus-1px text-gradient-fast-blue-purple-light-orange">Excellence</h3>
			</div>
			<div
				class="col-lg-8 offset-xl-1 md-mt-20px"
				data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
			>
				<p>
					Chez FC Media, nous visons l'excellence dans tout ce que nous faisons. Cela signifie constamment viser la perfection et rechercher l'amélioration continue dans tous les aspects de
					notre activité. Nous nous efforçons de fournir des produits et des services de la plus haute qualité, en dépassant les attentes de nos clients et en offrant une expérience
					exceptionnelle à chaque interaction. Notre engagement envers l'excellence se reflète dans notre culture d'entreprise, où la recherche de la perfection est une aspiration partagée
					par tous.
				</p>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="p-0">
	<div class="container">
		<div class="row mb-8 border-bottom border-2 border-color-light-medium-gray">
			<div
				class="col-xl-3 col-lg-4 col-md-8 md-mt-15px"
				data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
			>
				<h3 class="fs-40 alt-font fw-700 mb-25px ls-minus-1px text-gradient-fast-blue-purple-light-orange">Écoute</h3>
			</div>
			<div
				class="col-lg-8 offset-xl-1 md-mt-20px"
				data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
			>
				<p>
					Chez FC Media, nous plaçons l'écoute au cœur de notre approche. Nous comprenons que chaque client a des besoins et des objectifs uniques, c'est pourquoi nous attachons une grande
					importance à écouter attentivement leurs attentes et leurs défis spécifiques. Notre équipe dédiée est là pour comprendre les besoins de nos clients et leur offrir des solutions sur
					mesure qui répondent efficacement à leurs exigences en matière de communication et de visibilité.
				</p>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="p-0">
	<div class="container">
		<div class="row mb-8 border-bottom border-2 border-color-light-medium-gray">
			<div
				class="col-xl-3 col-lg-4 col-md-8 md-mt-15px"
				data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
			>
				<h3 class="fs-40 alt-font fw-700 mb-25px ls-minus-1px text-gradient-fast-blue-purple-light-orange">Qualité</h3>
			</div>
			<div
				class="col-lg-8 offset-xl-1 md-mt-20px"
				data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'
			>
				<p>
					La qualité est une priorité absolue pour nous chez FC Media. Nous nous engageons à fournir des produits et des services de la plus haute qualité à tous nos clients. Cela se traduit
					par une sélection rigoureuse des emplacements publicitaires, une installation professionnelle et soignée de nos supports, ainsi qu'un entretien régulier pour garantir une
					visibilité optimale tout au long de la campagne publicitaire. Notre engagement envers la qualité se reflète également dans notre service client exceptionnel, où nous nous efforçons
					de dépasser les attentes à chaque étape du processus.
				</p>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="" id="contact">
	<div class="container">
		<div class="row justify-content-center box-shadow-quadruple-large border-radius-6px overflow-hidden g-0">
			<!-- start contact address -->
			<div class="col-lg-6">
				<div
					class="p-15 lg-p-13 md-p-10 bg-white h-100 background-position-right-bottom background-no-repeat xs-background-image-none"
					style="background-image: url('assets/images/Logo_FC_Media-small.png')"
				>
					<span class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
						>FC Media</span
					>
					<h3 class="alt-font text-dark-gray fw-600">Data Enriched Approach (DEA)</h3>
					<div class="mt-11">
						<p class="fs-17 lh-28 ms-xl-0 mx-auto">
							Notre approche "Data Enriched" va au-delà des simples impressions publicitaires. En exploitant des données précises et actualisées, nous quantifions l'impact de vos
							campagnes publicitaires avec précision. De l'occasion de voir à la portée de votre campagne, en passant par la fréquence à laquelle elle est vue par un même individu, nous
							transformons les données en informations tangibles pour optimiser vos stratégies publicitaires.
						</p>
					</div>
					<a [routerLink]="['data-enriched-approach']" class="mt-9 btn btn-dark-gray left-icon btn-extra-large fw-500 btn-rounded btn-switch-text btn-box-shadow">
						<span>
							<span><i class="bi bi-arrow-return-right"></i></span>
							<span class="btn-double-text" data-text="Lire plus">En savoir plus</span>
						</span>
					</a>
				</div>
			</div>
			<!-- end contact address -->
			<div class="col-lg-6 contact-form-style-03">
				<div class="p-15 lg-p-13 md-p-10 bg-dark-gray h-100">
					<h1 class="fs-60 fw-600 alt-font text-white fancy-text-style-4 ls-minus-1px">
						Besoin<br />
						<span data-fancy-text='{ "effect": "rotate", "string": ["d&#39;information", "d&#39;aide"] }'></span>
					</h1>
					<!-- start contact form -->
					<app-dea-form></app-dea-form>
					<!-- end contact form -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->
