<!-- start page title -->
<section class="ipad-top-space-margin" style="background-image: url(assets/images/image-1.png)">
	<div class="container position-relative">
		<div
			class="row justify-content-center align-items-lg-end extra-very-small-screen"
			data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
		>
			<div class="col-lg-6 position-relative page-title-extra-large md-mb-30px sm-mb-20px z-index-9">
				<h1 class="text-white fw-600 mb-0 alt-font highlight-separator-small">
					<span class="highlight-separator mb-0 pb-0" data-shadow-animation="true" data-animation-delay="500">Nos réalisations</span>
				</h1>
			</div>
			<div class="col-lg-6"></div>
		</div>
	</div>
</section>
<!-- end page title -->

<!-- start metro portfolio layout -->
<section class="">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 filter-content">
				<ul class="portfolio-creative portfolio-wrapper grid-loading grid grid-4col xxl-grid-4col xl-grid-4col lg-grid-4col md-grid-2col sm-grid-2col xs-grid-1col gutter-large text-center">
					<li class="grid-sizer"></li>
					<!-- start portfolio item -->
					<li class="grid-item grid-item-double selected digital transition-inner-all">
						<a [routerLink]="['/novalys']">
							<div class="portfolio-box">
								<div class="portfolio-image bg-red">
									<img src="assets/images/immolys.jpg" alt="" />
								</div>
								<div class="portfolio-hover justify-content-center align-items-center d-flex flex-column pt-40px pb-40px sm-pt-20px sm-pb-20px">
									<div class="text-uppercase portfolio-title mt-auto alt-font fs-26 fw-700 text-white" data-text="Immolys"></div>
									<span class="mt-auto d-inline-block text-uppercase pt-5px pb-5px fw-500 ps-15px pe-15px bg-white text-dark-gray fs-12 lh-20 border-radius-2px">En savoir plus</span>
								</div>
							</div>
						</a>
						<!-- start pdf popup -->
						<div id="pdf1" class="w-50 mx-auto contact-form-style-01 position-relative text-center mfp-hide">
							<div class="row g-0">
								<a [routerLink]="['/novalys']"></a>
							</div>
						</div>
						<!-- end pdf popup -->
					</li>
					<!-- end portfolio item -->
					<!-- start portfolio item -->
					<li class="grid-item transition-inner-all">
						<a [routerLink]="['/aquafina']">
							<div class="portfolio-box">
								<div class="portfolio-image" style="background: #b15d3b">
									<img src="assets/images/aquafina.jpg" alt="" />
								</div>
								<div class="portfolio-hover justify-content-center align-items-center d-flex flex-column pt-40px pb-40px sm-pt-20px sm-pb-20px">
									<div class="text-uppercase portfolio-title mt-auto alt-font fs-26 fw-700 text-white" data-text="Aquafina"></div>
									<span class="mt-auto d-inline-block text-uppercase pt-5px pb-5px fw-500 ps-15px pe-15px bg-white text-dark-gray fs-12 lh-20 border-radius-2px">En savoir plus</span>
								</div>
							</div>
						</a>
						<!-- start pdf popup -->
						<div id="pdf2" class="w-50 mx-auto contact-form-style-01 position-relative text-center mfp-hide">
							<div class="row g-0">
								<a [routerLink]="['/aquafina']"></a>
							</div>
						</div>
						<!-- end pdf popup -->
					</li>
					<!-- end portfolio item -->
					<!-- start portfolio item -->
					<li class="grid-item transition-inner-all">
						<a [routerLink]="['/snrt']">
							<div class="portfolio-box">
								<div class="portfolio-image bg-orange-light">
									<img src="assets/images/snrt.jpg" alt="" />
								</div>
								<div class="portfolio-hover justify-content-center align-items-center d-flex flex-column pt-40px pb-40px sm-pt-20px sm-pb-20px">
									<div class="text-uppercase portfolio-title mt-auto alt-font fs-26 fw-700 text-white" data-text="SNRT"></div>
									<span class="mt-auto d-inline-block text-uppercase pt-5px pb-5px fw-500 ps-15px pe-15px bg-white text-dark-gray fs-12 lh-20 border-radius-2px">En savoir plus</span>
								</div>
							</div>
						</a>

						<!-- start pdf popup -->
						<div id="pdf3" class="w-50 mx-auto contact-form-style-01 position-relative text-center mfp-hide">
							<div class="row g-0">
								<a [routerLink]="['/snrt']"></a>
							</div>
						</div>
						<!-- end pdf popup -->
					</li>
					<!-- end portfolio item -->
					<!-- start portfolio item -->
					<li class="grid-item selected digital transition-inner-all">
						<a [routerLink]="['/barid-bank']">
							<div class="portfolio-box">
								<div class="portfolio-image" style="background: #8e4371">
									<img src="assets/images/albaridbank.jpg" alt="" />
								</div>
								<div class="portfolio-hover justify-content-center align-items-center d-flex flex-column pt-40px pb-40px sm-pt-20px sm-pb-20px">
									<div class="text-uppercase portfolio-title mt-auto alt-font fs-26 fw-700 text-white" data-text="Al Barid Bank"></div>
									<span class="mt-auto d-inline-block text-uppercase pt-5px pb-5px fw-500 ps-15px pe-15px bg-white text-dark-gray fs-12 lh-20 border-radius-2px">En savoir plus</span>
								</div>
							</div>
						</a>

						<!-- start pdf popup -->
						<div id="pdf4" class="w-50 mx-auto contact-form-style-01 position-relative text-center mfp-hide">
							<div class="row g-0">
								<a [routerLink]="['/barid-bank']"></a>
							</div>
						</div>
						<!-- end pdf popup -->
					</li>
					<!-- end portfolio item -->
					<!-- start portfolio item -->
					<li class="grid-item transition-inner-all">
						<a [routerLink]="['/carrefour']">
							<div class="portfolio-box">
								<div class="portfolio-image bg-green">
									<img src="assets/images/carrfour.jpg" alt="" />
								</div>
								<div class="portfolio-hover justify-content-center align-items-center d-flex flex-column pt-40px pb-40px sm-pt-20px sm-pb-20px">
									<div class="text-uppercase portfolio-title mt-auto alt-font fs-26 fw-700 text-white" data-text="Carrefour"></div>
									<span class="mt-auto d-inline-block text-uppercase pt-5px pb-5px fw-500 ps-15px pe-15px bg-white text-dark-gray fs-12 lh-20 border-radius-2px">En savoir plus</span>
								</div>
							</div>
						</a>

						<!-- start pdf popup -->
						<div id="pdf5" class="w-50 mx-auto contact-form-style-01 position-relative text-center mfp-hide">
							<div class="row g-0">
								<a [routerLink]="['/carrefour']"></a>
							</div>
						</div>
						<!-- end pdf popup -->
					</li>
					<!-- end portfolio item -->
					<!-- start portfolio item -->
					<li class="grid-item transition-inner-all">
						<a [routerLink]="['/pierre-fabre']">
							<div class="portfolio-box">
								<div class="portfolio-image" style="background: #4c8ba5">
									<img src="assets/images/pf.jpg" alt="" />
								</div>
								<div class="portfolio-hover justify-content-center align-items-center d-flex flex-column pt-40px pb-40px sm-pt-20px sm-pb-20px">
									<div class="text-uppercase portfolio-title mt-auto alt-font fs-26 fw-700 text-white" data-text="Pierre Fabre"></div>
									<span class="mt-auto d-inline-block text-uppercase pt-5px pb-5px fw-500 ps-15px pe-15px bg-white text-dark-gray fs-12 lh-20 border-radius-2px">En savoir plus</span>
								</div>
							</div>
						</a>

						<!-- start pdf popup -->
						<div id="pdf6" class="w-50 mx-auto contact-form-style-01 position-relative text-center mfp-hide">
							<div class="row g-0">
								<a [routerLink]="['/pierre-fabre']"></a>
							</div>
						</div>
						<!-- end pdf popup -->
					</li>
					<!-- end portfolio item -->
					<!-- start portfolio item -->
					<li class="grid-item selected digital transition-inner-all">
						<a [routerLink]="['/ariel']">
							<div class="portfolio-box">
								<div class="portfolio-image" style="background: #539868">
									<img src="assets/images/ariel.jpg" alt="" />
								</div>
								<div class="portfolio-hover justify-content-center align-items-center d-flex flex-column pt-40px pb-40px sm-pt-20px sm-pb-20px">
									<div class="text-uppercase portfolio-title mt-auto alt-font fs-26 fw-700 text-white" data-text="Ariel"></div>
									<span class="mt-auto d-inline-block text-uppercase pt-5px pb-5px fw-500 ps-15px pe-15px bg-white text-dark-gray fs-12 lh-20 border-radius-2px">En savoir plus</span>
								</div>
							</div>
						</a>

						<!-- start pdf popup -->
						<div id="pdf7" class="w-50 mx-auto contact-form-style-01 position-relative text-center mfp-hide">
							<div class="row g-0">
								<a [routerLink]="['/ariel']"></a>
							</div>
						</div>
						<!-- end pdf popup -->
					</li>
					<!-- end portfolio item -->
					<!-- start portfolio item -->
					<li class="grid-item transition-inner-all">
						<a [routerLink]="['/dacia']">
							<div class="portfolio-box">
								<div class="portfolio-image" style="background: #ae5965">
									<img src="assets/images/dacia.jpg" alt="" />
								</div>
								<div class="portfolio-hover justify-content-center align-items-center d-flex flex-column pt-40px pb-40px sm-pt-20px sm-pb-20px">
									<div class="text-uppercase portfolio-title mt-auto alt-font fs-26 fw-700 text-white" data-text="Dacia"></div>
									<span class="mt-auto d-inline-block text-uppercase pt-5px pb-5px fw-500 ps-15px pe-15px bg-white text-dark-gray fs-12 lh-20 border-radius-2px">En savoir plus</span>
								</div>
							</div>
						</a>

						<!-- start pdf popup -->
						<div id="pdf8" class="w-50 mx-auto contact-form-style-01 position-relative text-center mfp-hide">
							<div class="row g-0">
								<a [routerLink]="['/dacia']"></a>
							</div>
						</div>
						<!-- end pdf popup -->
					</li>
					<!-- end portfolio item -->
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- end metro portfolio layout -->
