<!-- start page title -->
<section class="ipad-top-space-margin" style="background-image: url(assets/images/image-1.png)">
	<div class="container position-relative">
		<div
			class="row justify-content-center align-items-lg-end extra-very-small-screen"
			data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
		>
			<div class="col-lg-6 position-relative page-title-extra-large md-mb-30px sm-mb-20px z-index-9">
				<h1 class="text-white fw-600 mb-0 alt-font highlight-separator-small">
					<span class="highlight-separator mb-0 pb-0" data-shadow-animation="true" data-animation-delay="500">ATN</span>
				</h1>
			</div>
			<div class="col-lg-6"></div>
		</div>
	</div>
</section>
<!-- end page title -->

<!-- start section -->
<section class="pb-35px position-relative">
	<div class="container">
		<div
			class="row justify-content-center mb-2"
			data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
		>
			<div class="col-xxl-7 col-xl-8 col-lg-9 col-md-10 text-center">
				<div
					class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-uppercase text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
				>
					ATN
				</div>
				<h3 class="fs-40 alt-font fw-700 mb-25px ls-minus-1px text-gradient-fast-blue-purple-light-orange">Votre Partenaire d'Excellence pour l'Impression Numérique Grand Format</h3>
				<p>
					À la recherche d'une impression numérique grand format qui fera réellement impact ? Ne cherchez pas plus loin que ATN : l'Atelier Numérique qui se distingue comme la référence dans
					son domaine depuis sa fondation en 2000. Avec plus de 20 ans d'expérience à notre actif, nous avons acquis la réputation d'excellence et de fiabilité, faisant de nous le choix
					idéal pour tous vos besoins en matière d'impression numérique.
				</p>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="pt-0">
	<div class="container">
		<div
			class="row align-items-center justify-content-md-center py-5 ps-30px pe-30px lg-p-30px xs-ps-0 xs-pe-0 cover-background border-radius-8px m-0"
			style="background-image: url(assets/images/demo-application-home-05.jpg)"
		>
			<div class="col-lg-6 md-mb-40px">
				<div class="row">
					<div class="col-sm-12 xs-mb-30px">
						<img
							src="assets/images/reference-num.jpg"
							class="w-100 border-radius-10px box-shadow-quadruple-large"
							data-bottom-top="transform: translateY(-100px)"
							data-top-bottom="transform: translateY(100px)"
							alt=""
						/>
					</div>
				</div>
			</div>
			<!-- start subscribe item -->
			<div class="col-lg-6 col-md-9 text-center text-lg-start ps-7 pe-7 lg-ps-3 lg-pe-3 sm-ps-15px sm-pe-15px">
				<h3 class="fs-37 fw-700 text-dark-gray ls-minus-2px">Une Référence en Impression Numérique</h3>
				<p>
					Depuis nos débuts, notre objectif chez ATN a toujours été de fournir à nos clients des solutions d'impression numérique de haute qualité. Grâce à notre expertise approfondie et à
					notre équipement de pointe, nous sommes en mesure de réaliser une large gamme de projets, qu'il s'agisse d'impressions grand format, de PLV & Signalétique, de Stands & Accessoires,
					ou encore de Palissades de chantiers.
				</p>
			</div>
			<!-- end subscribe item -->
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="pt-0">
	<div class="container">
		<div
			class="row align-items-center justify-content-md-center ps-30px pe-30px lg-p-30px xs-ps-0 xs-pe-0 cover-background border-radius-8px m-0"
			style="background-image: url(assets/images/demo-application-home-05-.jpg)"
		>
			<!-- start subscribe item -->
			<div class="col-lg-6 col-md-9 text-center text-lg-start ps-7 pe-7 lg-ps-3 lg-pe-3 sm-ps-15px sm-pe-15px">
				<h3 class="fs-37 fw-700 text-dark-gray ls-minus-2px">Une Équipe Qualifiée à Votre Service</h3>
				<p>
					Chez ATN, nous sommes fiers de notre équipe qualifiée et dévouée. Forts de nos connaissances approfondies du secteur et de notre engagement envers l'excellence, nous sommes en
					mesure de vous accompagner à chaque étape de votre projet, du conseil initial à la réalisation finale. Notre objectif est de vous fournir des solutions sur mesure qui répondent
					parfaitement à vos besoins et dépassent vos attentes.
				</p>
			</div>
			<!-- end subscribe item -->
			<div class="col-lg-6 d-flex justify-content-center">
				<div class="col-sm-6">
					<img
						src="assets/images/-_28A1194-1.jpg"
						class="w-100 border-radius-10px box-shadow-quadruple-large"
						data-bottom-top="transform: translateY(-100px)"
						data-top-bottom="transform: translateY(100px)"
						alt=""
					/>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="pt-0">
	<div class="container">
		<div
			class="row align-items-center justify-content-md-center py-5 ps-30px pe-30px lg-p-30px xs-ps-0 xs-pe-0 cover-background border-radius-8px m-0"
			style="background-image: url(assets/images/demo-application-home-05.jpg)"
		>
			<div class="col-lg-6 md-mb-40px">
				<div class="row">
					<div class="col-sm-12 xs-mb-30px">
						<img
							src="assets/images/quality-inv.jpg"
							class="w-100 border-radius-10px box-shadow-quadruple-large"
							data-bottom-top="transform: translateY(-100px)"
							data-top-bottom="transform: translateY(100px)"
							alt=""
						/>
					</div>
				</div>
			</div>
			<!-- start subscribe item -->
			<div class="col-lg-6 col-md-9 text-center text-lg-start ps-7 pe-7 lg-ps-3 lg-pe-3 sm-ps-15px sm-pe-15px">
				<h3 class="fs-37 fw-700 text-dark-gray ls-minus-2px">Qualité et Innovation</h3>
				<p>
					L'innovation est au cœur de tout ce que nous faisons chez ATN. Nous sommes constamment à la recherche de nouvelles technologies et de nouvelles techniques pour améliorer la qualité
					de nos produits et services. Vous pouvez donc être assuré que lorsque vous travaillez avec nous, vous bénéficiez des toutes dernières avancées en matière d'impression numérique
					grand format.
				</p>
			</div>
			<!-- end subscribe item -->
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="pt-0" id="contact">
	<div class="container">
		<div class="row justify-content-center box-shadow-quadruple-large border-radius-6px overflow-hidden g-0">
			<!-- start contact address -->
			<div class="col-lg-6">
				<div
					class="p-15 lg-p-13 md-p-10 bg-white h-100 background-position-right-bottom background-no-repeat xs-background-image-none"
					style="background-image: url('assets/images/Logo_FC_Media-small.png')"
				>
					<span class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
						>FC Media</span
					>
					<h3 class="alt-font text-dark-gray fw-600">Data Enriched Approach (DEA)</h3>
					<div class="mt-11">
						<p class="fs-17 lh-28 ms-xl-0 mx-auto">
							Notre approche "Data Enriched" va au-delà des simples impressions publicitaires. En exploitant des données précises et actualisées, nous quantifions l'impact de vos
							campagnes publicitaires avec précision. De l'occasion de voir à la portée de votre campagne, en passant par la fréquence à laquelle elle est vue par un même individu, nous
							transformons les données en informations tangibles pour optimiser vos stratégies publicitaires.
						</p>
					</div>
					<a [routerLink]="['data-enriched-approach']" class="mt-9 btn btn-dark-gray left-icon btn-extra-large fw-500 btn-rounded btn-switch-text btn-box-shadow">
						<span>
							<span><i class="bi bi-arrow-return-right"></i></span>
							<span class="btn-double-text" data-text="Lire plus">En savoir plus</span>
						</span>
					</a>
				</div>
			</div>
			<!-- end contact address -->
			<div class="col-lg-6 contact-form-style-03">
				<div class="p-15 lg-p-13 md-p-10 bg-dark-gray h-100">
					<h1 class="fs-60 fw-600 alt-font text-white fancy-text-style-4 ls-minus-1px">
						Besoin<br />
						<span data-fancy-text='{ "effect": "rotate", "string": ["d&#39;information", "d&#39;aide"] }'></span>
					</h1>
					<!-- start contact form -->
					<form action="email-templates/contact-form.php" method="post">
						<div class="position-relative form-group mb-20px">
							<span class="form-icon"><i class="bi bi-person icon-extra-medium"></i></span>
							<input
								class="ps-0 border-radius-0px fs-17 bg-transparent border-color-transparent-white-light placeholder-medium-gray form-control required"
								type="text"
								name="name"
								placeholder="Votre nom*"
							/>
						</div>
						<div class="position-relative form-group mb-20px">
							<span class="form-icon"><i class="bi bi-envelope icon-extra-medium"></i></span>
							<input
								class="ps-0 border-radius-0px fs-17 bg-transparent border-color-transparent-white-light placeholder-medium-gray form-control required"
								type="email"
								name="email"
								placeholder="Votre adresse mail*"
							/>
						</div>
						<div class="position-relative form-group mb-20px">
							<span class="form-icon"><i class="bi bi-phone icon-extra-medium"></i></span>
							<input
								class="ps-0 border-radius-0px fs-17 bg-transparent border-color-transparent-white-light placeholder-medium-gray form-control required"
								type="number"
								name="tel"
								placeholder="Votre Téléphone*"
							/>
						</div>
						<div class="position-relative form-group form-textarea mt-15px mb-25px">
							<textarea
								class="ps-0 border-radius-0px fs-17 bg-transparent border-color-transparent-white-light placeholder-medium-gray form-control"
								name="comment"
								placeholder="Message"
								rows="4"
							></textarea>
							<span class="form-icon"><i class="bi bi-chat-square-dots icon-extra-medium"></i></span>
							<input type="hidden" name="redirect" value="" />
							<div class="position-relative terms-condition-box text-start d-inline-block mb-20px mt-20px">
								<label>
									<input type="checkbox" name="terms_condition" id="terms_condition" value="1" class="terms-condition check-box align-middle required" />
									<span class="box fs-14"
										>J'accepte
										<a [routerLink]="['politique-de-confidentialite']" class="text-decoration-line-bottom"> la politique de Confidentialité & les conditions générales</a></span
									>
								</label>
							</div>
							<button class="btn btn-small btn-white ls-1px mt-30px submit w-100 btn-round-edge-small" type="submit">Envoyer</button>
							<div class="form-results mt-20px d-none"></div>
						</div>
					</form>
					<!-- end contact form -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->
