<!-- start page title -->
<section class="ipad-top-space-margin" style="background-image: url(assets/images/image-1.png)">
	<div class="container position-relative">
		<div
			class="row justify-content-center align-items-lg-end extra-very-small-screen"
			data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
		>
			<div class="col-lg-12 d-flex justify-content-between align-items-center">
				<h1 class="text-white fw-600 mb-0 alt-font highlight-separator-small">
					<span class="highlight-separator mb-0 pb-0" data-shadow-animation="true" data-animation-delay="500">NOVALYS</span>
				</h1>
				<img src="assets/images/immolys-white.png" alt="Logo" class="img-fluid" width="15%" height="20%" />
			</div>
			<!-- <div class="col-lg-4 text-lg-right">
                <img src="images/aquafina-1-logo-black-and-white.png" alt="Logo" class="img-fluid" width="50%" height="50%" />
            </div> -->
		</div>
	</div>
</section>
<!-- end page title -->

<!-- start section -->
<section class="pb-0">
	<div class="container">
		<div class="row justify-content-center" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
			<div class="col-lg-10 mb-6 sm-mb-35px last-paragraph-no-margin">
				<h4 class="alt-font fw-600 text-dark-gray w-90 md-w-100">Analyse de la Campagne DOOH "NOVALYS"</h4>
				<br />
				<h6><b>Chiffres Clés</b></h6>
				<li>Occasions de Voir (ODV) : 212.5 millions, indiquant une couverture visuelle très élevée.</li>
				<li>Reach : 2.8 millions, atteignant une large audience dans les deux villes.</li>
				<li>Fréquence Moyenne : 75,51, ce qui est exceptionnellement élevé, assurant une mémorisation forte.</li>
				<br />
				<h6><b>Profil de l'Audience</b></h6>
				<li>Répartition Hommes/Femmes : Un léger avantage pour les femmes avec 51,30% contre 48,70% d'hommes.</li>
				<li style="list-style: none">Segments de Consommateurs Ciblés :</li>
				<li>Affluents : 25%, ciblant les consommateurs avec un pouvoir d'achat élevé</li>
				<li>Investisseurs Potentiels : 22%, aligné avec les objectifs de la campagne.</li>
				<br />
				<h6><b>Analyse des Performances</b></h6>
				<li>Stratégie de Diffusion : La stratégie de concentration sur deux villes majeures a permis une forte pénétration de l'audience cible.</li>
				<li>Timing et Période : La période de janvier à mars a été bien choisie pour capter l'attention des segments intéressés par l'immobilier en début d'année.</li>
				<li>Impact Global : La campagne a atteint un niveau impressionnant de reach et de fréquence, consolidant la position de NOVALYS dans le secteur immobilier marocain.</li>
				<br />
				<h6><b>Conclusion</b></h6>
				<p>
					La campagne DOOH de NOVALYS a surpassé les attentes en termes de visibilité et de fréquence. En se concentrant sur Casablanca et Rabat, NOVALYS a maximisé son impact sur les
					segments clés, renforçant ainsi sa notoriété et sa position sur le marché immobilier marocain.
				</p>
			</div>
			<div class="col-lg-10 mb-6 sm-mb-35px last-paragraph-no-margin text-center">
				<img src="assets/images/novalys-graph.png" class="mb-20px" alt="" />
				<div class="h-1px w-100 bg-extra-medium-gray"></div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="half-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10">
				<div class="row justify-content-center">
					<div class="col-12 text-center elements-social social-icon-style-04">
						<ul class="medium-icon dark">
							<li>
								<a class="facebook" href="https://www.facebook.com/profile.php?id=61558505231368" target="_blank"><i class="fa-brands fa-facebook-f"></i><span></span></a>
							</li>
							<li>
								<a class="instagram" href="https://www.instagram.com/fcmedia.ma?igsh=MXJ2MDRnM3R1dXJ6Mg%3D%3D" target="_blank"><i class="fa-brands fa-instagram"></i><span></span></a>
							</li>
							<li>
								<a class="linkedin" href="https://www.linkedin.com/company/fc-media-maroc" target="_blank"><i class="fa-brands fa-linkedin-in"></i><span></span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->
