<!-- start page title -->
<section class="ipad-top-space-margin" style="background-image: url(assets/images/image-1.png)">
	<div class="container position-relative">
		<div
			class="row justify-content-center align-items-lg-end extra-very-small-screen"
			data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
		>
			<div class="col-lg-6 position-relative page-title-extra-large md-mb-30px sm-mb-20px z-index-9">
				<h1 class="text-white fw-600 mb-0 alt-font highlight-separator-small">
					<span class="highlight-separator mb-0 pb-0" data-shadow-animation="true" data-animation-delay="500">Couverture</span>
				</h1>
			</div>
			<div class="col-lg-6">
				<p class="fs-20 lh-32 text-white opacity-7 w-90 lg-w-100 md-w-80 mb-0">Diffusez vos campagnes et atteignez votre cible dans chaque région grâce à notre réseau étendu.</p>
			</div>
		</div>
	</div>
</section>
<!-- end page title -->

<!-- start section -->
<section class="bg-gradient-top-very-light-gray half-section ps-6 pe-6">
	<div class="container-fluid">
		<div
			class="row row-cols-1 row-cols-lg-4 row-cols-md-2 justify-content-center"
			data-anime='{ "el": "childs", "translateX": [-15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
		>
			<!-- start features box item -->
			<div class="col icon-with-text-style-10 border-end border-1 sm-border-end-0 border-color-transparent-base-color md-mb-50px">
				<div class="feature-box ps-8 pe-8 xl-ps-5 xl-pe-5">
					<div class="feature-box-icon feature-box-icon-rounded w-120px h-120px rounded-circle green mb-20px">
						<i class="bi bi-buildings icon-extra-large text-green"></i>
					</div>
					<div class="feature-box-content last-paragraph-no-margin">
						<span class="alt-font text-dark-gray fs-22 ls-0px">En ville</span>
					</div>
				</div>
			</div>
			<!-- end features box item -->
			<!-- start features box item -->
			<div class="col icon-with-text-style-10 border-end border-1 md-border-end-0 border-color-transparent-base-color md-mb-50px">
				<div class="feature-box ps-8 pe-8 xl-ps-5 xl-pe-5">
					<div class="feature-box-icon feature-box-icon-rounded w-120px h-120px rounded-circle red mb-20px">
						<i class="bi bi-signpost-2 icon-extra-large text-red"></i>
					</div>
					<div class="feature-box-content last-paragraph-no-margin">
						<span class="alt-font text-dark-gray fs-22 ls-0px">Autoroutes</span>
					</div>
				</div>
			</div>
			<!-- end features box item -->
			<!-- start features box item -->
			<div class="col icon-with-text-style-10 border-end border-1 sm-border-end-0 border-color-transparent-base-color sm-mb-50px">
				<div class="feature-box ps-8 pe-8 xl-ps-5 xl-pe-5">
					<div class="feature-box-icon feature-box-icon-rounded w-120px h-120px rounded-circle orange mb-20px">
						<i class="bi bi-airplane icon-extra-large text-orange"></i>
					</div>
					<div class="feature-box-content last-paragraph-no-margin">
						<span class="alt-font text-dark-gray fs-22 ls-0px">Aéroport</span>
					</div>
				</div>
			</div>
			<!-- end features box item -->
			<!-- start features box item -->
			<div class="col icon-with-text-style-10">
				<div class="feature-box ps-8 pe-8 xl-ps-5 xl-pe-5">
					<div class="feature-box-icon feature-box-icon-rounded w-120px h-120px rounded-circle purple mb-20px">
						<i class="bi bi-shop icon-extra-large text-purple"></i>
					</div>
					<div class="feature-box-content last-paragraph-no-margin">
						<span class="alt-font text-dark-gray fs-22 ls-0px">Mall / Gare</span>
					</div>
				</div>
			</div>
			<!-- end features box item -->
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="big-section threeD-letter-menu d-flex align-items-center pt-60px">
	<div class="container">
		<div class="row justify-content-center mb-5 xs-mb-7">
			<div class="col-md-8 text-center" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
				<h3 class="alt-font fw-700 mb-25px ls-minus-1px text-dark-gray">Les régions</h3>
				<div style="display: flex; justify-content: center; gap: 30px">
					<div class="fs-16 fw-600 text-dark-gray"><span class="fs-14 fw-500 text-dark-gray top-15px left-minus-5px py-10px px-4px bg-orange border-radius-100px">I</span> Indoor</div>
					<div class="fs-16 fw-600 text-dark-gray"><span class="fs-14 fw-500 text-dark-gray top-15px left-minus-5px py-7px px-4px bg-green border-radius-100px">O</span> Outdoor</div>
				</div>
			</div>
		</div>
		<div class="row align-items-center position-relative z-index-9 justify-content-center">
			<div class="col-auto menu-item pe-50px position-relative d-flex">
				<div class="io-region mt-10px">
					<div class="fs-14 fw-500 text-dark-gray top-15px left-minus-5px py-10px bg-orange border-radius-100px">I</div>
					<div class="fs-14 fw-500 text-dark-gray top-25px left-minus-5px py-7px bg-green border-radius-100px">O</div>
				</div>
				<a [routerLink]="['/region-de-loriental']" class="menu-item-text fs-50 md-fs-20 lh-100 text-dark-gray alt-font ls-minus-3px">
					<span class="title">L’Oriental</span>
				</a>
				<div class="hover-reveal d-none d-xl-block">
					<div class="hover-reveal__inner">
						<div class="hover-reveal__img" style="background-image: url(assets/images/oriental-carte.png)"></div>
					</div>
				</div>
			</div>
			<div class="col-auto menu-item pe-50px position-relative d-flex">
				<div class="io-region mt-10px">
					<div class="fs-14 fw-500 text-dark-gray top-15px left-minus-5px py-10px bg-orange border-radius-100px">I</div>
					<div class="fs-14 fw-500 text-dark-gray top-25px left-minus-5px py-7px bg-green border-radius-100px">O</div>
				</div>
				<a [routerLink]="['/region-de-marrakech-safi']" class="menu-item-text fs-50 md-fs-20 lh-100 text-dark-gray alt-font ls-minus-3px">
					<span>Marrakech-Safi</span>
				</a>
				<div class="hover-reveal d-none d-xl-block">
					<div class="hover-reveal__inner">
						<div class="hover-reveal__img" style="background-image: url(/assets/images/monographie-region.png)"></div>
					</div>
				</div>
			</div>
			<div class="col-auto menu-item pe-50px position-relative d-flex">
				<div class="io-region mt-10px">
					<div class="fs-14 fw-500 text-dark-gray top-25px left-minus-5px py-7px bg-green border-radius-100px">O</div>
				</div>
				<a [routerLink]="['/region-de-draa-tafilalet']" class="menu-item-text fs-50 md-fs-20 lh-100 text-dark-gray alt-font ls-minus-3px">
					<span>Drâa-Tafilalet</span>
				</a>
				<div class="hover-reveal d-none d-xl-block">
					<div class="hover-reveal__inner">
						<div class="hover-reveal__img" style="background-image: url(assets/images/daraa.PNG)"></div>
					</div>
				</div>
			</div>
			<div class="col-auto menu-item pe-50px position-relative d-flex">
				<div class="io-region mt-10px">
					<div class="fs-14 fw-500 text-dark-gray top-15px left-minus-5px py-10px bg-orange border-radius-100px">I</div>
					<div class="fs-14 fw-500 text-dark-gray top-25px left-minus-5px py-7px bg-green border-radius-100px">O</div>
				</div>
				<a [routerLink]="['/region-de-fes-meknes']" class="menu-item-text fs-50 md-fs-20 lh-100 text-dark-gray alt-font ls-minus-3px">
					<span>Fès-Meknès</span>
				</a>
				<div class="hover-reveal d-none d-xl-block">
					<div class="hover-reveal__inner">
						<div class="hover-reveal__img" style="background-image: url(assets/images/fes-meknes.PNG)"></div>
					</div>
				</div>
			</div>
			<div class="col-auto menu-item pe-50px position-relative d-flex">
				<div class="io-region mt-10px">
					<div class="fs-14 fw-500 text-dark-gray top-25px left-minus-5px py-7px bg-green border-radius-100px">O</div>
				</div>
				<a [routerLink]="['/region-de-guelmim-oued-noun']" class="menu-item-text fs-50 md-fs-20 lh-100 text-dark-gray alt-font ls-minus-3px">
					<span>Guelmim-oued Noun</span>
				</a>
				<div class="hover-reveal d-none d-xl-block">
					<div class="hover-reveal__inner">
						<div class="hover-reveal__img" style="background-image: url(assets/images/Guelmim-oued-Noun.PNG)"></div>
					</div>
				</div>
			</div>
			<div class="col-auto menu-item pe-50px position-relative d-flex">
				<div class="io-region mt-10px">
					<div class="fs-14 fw-500 text-dark-gray top-15px left-minus-5px py-10px bg-orange border-radius-100px">I</div>
					<div class="fs-14 fw-500 text-dark-gray top-25px left-minus-5px py-7px bg-green border-radius-100px">O</div>
				</div>
				<a [routerLink]="['/region-de-tanger-tetouan-alhoceima']" class="menu-item-text fs-50 md-fs-20 lh-100 text-dark-gray alt-font ls-minus-3px">
					<span>Tanger-Tétouan-Al Hoceima</span>
				</a>
				<div class="hover-reveal d-none d-xl-block">
					<div class="hover-reveal__inner">
						<div class="hover-reveal__img" style="background-image: url(assets/images/Tanger-Tetouan-Al-Hoceima.PNG)"></div>
					</div>
				</div>
			</div>
			<div class="col-auto menu-item pe-50px position-relative d-flex">
				<div class="io-region mt-10px">
					<div class="fs-14 fw-500 text-dark-gray top-15px left-minus-5px py-10px bg-orange border-radius-100px">I</div>
					<div class="fs-14 fw-500 text-dark-gray top-25px left-minus-5px py-7px bg-green border-radius-100px">O</div>
				</div>
				<a [routerLink]="['/region-de-souss-massa']" class="menu-item-text fs-50 md-fs-20 lh-100 text-dark-gray alt-font ls-minus-3px">
					<span>Souss-Massa</span>
				</a>
				<div class="hover-reveal d-none d-xl-block">
					<div class="hover-reveal__inner">
						<div class="hover-reveal__img" style="background-image: url(assets/images/Souss-Massa.PNG)"></div>
					</div>
				</div>
			</div>
			<div class="col-auto menu-item pe-50px position-relative d-flex">
				<div class="io-region mt-10px">
					<div class="fs-14 fw-500 text-dark-gray top-15px left-minus-5px py-10px bg-orange border-radius-100px">I</div>
					<div class="fs-14 fw-500 text-dark-gray top-25px left-minus-5px py-7px bg-green border-radius-100px">O</div>
				</div>
				<a [routerLink]="['/region-de-casablanca-settat']" class="menu-item-text fs-50 md-fs-20 lh-100 text-dark-gray alt-font ls-minus-3px">
					<span>Casablanca-Settat</span>
				</a>
				<div class="hover-reveal d-none d-xl-block">
					<div class="hover-reveal__inner">
						<div class="hover-reveal__img" style="background-image: url(assets/images/Casablanca-Settat.PNG)"></div>
					</div>
				</div>
			</div>
			<div class="col-auto menu-item pe-50px position-relative d-flex">
				<div class="io-region mt-10px">
					<div class="fs-14 fw-500 text-dark-gray top-25px left-minus-5px py-7px bg-green border-radius-100px">O</div>
				</div>
				<a [routerLink]="['/region-de-dakhla-oued-eddahab']" class="menu-item-text fs-50 md-fs-20 lh-100 text-dark-gray alt-font ls-minus-3px">
					<span>Dakhla-Oued Eddahab</span>
				</a>
				<div class="hover-reveal d-none d-xl-block">
					<div class="hover-reveal__inner">
						<div class="hover-reveal__img" style="background-image: url(assets/images/Dakhla-Oued-Eddahab.PNG)"></div>
					</div>
				</div>
			</div>
			<div class="col-auto menu-item pe-50px position-relative d-flex">
				<div class="io-region mt-10px">
					<div class="fs-14 fw-500 text-dark-gray top-25px left-minus-5px py-7px bg-green border-radius-100px">O</div>
				</div>
				<a [routerLink]="['/region-de-beni-mellal-khenifra']" class="menu-item-text fs-50 md-fs-20 lh-100 text-dark-gray alt-font ls-minus-3px">
					<span>Beni Mellal-Khénifra</span>
				</a>
				<div class="hover-reveal d-none d-xl-block">
					<div class="hover-reveal__inner">
						<div class="hover-reveal__img" style="background-image: url(assets/images/Beni-Mellal-Khenifra.PNG)"></div>
					</div>
				</div>
			</div>
			<div class="col-auto menu-item pe-50px position-relative d-flex">
				<div class="io-region mt-10px">
					<div class="fs-14 fw-500 text-dark-gray top-15px left-minus-5px py-10px bg-orange border-radius-100px">I</div>
					<div class="fs-14 fw-500 text-dark-gray top-25px left-minus-5px py-7px bg-green border-radius-100px">O</div>
				</div>
				<a [routerLink]="['/region-de-rabat-sale-kenitra']" class="menu-item-text fs-50 md-fs-20 lh-100 text-dark-gray alt-font ls-minus-3px">
					<span>Rabat-Salé-Kénitra</span>
				</a>
				<div class="hover-reveal d-none d-xl-block">
					<div class="hover-reveal__inner">
						<div class="hover-reveal__img" style="background-image: url(assets/images/Rabat-Sale-Kenitra.PNG)"></div>
					</div>
				</div>
			</div>
			<div class="col-auto menu-item pe-50px position-relative d-flex">
				<div class="io-region mt-10px">
					<div class="fs-14 fw-500 text-dark-gray top-25px left-minus-5px py-7px bg-green border-radius-100px">O</div>
				</div>
				<a [routerLink]="['/region-de-laayoune-sakia-elhamra']" class="menu-item-text fs-50 md-fs-20 lh-100 text-dark-gray alt-font ls-minus-3px">
					<span>Laâyoune-Sakia Al Hamra</span>
				</a>
				<div class="hover-reveal d-none d-xl-block">
					<div class="hover-reveal__inner">
						<div class="hover-reveal__img" style="background-image: url(assets/images/Laayoune-Sakia-AlHamra.PNG)"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="pt-0" id="contact">
	<div class="container">
		<div class="row justify-content-center box-shadow-quadruple-large border-radius-6px overflow-hidden g-0">
			<!-- start contact address -->
			<div class="col-lg-6">
				<div
					class="p-15 lg-p-13 md-p-10 bg-white h-100 background-position-right-bottom background-no-repeat xs-background-image-none"
					style="background-image: url('assets/images/Logo_FC_Media-small.png')"
				>
					<span class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
						>FC Media</span
					>
					<h3 class="alt-font text-dark-gray fw-600">Data Enriched Approach (DEA)</h3>
					<div class="mt-11">
						<p class="fs-17 lh-28 ms-xl-0 mx-auto">
							Notre approche "Data Enriched" va au-delà des simples impressions publicitaires. En exploitant des données précises et actualisées, nous quantifions l'impact de vos
							campagnes publicitaires avec précision. De l'occasion de voir à la portée de votre campagne, en passant par la fréquence à laquelle elle est vue par un même individu, nous
							transformons les données en informations tangibles pour optimiser vos stratégies publicitaires.
						</p>
					</div>
					<a [routerLink]="['data-enriched-approach']" class="mt-9 btn btn-dark-gray left-icon btn-extra-large fw-500 btn-rounded btn-switch-text btn-box-shadow">
						<span>
							<span><i class="bi bi-arrow-return-right"></i></span>
							<span class="btn-double-text" data-text="Lire plus">En savoir plus</span>
						</span>
					</a>
				</div>
			</div>
			<!-- end contact address -->
			<div class="col-lg-6 contact-form-style-03">
				<div class="p-15 lg-p-13 md-p-10 bg-dark-gray h-100">
					<h1 class="fs-60 fw-600 alt-font text-white fancy-text-style-4 ls-minus-1px">
						Besoin<br />
						<span data-fancy-text='{ "effect": "rotate", "string": ["d&#39;information", "d&#39;aide"] }'></span>
					</h1>
					<!-- start contact form -->
					<app-dea-form></app-dea-form>
					<!-- end contact form -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->
