<!-- start page title -->
<section class="ipad-top-space-margin" style="background-image: url(assets/images/image-1.png)">
	<div class="container position-relative">
		<div
			class="row justify-content-center align-items-lg-end extra-very-small-screen"
			data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
		>
			<div class="col-lg-6 position-relative page-title-extra-large md-mb-30px sm-mb-20px z-index-9">
				<h1 class="text-white fw-600 mb-0 alt-font highlight-separator-small">
					<span class="highlight-separator mb-0 pb-0" data-shadow-animation="true" data-animation-delay="500">Région de Fès-Meknès</span>
				</h1>
			</div>
			<div class="col-lg-6">
				<p class="fs-20 lh-25 text-white opacity-7 w-90 lg-w-100 md-w-80 mb-0">Fès est une ville historique avec une économie basée sur l'artisanat, le tourisme et l'industrie textile.</p>
			</div>
		</div>
	</div>
</section>
<!-- end page title -->

<!-- start section -->
<section class="bg-gradient-top-very-light-gray half-section ps-6 pe-6">
	<div class="container-fluid">
		<div
			class="row row-cols-1 row-cols-lg-4 row-cols-md-2 justify-content-center"
			data-anime='{ "el": "childs", "translateX": [-15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
		>
			<!-- start features box item -->
			<div class="col icon-with-text-style-10 border-end border-1 sm-border-end-0 border-color-transparent-base-color md-mb-50px">
				<div class="feature-box ps-8 pe-8 xl-ps-5 xl-pe-5">
					<div class="feature-box-icon feature-box-icon-rounded w-120px h-120px rounded-circle green mb-20px">
						<i class="bi bi-buildings icon-extra-large text-green"></i>
					</div>
					<div class="feature-box-content last-paragraph-no-margin">
						<span class="alt-font text-dark-gray fs-22 ls-0px">En ville</span>
					</div>
				</div>
			</div>
			<!-- end features box item -->
			<!-- start features box item -->
			<div class="col icon-with-text-style-10 border-end border-1 md-border-end-0 border-color-transparent-base-color md-mb-50px">
				<div class="feature-box ps-8 pe-8 xl-ps-5 xl-pe-5">
					<div class="feature-box-icon feature-box-icon-rounded w-120px h-120px rounded-circle red mb-20px">
						<i class="bi bi-signpost-2 icon-extra-large text-red"></i>
					</div>
					<div class="feature-box-content last-paragraph-no-margin">
						<span class="alt-font text-dark-gray fs-22 ls-0px">Autoroutes</span>
					</div>
				</div>
			</div>
			<!-- end features box item -->
			<!-- start features box item -->
			<div class="col icon-with-text-style-10 border-end border-1 sm-border-end-0 border-color-transparent-base-color sm-mb-50px">
				<div class="feature-box ps-8 pe-8 xl-ps-5 xl-pe-5">
					<div class="feature-box-icon feature-box-icon-rounded w-120px h-120px rounded-circle orange mb-20px">
						<i class="bi bi-airplane icon-extra-large text-orange"></i>
					</div>
					<div class="feature-box-content last-paragraph-no-margin">
						<span class="alt-font text-dark-gray fs-22 ls-0px">Aéroport</span>
					</div>
				</div>
			</div>
			<!-- end features box item -->
			<!-- start features box item -->
			<div class="col icon-with-text-style-10">
				<div class="feature-box ps-8 pe-8 xl-ps-5 xl-pe-5">
					<div class="feature-box-icon feature-box-icon-rounded w-120px h-120px rounded-circle purple mb-20px">
						<i class="bi bi-shop icon-extra-large text-purple"></i>
					</div>
					<div class="feature-box-content last-paragraph-no-margin">
						<span class="alt-font text-dark-gray fs-22 ls-0px">Mall / Gare</span>
					</div>
				</div>
			</div>
			<!-- end features box item -->
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="position-relative bg-very-light-gray overflow-hidden">
	<div class="p-0 position-absolute right-minus-50px text-end">
		<img src="assets/images/crafto-landing-page-bg-01.png" class="lg-w-80" alt="" />
	</div>
	<div class="position-absolute left-minus-50px bottom-minus-50px">
		<img src="assets/images/crafto-landing-page-bg-02.png" class="lg-w-80" alt="" />
	</div>
	<div class="container">
		<div class="row align-items-center justify-content-center pt-5 pb-5 xl-pb-0 xl-pt-0">
			<div
				class="col-lg-5 col-md-12 mb-0 md-mb-10 sm-mb-15 text-lg-start"
				data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'
			>
				<span
					class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-uppercase text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
					>Région</span
				>
				<h3 class="alt-font fw-700 mb-25px ls-minus-1px text-gradient-fast-blue-purple-light-orange">Fès-Meknès</h3>
				<p class="w-100 xl-w-100 lg-w-100 md-w-80 sm-w-100 mx-auto ms-lg-0 mb-35px text-dark-gray fs-18 lh-28 fw-500">
					Fès-Meknès est une région riche en histoire et en culture, abritant Fès, l'une des plus anciennes villes impériales et un centre religieux et universitaire de renom. La région est
					aussi un pôle agricole et artisanal important, avec une population attachée à ses traditions. Les campagnes publicitaires Out Of Home peuvent capitaliser sur le fort flux de
					visiteurs et la densité urbaine de Fès, ainsi que sur les routes reliant les nombreuses villes historiques et agricoles de la région.
				</p>
			</div>
			<div class="col-lg-6 offset-xl-1 col-md-10 position-relative mt-70px">
				<div class="outside-box-right-5 xxl-me-0 atropos" data-atropos>
					<div class="atropos-scale">
						<div class="atropos-rotate">
							<div class="atropos-inner text-center overflow-visible">
								<div
									data-atropos-offset="-1"
									class="position-absolute top-minus-150px xl-top-minus-80px lg-top-minus-40px xl-right-minus-50px right-minus-150px xs-right-0px xs-top-minus-20px"
								>
									<img src="assets/images/crafto-landing-page-specialized-features-bg.svg" alt="" />
								</div>
								<img data-atropos-offset="1" class="position-relative z-index-9" src="assets/images/fes.png" alt="" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div
			class="row align-items-center justify-content-center h-100 text-center mb-7"
			data-anime='{"translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
		>
			<div class="col-xl-10 position-relative">
				<div class="position-absolute top-90px xxl-top-20px right-10px d-none d-lg-block"><img src="assets/images/PHP-logo.png" alt="" /></div>
				<div class="mb-minus-100px md-mb-minus-50px text-gradient-light-gray-white alt-font fs-400 xxl-fs-300 md-fs-200 sm-fs-150 fw-800 ls-minus-10px">558</div>
				<h2 class="alt-font fw-700 text-dark-gray mb-0 ls-minus-2px">Points de contact</h2>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row position-relative">
			<div
				class="col swiper swiper-width-auto feather-shadow text-cente"
				data-slider-options='{ "slidesPerView": "auto", "spaceBetween":0, "centeredSlides": true, "speed": 10000, "loop": true, "pagination": { "el": ".slider-four-slide-pagination-2", "clickable": false }, "allowTouchMove": false, "autoplay": { "delay":1, "disableOnInteraction": false }, "navigation": { "nextEl": ".slider-four-slide-next-2", "prevEl": ".slider-four-slide-prev-2" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "effect": "slide" }'
			>
				<div class="swiper-wrapper marquee-slide">
					<!-- start client item -->
					<div class="swiper-slide">
						<div class="fs-28 sm-fs-22 alt-font ls-minus-05px text-dark-gray">
							<span class="w-10px h-10px border border-radius-100 border-color-base-color d-inline-block ms-50px me-50px md-ms-30px md-me-30px"></span>Environ 4,2 millions d'habitants
						</div>
					</div>
					<!-- end client item -->
					<!-- start client item -->
					<div class="swiper-slide">
						<div class="fs-28 sm-fs-22 alt-font ls-minus-05px text-dark-gray">
							<span class="w-10px h-10px border border-radius-100 border-color-base-color d-inline-block ms-50px me-50px md-ms-30px md-me-30px"></span>Croissance du tourisme culturel
						</div>
					</div>
					<!-- end client item -->

					<!-- start client item -->
					<div class="swiper-slide">
						<div class="fs-28 sm-fs-22 alt-font ls-minus-05px text-dark-gray">
							<span class="w-10px h-10px border border-radius-100 border-color-base-color d-inline-block ms-50px me-50px md-ms-30px md-me-30px"></span>Développement de l'industrie
							agroalimentaire
						</div>
					</div>
					<!-- end client item -->
					<!-- start client item -->
					<div class="swiper-slide">
						<div class="fs-28 sm-fs-22 alt-font ls-minus-05px text-dark-gray">
							<span class="w-10px h-10px border border-radius-100 border-color-base-color d-inline-block ms-50px me-50px md-ms-30px md-me-30px"></span>promotion de l'artisanat
							traditionnel et des investissements dans l'éducation et la recherche
						</div>
					</div>
					<!-- end client item -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="pt-0 pb-60 overflow-hidden">
	<div class="container-fluid p-0">
		<div class="row g-0 bg-linen">
			<div class="col-xl-3 col-lg-4 col-md-5 tab-style-07 d-flex align-items-start align-items-xl-center">
				<ul class="nav nav-tabs justify-content-center border-0 text-left fs-24 alt-font">
					<li class="nav-item">
						<a data-bs-toggle="tab" href="#tab_seven1" class="nav-link active">
							<span><span class="primary-font me-10px fs-18 fw-600">01</span>En Ville</span>
							<span class="number-box d-flex justify-content-center align-items-center rounded-circle h-70px w-70px bg-green text-white"
								><i class="bi bi-arrow-right icon-extra-medium"></i
							></span>
							<span class="bg-hover bg-green"></span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-bs-toggle="tab" href="#tab_seven2">
							<span><span class="primary-font me-10px fs-18 fw-600">02</span>Autoroutes</span>
							<span class="number-box d-flex justify-content-center align-items-center rounded-circle h-70px w-70px bg-purple text-white"
								><i class="bi bi-arrow-right icon-extra-medium"></i
							></span>
							<span class="bg-hover bg-purple"></span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-bs-toggle="tab" href="#tab_seven3">
							<span><span class="primary-font me-10px fs-18 fw-600">03</span>Aéroport</span>
							<span class="number-box d-flex justify-content-center align-items-center rounded-circle h-70px w-70px bg-red text-white"
								><i class="bi bi-arrow-right icon-extra-medium"></i
							></span>
							<span class="bg-hover bg-red"></span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-bs-toggle="tab" href="#tab_seven4">
							<span><span class="primary-font me-10px fs-18 fw-600">04</span>Mall/Gare</span>
							<span class="number-box d-flex justify-content-center align-items-center rounded-circle h-70px w-70px bg-orange text-white"
								><i class="bi bi-arrow-right icon-extra-medium"></i
							></span>
							<span class="bg-hover bg-orange"></span>
						</a>
					</li>
				</ul>
			</div>
			<div class="col-xl-9 col-lg-8 col-md-7">
				<div class="tab-content h-100">
					<!-- start tab content -->
					<div class="tab-pane fade in active show h-100" id="tab_seven1">
						<div class="row g-0 h-100 lg-h-auto">
							<div class="col-xl-6">
								<div class="h-100 lg-h-400px cover-background position-relative" style="background-image: url(assets/images/U4FA-FS16B04-C11.jpg)">
									<div class="position-absolute right-0px bottom-0 d-flex"></div>
								</div>
							</div>
							<div class="col-xl-6 bg-linen pt-6 pb-6 ps-8 pe-8">
								<div class="d-flex align-items-xl-start align-items-center text-center text-xl-start flex-column justify-content-center h-100">
									<span
										class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px text-uppercase text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
										>Fès-Meknès</span
									>
									<h3 class="text-gradient-fast-blue-purple-light-orange mb-15px alt-font">En ville</h3>
									<p>
										La région de Fès-Meknès, cœur battant de l'histoire et de la culture du Maroc, bénéficie d'une couverture publicitaire étendue et variée grâce à FC Media. À
										Fès, capitale spirituelle et centre économique, ainsi qu'à Meknès, ville impériale, nous déployons des panneaux 4x3 statiques et déroulants, en plus de nos
										unipôles stratégiquement placés dans les zones les plus fréquentées. Nos infrastructures modernes couvrent également les villes de Taza, Ifrane, Sefrou, El
										Hajeb, Azrou, Immouzer, Taounate et d'autres localités. Que ce soit au cœur des centres historiques ou dans les quartiers modernes, FC Media assure que votre
										campagne publicitaire capte l'attention d'un large public, combinant habitants et visiteurs.
									</p>
								</div>
							</div>
						</div>
					</div>
					<!-- end tab content -->
					<!-- start tab content -->
					<div class="tab-pane fade in h-100" id="tab_seven2">
						<div class="row g-0 h-100 lg-h-auto">
							<div class="col-xl-6">
								<div class="h-100 lg-h-400px cover-background position-relative" style="background-image: url(assets/images/DSC_7176-.jpg)">
									<div class="position-absolute right-0px bottom-0 d-flex"></div>
								</div>
							</div>
							<div class="col-xl-6 bg-very-light-gray pt-6 pb-6 ps-8 pe-8">
								<div class="d-flex align-items-xl-start align-items-center text-center text-xl-start flex-column justify-content-center h-100">
									<span
										class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px text-uppercase text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
										>Fès-Meknès</span
									>
									<h3 class="text-gradient-fast-blue-purple-light-orange mb-15px alt-font">Autoroutes</h3>
									<p>
										L'axe autoroutier Rabat-Fès est une artère vitale pour le flux de personnes et de marchandises entre la capitale administrative et la région de Fès-Meknès. FC
										Media maximise la portée de vos messages publicitaires en positionnant des unipôles dans les stations-service les plus fréquentées le long de cette route. Ces
										supports sont conçus pour offrir une visibilité continue aux voyageurs, assurant que votre message reste présent et marquant pendant tout le trajet. "Sur la
										route de l'histoire et de la modernité, votre message voyage avec FC Media."
									</p>
								</div>
							</div>
						</div>
					</div>
					<!-- end tab content -->
					<!-- start tab content -->
					<div class="tab-pane fade in h-100" id="tab_seven3">
						<div class="row g-0 h-100 lg-h-auto">
							<div class="col-xl-6">
								<div class="h-100 lg-h-400px cover-background position-relative" style="background-image: url(assets/images/P61_P66.jpg)">
									<div class="position-absolute right-0px bottom-0 d-flex"></div>
								</div>
							</div>
							<div class="col-xl-6 bg-very-light-gray pt-6 pb-6 ps-8 pe-8">
								<div class="d-flex align-items-xl-start align-items-center text-center text-xl-start flex-column justify-content-center h-100">
									<span
										class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px text-uppercase text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
										>Fès-Meknès</span
									>
									<h3 class="text-gradient-fast-blue-purple-light-orange mb-15px alt-font">Aéroport</h3>
									<p>
										L'aéroport de Fès-Saïss est un point d'entrée important pour les touristes et les voyageurs d'affaires qui visitent cette région riche en patrimoine. FC Media y
										propose des solutions publicitaires qui captent l'attention dès le premier pas dans le terminal. À l'intérieur de l'aéroport, nos habillages muraux créent une
										présence visuelle impressionnante, tandis qu'à l'extérieur, nos panneaux 4x3 garantissent une visibilité continue à l'arrivée et au départ des passagers. Avec
										FC Media, votre campagne se distingue dans cet aéroport clé, touchant une audience diversifiée et internationale.
									</p>
								</div>
							</div>
						</div>
					</div>
					<!-- end tab content -->
					<!-- start tab content -->
					<div class="tab-pane fade in h-100" id="tab_seven4">
						<div class="row g-0 h-100 lg-h-auto">
							<div class="col-xl-6">
								<div class="h-100 lg-h-400px cover-background position-relative" style="background-image: url(assets/images/20190830_124126-2x.jpg)">
									<div class="position-absolute right-0px bottom-0 d-flex"></div>
								</div>
							</div>
							<div class="col-xl-6 bg-very-light-gray pt-6 pb-6 ps-8 pe-8">
								<div class="d-flex align-items-xl-start align-items-center text-center text-xl-start flex-column justify-content-center h-100">
									<span
										class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px text-uppercase text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
										>Fès-Meknès</span
									>
									<h3 class="text-gradient-fast-blue-purple-light-orange mb-15px alt-font">Mall/Gare</h3>
									<p>
										Les centres commerciaux Marjane de la région de Fès-Meknès sont des destinations populaires pour les résidents et les visiteurs, offrant une opportunité
										exceptionnelle pour votre publicité. FC Media y déploie des panneaux 4x3, assurant une visibilité optimale dans ces espaces commerciaux très fréquentés. Par
										ailleurs, les gares de Fès et de Meknès sont des points de transit essentiels pour les voyageurs. Nos supports TWINS, positionnés sur les quais, captent
										l'attention de milliers de passagers chaque jour. Que ce soit pour le shopping ou les déplacements, FC Media garantit que votre message publicitaire se démarque
										dans les lieux les plus fréquentés de la région.
									</p>
								</div>
							</div>
						</div>
					</div>
					<!-- end tab content -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="pt-0" id="contact">
	<div class="container">
		<div class="row justify-content-center box-shadow-quadruple-large border-radius-6px overflow-hidden g-0">
			<!-- start contact address -->
			<div class="col-lg-6">
				<div
					class="p-15 lg-p-13 md-p-10 bg-white h-100 background-position-right-bottom background-no-repeat xs-background-image-none"
					style="background-image: url('assets/images/Logo_FC_Media-small.png')"
				>
					<span class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
						>FC Media</span
					>
					<h3 class="alt-font text-dark-gray fw-600">Data Enriched Approach (DEA)</h3>
					<div class="mt-11">
						<p class="fs-17 lh-28 ms-xl-0 mx-auto">
							Notre approche "Data Enriched" va au-delà des simples impressions publicitaires. En exploitant des données précises et actualisées, nous quantifions l'impact de vos
							campagnes publicitaires avec précision. De l'occasion de voir à la portée de votre campagne, en passant par la fréquence à laquelle elle est vue par un même individu, nous
							transformons les données en informations tangibles pour optimiser vos stratégies publicitaires.
						</p>
					</div>
					<a [routerLink]="['data-enriched-approach']" class="mt-9 btn btn-dark-gray left-icon btn-extra-large fw-500 btn-rounded btn-switch-text btn-box-shadow">
						<span>
							<span><i class="bi bi-arrow-return-right"></i></span>
							<span class="btn-double-text" data-text="Lire plus">En savoir plus</span>
						</span>
					</a>
				</div>
			</div>
			<!-- end contact address -->
			<div class="col-lg-6 contact-form-style-03">
				<div class="p-15 lg-p-13 md-p-10 bg-dark-gray h-100">
					<h1 class="fs-60 fw-600 alt-font text-white fancy-text-style-4 ls-minus-1px">
						Besoin<br />
						<span data-fancy-text='{ "effect": "rotate", "string": ["d&#39;information", "d&#39;aide"] }'></span>
					</h1>
					<!-- start contact form -->
					<app-dea-form></app-dea-form>
					<!-- end contact form -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->
