<!-- start page title -->
<section class="ipad-top-space-margin" style="background-image: url(assets/images/image-1.png)">
	<div class="container position-relative">
		<div
			class="row justify-content-center align-items-lg-end extra-very-small-screen"
			data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
		>
			<div class="col-lg-6 position-relative page-title-extra-large md-mb-30px sm-mb-20px z-index-9">
				<h1 class="text-white fw-600 mb-0 alt-font highlight-separator-small">
					<span class="highlight-separator mb-0 pb-0" data-shadow-animation="true" data-animation-delay="500">FC Production</span>
				</h1>
			</div>
			<div class="col-lg-6"></div>
		</div>
	</div>
</section>
<!-- end page title -->

<!-- start section -->
<section class="pb-35px position-relative">
	<div class="container">
		<div
			class="row justify-content-center mb-2"
			data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
		>
			<div class="col-xxl-7 col-xl-7 col-lg-9 col-md-10 text-center">
				<div
					class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-uppercase text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
				>
					FC Production
				</div>
				<h3 class="fs-40 alt-font fw-700 mb-25px ls-minus-1px text-gradient-fast-blue-purple-light-orange">Votre Partenaire de Confiance pour la Production et l'Affichage Dynamique</h3>
				<p>
					Vous cherchez un partenaire fiable pour assurer la production et l'affichage dynamique de vos supports publicitaires ? Ne cherchez pas plus loin que FC Production. En tant
					qu'Atelier de Production & Solution d'Affichage Dynamique de premier plan, nous nous engageons à fournir à nos clients des services de qualité supérieure, du début à la fin.
				</p>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="pt-0">
	<div class="container">
		<div
			class="row align-items-center justify-content-md-center py-5 ps-30px pe-30px lg-p-30px xs-ps-0 xs-pe-0 cover-background border-radius-8px m-0"
			style="background-image: url(assets/images/demo-application-home-05.jpg)"
		>
			<div class="col-lg-6 d-flex justify-content-center">
				<div class="col-sm-6">
					<img
						src="assets/images/installation-fcpro.jpg"
						class="w-100 border-radius-10px box-shadow-quadruple-large"
						data-bottom-top="transform: translateY(-100px)"
						data-top-bottom="transform: translateY(100px)"
						alt=""
					/>
				</div>
			</div>
			<!-- start subscribe item -->
			<div class="col-lg-6 col-md-9 text-center text-lg-start ps-7 pe-7 lg-ps-3 lg-pe-3 sm-ps-15px sm-pe-15px">
				<h3 class="fs-37 fw-700 text-dark-gray ls-minus-2px">Installation Professionnelle et Déploiement Stratégique</h3>
				<p>
					Chez FC Production, nous sommes spécialisés dans l'installation de supports de publicité et dans la mise en œuvre de politiques patrimoniales d'emplacements d'affichage, que ce
					soit au niveau régional ou national. Nous travaillons en étroite collaboration avec FC Media pour garantir que vos campagnes publicitaires sont déployées de manière efficace et
					stratégique, tout en assurant un respect absolu de la qualité à chaque étape du processus.
				</p>
			</div>
			<!-- end subscribe item -->
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="pt-0">
	<div class="container">
		<div
			class="row align-items-center justify-content-md-center py-5 ps-30px pe-30px lg-p-30px xs-ps-0 xs-pe-0 cover-background border-radius-8px m-0"
			style="background-image: url(assets/images/demo-application-home-05-.jpg)"
		>
			<!-- start subscribe item -->
			<div class="col-lg-6 col-md-9 text-center text-lg-start ps-7 pe-7 lg-ps-3 lg-pe-3 sm-ps-15px sm-pe-15px">
				<h3 class="fs-37 fw-700 text-dark-gray ls-minus-2px">Expertise en Affichage Digital</h3>
				<p>
					En plus de notre expertise dans l'installation des supports traditionnels, FC Production est également un leader dans le domaine de l'affichage digital. Nous sommes qualifiés pour
					installer et commercialiser des panneaux digitaux, offrant ainsi à nos clients la possibilité de captiver leur public cible avec des messages dynamiques et percutants.
				</p>
			</div>
			<!-- end subscribe item -->
			<div class="col-lg-6 md-mb-40px">
				<div class="row">
					<div class="col-sm-12 xs-mb-30px">
						<img
							src="assets/images/expertise-affichage.jpg"
							class="w-100 border-radius-10px box-shadow-quadruple-large"
							data-bottom-top="transform: translateY(-100px)"
							data-top-bottom="transform: translateY(100px)"
							alt=""
						/>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="pt-0">
	<div class="container">
		<div
			class="row align-items-center justify-content-center py-5 ps-30px pe-30px lg-p-30px xs-ps-0 xs-pe-0 cover-background border-radius-8px m-0"
			style="background-image: url(assets/images/demo-application-home-05.jpg)"
		>
			<div class="col-lg-6 d-flex justify-content-center">
				<div class="col-sm-6">
					<img
						src="assets/images/installation-fcpro.jpg"
						class="w-100 border-radius-10px box-shadow-quadruple-large"
						data-bottom-top="transform: translateY(-100px)"
						data-top-bottom="transform: translateY(100px)"
						alt=""
					/>
				</div>
			</div>
			<!-- start subscribe item -->
			<div class="col-lg-6 col-md-9 text-center text-lg-start ps-7 pe-7 lg-ps-3 lg-pe-3 sm-ps-15px sm-pe-15px">
				<h3 class="fs-37 fw-700 text-dark-gray ls-minus-2px">Engagement envers la Qualité et le Professionnalisme</h3>
				<p>
					Chez FC Production, la qualité et le professionnalisme sont au cœur de tout ce que nous faisons. Nous nous engageons à fournir à nos clients des services et des produits de la plus
					haute qualité, tout en respectant les délais et les budgets convenus. Avec notre équipe expérimentée et notre souci du détail, vous pouvez avoir confiance en notre capacité à
					répondre à vos besoins les plus exigeants.
				</p>
			</div>
			<!-- end subscribe item -->
		</div>
	</div>
</section>

<!-- end section -->

<!-- start section -->
<section class="pt-0" id="contact">
	<div class="container">
		<div class="row justify-content-center box-shadow-quadruple-large border-radius-6px overflow-hidden g-0">
			<!-- start contact address -->
			<div class="col-lg-6">
				<div
					class="p-15 lg-p-13 md-p-10 bg-white h-100 background-position-right-bottom background-no-repeat xs-background-image-none"
					style="background-image: url('assets/images/Logo_FC_Media-small.png')"
				>
					<span class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
						>FC Media</span
					>
					<h3 class="alt-font text-dark-gray fw-600">Data Enriched Approach (DEA)</h3>
					<div class="mt-11">
						<p class="fs-17 lh-28 ms-xl-0 mx-auto">
							Notre approche "Data Enriched" va au-delà des simples impressions publicitaires. En exploitant des données précises et actualisées, nous quantifions l'impact de vos
							campagnes publicitaires avec précision. De l'occasion de voir à la portée de votre campagne, en passant par la fréquence à laquelle elle est vue par un même individu, nous
							transformons les données en informations tangibles pour optimiser vos stratégies publicitaires.
						</p>
					</div>
					<a [routerLink]="['data-enriched-approach']" class="mt-9 btn btn-dark-gray left-icon btn-extra-large fw-500 btn-rounded btn-switch-text btn-box-shadow">
						<span>
							<span><i class="bi bi-arrow-return-right"></i></span>
							<span class="btn-double-text" data-text="Lire plus">En savoir plus</span>
						</span>
					</a>
				</div>
			</div>
			<!-- end contact address -->
			<div class="col-lg-6 contact-form-style-03">
				<div class="p-15 lg-p-13 md-p-10 bg-dark-gray h-100">
					<h1 class="fs-60 fw-600 alt-font text-white fancy-text-style-4 ls-minus-1px">
						Besoin<br />
						<span data-fancy-text='{ "effect": "rotate", "string": ["d&#39;information", "d&#39;aide"] }'></span>
					</h1>
					<!-- start contact form -->
					<app-dea-form></app-dea-form>
					<!-- end contact form -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->
