<!-- start page title -->
<section class="ipad-top-space-margin" style="background-image: url(assets/images/image-1.png)">
	<div class="container position-relative">
		<div
			class="row justify-content-center align-items-lg-end extra-very-small-screen"
			data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
		>
			<div class="col-lg-8 position-relative page-title-extra-large md-mb-30px sm-mb-20px z-index-9">
				<h1 class="text-white fw-600 mb-0 alt-font highlight-separator-small">
					<span class="highlight-separator mb-0 pb-0" data-shadow-animation="true" data-animation-delay="500">Foire aux questions</span>
				</h1>
			</div>
			<div class="col-lg-4"></div>
		</div>
	</div>
</section>
<!-- end page title -->

<!-- start section -->
<section class="pb-35px position-relative">
	<div class="container">
		<div
			class="row justify-content-center mb-2"
			data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
		>
			<div class="row justify-content-center mb-30px">
				<div class="col-12">
					<div class="accordion accordion-style-02" id="accordion-style-02" data-active-icon="icon-feather-minus" data-inactive-icon="icon-feather-plus">
						<!-- start accordion item -->
						<div class="accordion-item active-accordion">
							<div class="accordion-header border-bottom border-color-extra-medium-gray">
								<a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-01" aria-expanded="true" data-bs-parent="#accordion-style-02">
									<div class="accordion-title mb-0 position-relative text-dark-gray">
										<i class="feather icon-feather-minus"></i><span class="fw-600 fs-18 ls-minus-05px">1. Qui est FC Media ?</span>
									</div>
								</a>
							</div>
							<div id="accordion-style-02-01" class="accordion-collapse collapse show" data-bs-parent="#accordion-style-02">
								<div class="accordion-body last-paragraph-no-margin border-bottom border-color-light-medium-gray">
									<p>
										FC Media est le leader et pionnier de l'affichage publicitaire au Maroc.<br />
										Nous sommes présents dans tous les lieux de vie et sur tout le territoire du Royaume.<br />
										Notre expertise couvre une large gamme de services d'affichage urbain, aéroportuaire et ferroviaire.
									</p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						<!-- start accordion item -->
						<div class="accordion-item">
							<div class="accordion-header border-bottom border-color-extra-medium-gray">
								<a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-02" aria-expanded="false" data-bs-parent="#accordion-style-02">
									<div class="accordion-title mb-0 position-relative text-dark-gray">
										<i class="feather icon-feather-plus"></i><span class="fw-600 fs-18 ls-minus-05px">2. Quels types de services proposez-vous ? </span>
									</div>
								</a>
							</div>
							<div id="accordion-style-02-02" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
								<div class="accordion-body last-paragraph-no-margin border-bottom border-color-light-medium-gray">
									<p>
										<strong>Affichage Urbain</strong> : Panneaux 4x3, panneaux LED, sucettes, kakémonos, façades, abribus, abritram, unipôles, écrans LED.<br />
										<strong> Affichage dans les Aéroports</strong> : Panneaux muraux, toiles suspendues, caissons lumineux.<br />
										<strong> Affichage dans les Gares Ferroviaires </strong>: Caissons rotatifs, twins.
									</p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						<!-- start accordion item -->
						<div class="accordion-item">
							<div class="accordion-header border-bottom border-color-extra-medium-gray">
								<a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-03" aria-expanded="false" data-bs-parent="#accordion-style-02">
									<div class="accordion-title mb-0 position-relative text-dark-gray">
										<i class="feather icon-feather-plus"></i
										><span class="fw-600 fs-18 ls-minus-05px">3. Quels sont les avantages du programmatique en affichage urbain avec FC Media ? </span>
									</div>
								</a>
							</div>
							<div id="accordion-style-02-03" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
								<div class="accordion-body last-paragraph-no-margin border-bottom border-color-extra-medium-gray">
									<p>
										<strong> Ciblage Précis </strong>: Utilisation de données avancées pour atteindre les audiences les plus pertinentes.<br />
										<strong> Flexibilité </strong>: Ajustement en temps réel des campagnes pour répondre aux tendances et optimiser les performances.<br />
										<strong>Optimisation </strong>: Analyse en temps réel pour optimiser continuellement les performances des campagnes.<br />
										<strong> Transparence </strong>: Rapports détaillés sur les performances pour une visibilité totale sur vos investissements publicitaires.
									</p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						<!-- start accordion item -->
						<div class="accordion-item">
							<div class="accordion-header border-bottom border-color-extra-medium-gray">
								<a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-04" aria-expanded="false" data-bs-parent="#accordion-style-02">
									<div class="accordion-title mb-0 position-relative text-dark-gray">
										<i class="feather icon-feather-plus"></i><span class="fw-600 fs-18 ls-minus-05px">4. Comment puis-je créer une campagne d'affichage avec FC Media ? </span>
									</div>
								</a>
							</div>
							<div id="accordion-style-02-04" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
								<div class="accordion-body last-paragraph-no-margin border-bottom border-color-extra-medium-gray">
									<p>Il existe deux façons de créer une campagne avec FC Media :<br /></p>
									<h3 class="fw-600 fs-16 ls-minus-05px text-base-color mb-0">1/ Contactez-nous :</h3>

									<strong> Étape 1 </strong> : Contactez-nous pour discuter de vos besoins et objectifs publicitaires.
									<br />
									<strong> Étape 2 </strong> : Une personne de notre équipe vous sera associée pour préparer une sélection de panneaux en fonction de votre cible.
									<br />
									<strong>Étape 3 </strong> : Après votre sélection des panneaux, nous vous enverrons un devis personnalisé.
									<br />
									<h3 class="fw-600 fs-16 ls-minus-05px text-base-color mb-0">2/ Utilisez notre plateforme en ligne :</h3>

									<strong> Étape 1 </strong> : Accédez à notre plateforme de commande en ligne.
									<br />
									<strong> Étape 2 </strong> : Concevez et lancez votre campagne de manière autonome, en choisissant parmi notre large gamme d'emplacements publicitaires.
									<br />
									<strong>Étape 3 </strong> : Consultez les performances globales des faces sélectionnées pour évaluer leur impact.

									<br />
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						<!-- start accordion item -->
						<div class="accordion-item">
							<div class="accordion-header border-bottom border-color-extra-medium-gray">
								<a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-05" aria-expanded="false" data-bs-parent="#accordion-style-02">
									<div class="accordion-title mb-0 position-relative text-dark-gray">
										<i class="feather icon-feather-plus"></i
										><span class="fw-600 fs-18 ls-minus-05px">5. Quels sont les avantages de choisir FC Media pour mes campagnes publicitaires ?</span>
									</div>
								</a>
							</div>
							<div id="accordion-style-02-05" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
								<div class="accordion-body last-paragraph-no-margin border-bottom border-color-extra-medium-gray">
									<p>
										<strong> Visibilité Maximale </strong>: Emplacements stratégiques garantissant une exposition optimale. <br /><br />
										<strong> Expertise Locale </strong> : Connaissance approfondie du marché marocain et des comportements des consommateurs. <br /><br />
										<strong>Support Client Dédié </strong>: Accompagnement personnalisé à chaque étape de votre campagne. <br /><br />
										<strong> Technologie Avancée </strong>: Utilisation de la DATA ENRICHED APPROACH permettant de mesurer l'audience de notre inventaire et d'optimiser vos
										campagnes pour maximiser leur efficacité.
									</p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						<!-- start accordion item -->
						<div class="accordion-item">
							<div class="accordion-header border-bottom border-color-extra-medium-gray">
								<a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-06" aria-expanded="false" data-bs-parent="#accordion-style-02">
									<div class="accordion-title mb-0 position-relative text-dark-gray">
										<i class="feather icon-feather-plus"></i><span class="fw-600 fs-18 ls-minus-05px">6. Comment fonctionne la DATA ENRICHED APPROACH ? </span>
									</div>
								</a>
							</div>
							<div id="accordion-style-02-06" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
								<div class="accordion-body last-paragraph-no-margin border-bottom border-color-extra-medium-gray">
									<p>
										<strong>Collecte de données </strong> : Utilisation de données précises et actualisées pour chaque campagne. <br /><br />
										<strong>Analyse des performances </strong>: Mesure de l'impact de vos campagnes en termes d'occasions de voir, de portée et de fréquence. <br /><br />
										<strong>Optimisation Continue</strong>: Ajustements basés sur les insights pour maximiser l'efficacité de votre campagne.
									</p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						<!-- start accordion item -->
						<div class="accordion-item">
							<div class="accordion-header border-bottom border-color-extra-medium-gray">
								<a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-07" aria-expanded="false" data-bs-parent="#accordion-style-02">
									<div class="accordion-title mb-0 position-relative text-dark-gray">
										<i class="feather icon-feather-plus"></i><span class="fw-600 fs-18 ls-minus-05px">7. Où sont situés vos emplacements publicitaires ? </span>
									</div>
								</a>
							</div>
							<div id="accordion-style-02-07" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
								<div class="accordion-body last-paragraph-no-margin border-bottom border-color-extra-medium-gray">
									<p>
										<strong>Villes </strong>: Emplacements dans les zones urbaines à forte fréquentation. <br /><br />
										<strong>Aéroports </strong> : Zones de passage stratégique dans les principaux aéroports du Royaume. <br /><br />
										<strong>Gares Ferroviaires</strong>: Espaces à haute visibilité dans les gares ferroviaires majeures. <br /><br />
										<strong>Centres commerciaux </strong> : Une sélection d’hyper marché Marjane et au Morocco Mall.
									</p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						<!-- start accordion item -->
						<div class="accordion-item">
							<div class="accordion-header border-bottom border-color-extra-medium-gray">
								<a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-08" aria-expanded="false" data-bs-parent="#accordion-style-02">
									<div class="accordion-title mb-0 position-relative text-dark-gray">
										<i class="feather icon-feather-plus"></i><span class="fw-600 fs-18 ls-minus-05px">8. Quels sont les formats disponibles pour l'affichage digital ? </span>
									</div>
								</a>
							</div>
							<div id="accordion-style-02-08" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
								<div class="accordion-body last-paragraph-no-margin border-bottom border-color-extra-medium-gray">
									<p>
										<strong>Panneaux LED </strong>: Idéals pour des annonces dynamiques et percutantes.
										<br />
										<strong>Écrans LED géants </strong> : Parfaits pour une visibilité maximale en milieu urbain.
										<br />
										<strong>Ecrans LED Indoor </strong> : Permettant d’accompagner votre cible lors de ces phases de vie quotidienne.
										<br />
									</p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						<!-- start accordion item -->
						<div class="accordion-item">
							<div class="accordion-header border-bottom border-color-extra-medium-gray">
								<a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-09" aria-expanded="false" data-bs-parent="#accordion-style-02">
									<div class="accordion-title mb-0 position-relative text-dark-gray">
										<i class="feather icon-feather-plus"></i><span class="fw-600 fs-18 ls-minus-05px">9. Comment puis-je contacter FC Media pour commencer une campagne ? </span>
									</div>
								</a>
							</div>
							<div id="accordion-style-02-09" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
								<div class="accordion-body last-paragraph-no-margin border-bottom border-color-extra-medium-gray">
									<p>
										Vous pouvez nous contacter via notre formulaire en ligne sur notre site internet.<br />
										Par téléphone au +212 522 977 720<br />
										Par email à contact&#64;fcmedia.ma<br />
										En remplissant le formulaire sur notre site internet www.fcmedia.ma<br />
										Nos équipes sont disponibles pour discuter de vos besoins et vous aider à lancer votre campagne.
									</p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						<!-- start accordion item -->
						<div class="accordion-item">
							<div class="accordion-header border-bottom border-color-extra-medium-gray">
								<a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-10" aria-expanded="false" data-bs-parent="#accordion-style-02">
									<div class="accordion-title mb-0 position-relative text-dark-gray">
										<i class="feather icon-feather-plus"></i
										><span class="fw-600 fs-18 ls-minus-05px">10. Quelle est la durée typique d'une campagne d'affichage avec FC Media ? </span>
									</div>
								</a>
							</div>
							<div id="accordion-style-02-10" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
								<div class="accordion-body last-paragraph-no-margin border-bottom border-color-extra-medium-gray">
									<p>
										La durée d'une campagne peut varier en fonction de vos objectifs et de votre budget.<br />
										Nos campagnes peuvent être de courte durée (quelques jours (15) à quelques semaines (4)) ou de longue durée (plusieurs mois).<br />
										Nous travaillons avec vous pour définir la durée optimale en fonction de vos besoins.
									</p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						<!-- start accordion item -->
						<div class="accordion-item">
							<div class="accordion-header border-bottom border-color-extra-medium-gray">
								<a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-11" aria-expanded="false" data-bs-parent="#accordion-style-02">
									<div class="accordion-title mb-0 position-relative text-dark-gray">
										<i class="feather icon-feather-plus"></i
										><span class="fw-600 fs-18 ls-minus-05px">11. Quels sont les avantages des panneaux LED par rapport aux panneaux traditionnels ? </span>
									</div>
								</a>
							</div>
							<div id="accordion-style-02-11" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
								<div class="accordion-body last-paragraph-no-margin border-bottom border-color-extra-medium-gray">
									<p>
										<strong>Visibilité accrue </strong>: Les panneaux LED offrent une luminosité élevée et une visibilité optimale, même à grande distance.<br />
										<strong> Contenu Dynamique</strong> : Diffusion de contenus animés et variés, captant davantage l'attention du public.<br />
										<strong>Flexibilité </strong>: Possibilité de changer le contenu en temps réel, en fonction des tendances et des événements actuels.
									</p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						<!-- start accordion item -->
						<div class="accordion-item">
							<div class="accordion-header border-bottom border-color-extra-medium-gray">
								<a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-12" aria-expanded="false" data-bs-parent="#accordion-style-02">
									<div class="accordion-title mb-0 position-relative text-dark-gray">
										<i class="feather icon-feather-plus"></i><span class="fw-600 fs-18 ls-minus-05px">12. Comment assurez-vous la maintenance des panneaux publicitaires ? </span>
									</div>
								</a>
							</div>
							<div id="accordion-style-02-12" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
								<div class="accordion-body last-paragraph-no-margin border-bottom border-color-extra-medium-gray">
									<p>
										Nous avons une équipe dédiée à la maintenance régulière de tous nos panneaux publicitaires.<br />
										Des inspections fréquentes sont réalisées pour s'assurer que tous les panneaux sont en parfait état de fonctionnement.<br />
										En cas de problème technique, notre équipe intervient rapidement pour minimiser toute interruption.
									</p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						<!-- start accordion item -->
						<div class="accordion-item">
							<div class="accordion-header border-bottom border-color-extra-medium-gray">
								<a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-13" aria-expanded="false" data-bs-parent="#accordion-style-02">
									<div class="accordion-title mb-0 position-relative text-dark-gray">
										<i class="feather icon-feather-plus"></i
										><span class="fw-600 fs-18 ls-minus-05px">13. Quelles sont les zones géographiques couvertes par FC Media au Maroc ? </span>
									</div>
								</a>
							</div>
							<div id="accordion-style-02-13" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
								<div class="accordion-body last-paragraph-no-margin border-bottom border-color-extra-medium-gray">
									<p>
										FC Media couvre plus de 80 villes au Maroc, y compris les petites villes.<br />
										Nous avons également des emplacements stratégiques dans les principaux aéroports et gares ferroviaires à travers le Royaume.
									</p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						<!-- start accordion item -->
						<div class="accordion-item">
							<div class="accordion-header border-bottom border-color-extra-medium-gray">
								<a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-14" aria-expanded="false" data-bs-parent="#accordion-style-02">
									<div class="accordion-title mb-0 position-relative text-dark-gray">
										<i class="feather icon-feather-plus"></i
										><span class="fw-600 fs-18 ls-minus-05px">14. Quels sont les formats d'affichage les plus efficaces pour une campagne de lancement de produit ? </span>
									</div>
								</a>
							</div>
							<div id="accordion-style-02-14" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
								<div class="accordion-body last-paragraph-no-margin border-bottom border-color-extra-medium-gray">
									<p>
										Pour une campagne de lancement de produit, nous recommandons les circuits de nos panneaux LED et les écrans LED géants pour leur capacité à diffuser des
										contenus dynamiques et accrocheurs.<br />
										Les panneaux 4x3 et les unipôles sont également très efficaces pour une visibilité à grande échelle.<br />
										Pour une couverture urbaine, les abribus et les abritram offrent une exposition continue et une proximité avec le public.
									</p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						<!-- start accordion item -->
						<div class="accordion-item">
							<div class="accordion-header border-bottom border-color-extra-medium-gray">
								<a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-15" aria-expanded="false" data-bs-parent="#accordion-style-02">
									<div class="accordion-title mb-0 position-relative text-dark-gray">
										<i class="feather icon-feather-plus"></i
										><span class="fw-600 fs-18 ls-minus-05px"
											>15. Comment le programmatique peut-il améliorer le retour sur investissement (ROI) de ma campagne publicitaire ?
										</span>
									</div>
								</a>
							</div>
							<div id="accordion-style-02-15" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
								<div class="accordion-body last-paragraph-no-margin border-bottom border-color-extra-medium-gray">
									<p>
										Le programmatique permet un ciblage précis de votre audience, augmentant l'efficacité de votre campagne en touchant la cible escomptée.<br />
										Les ajustements en temps réel permettent d'optimiser les performances en fonction des données collectées, maximisant ainsi le ROI.<br />
										La transparence et les rapports détaillés fournis permettent de mesurer précisément l'impact et d'ajuster les stratégies pour améliorer continuellement le ROI.
									</p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						<!-- start accordion item -->
						<div class="accordion-item">
							<div class="accordion-header border-bottom border-color-extra-medium-gray">
								<a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-16" aria-expanded="false" data-bs-parent="#accordion-style-02">
									<div class="accordion-title mb-0 position-relative text-dark-gray">
										<i class="feather icon-feather-plus"></i
										><span class="fw-600 fs-18 ls-minus-05px">16. Proposez-vous des services de conseil pour optimiser mes campagnes publicitaires ? </span>
									</div>
								</a>
							</div>
							<div id="accordion-style-02-16" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
								<div class="accordion-body last-paragraph-no-margin border-bottom border-color-extra-medium-gray">
									<p>
										Oui, nous offrons des services de conseil personnalisés pour aider à planifier et optimiser vos campagnes publicitaires.<br />
										Notre équipe d'experts travaille avec vous pour comprendre vos objectifs et vous proposer les meilleures stratégies et formats d'affichage.<br />
										Nous fournissons également des analyses post-campagne pour identifier les points forts et les axes d'amélioration.
									</p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						<!-- start accordion item -->
						<div class="accordion-item">
							<div class="accordion-header border-bottom border-color-extra-medium-gray">
								<a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-17" aria-expanded="false" data-bs-parent="#accordion-style-02">
									<div class="accordion-title mb-0 position-relative text-dark-gray">
										<i class="feather icon-feather-plus"></i
										><span class="fw-600 fs-18 ls-minus-05px">17. Quels sont les délais typiques pour la mise en place d'une campagne publicitaire avec FC Media ? </span>
									</div>
								</a>
							</div>
							<div id="accordion-style-02-17" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
								<div class="accordion-body last-paragraph-no-margin border-bottom border-color-extra-medium-gray">
									<p>
										Les délais de mise en place peuvent varier en fonction de la complexité et de l'étendue de la campagne.<br />
										En général, une campagne peut être lancée dans un délai de 24 à 72 heures après son approbation et la réception du bon de commande.<br />
										Nous travaillons en étroite collaboration avec nos clients pour respecter les délais et garantir une exécution fluide.
									</p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						<!-- start accordion item -->
						<div class="accordion-item">
							<div class="accordion-header border-bottom border-color-extra-medium-gray">
								<a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-18" aria-expanded="false" data-bs-parent="#accordion-style-02">
									<div class="accordion-title mb-0 position-relative text-dark-gray">
										<i class="feather icon-feather-plus"></i
										><span class="fw-600 fs-18 ls-minus-05px"
											>18. Comment FC Media assure-t-elle la conformité avec les réglementations locales en matière d'affichage publicitaire ?
										</span>
									</div>
								</a>
							</div>
							<div id="accordion-style-02-18" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
								<div class="accordion-body last-paragraph-no-margin border-bottom border-color-extra-medium-gray">
									<p>
										Nous nous conformons à toutes les réglementations locales et nationales en matière d'affichage publicitaire.<br />
										Nous obtenons les autorisations nécessaires et respectons les normes de sécurité et d'environnement pour chaque emplacement.<br />
										Notre équipe reste informée des changements réglementaires pour garantir que toutes les campagnes sont en conformité avec les lois en vigueur.
									</p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						<!-- start accordion item -->
						<div class="accordion-item">
							<div class="accordion-header border-bottom border-color-extra-medium-gray">
								<a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-19" aria-expanded="false" data-bs-parent="#accordion-style-02">
									<div class="accordion-title mb-0 position-relative text-dark-gray">
										<i class="feather icon-feather-plus"></i><span class="fw-600 fs-18 ls-minus-05px">19. Comment puis-je acheter en ligne sur la plateforme ? </span>
									</div>
								</a>
							</div>
							<div id="accordion-style-02-19" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
								<div class="accordion-body last-paragraph-no-margin border-bottom border-color-extra-medium-gray">
									<p>
										Pour acheter en ligne, inscrivez-vous sur notre plateforme de commande. Créez ensuite votre campagne, choisissez votre période de diffusion (2 semaines, 1 mois,
										ou plus), puis sélectionnez les panneaux 4x3 qui vous intéressent parmi les villes proposées.
									</p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						<!-- start accordion item -->
						<div class="accordion-item">
							<div class="accordion-header border-bottom border-color-extra-medium-gray">
								<a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-20" aria-expanded="false" data-bs-parent="#accordion-style-02">
									<div class="accordion-title mb-0 position-relative text-dark-gray">
										<i class="feather icon-feather-plus"></i><span class="fw-600 fs-18 ls-minus-05px">20. Comment accéder à la plateforme de commande en ligne ? </span>
									</div>
								</a>
							</div>
							<div id="accordion-style-02-20" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
								<div class="accordion-body last-paragraph-no-margin border-bottom border-color-extra-medium-gray">
									<p>Vous pouvez accéder à notre plateforme de commande en ligne directement depuis notre site institutionnel.</p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						<!-- start accordion item -->
						<div class="accordion-item">
							<div class="accordion-header border-bottom border-color-extra-medium-gray">
								<a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-21" aria-expanded="false" data-bs-parent="#accordion-style-02">
									<div class="accordion-title mb-0 position-relative text-dark-gray">
										<i class="feather icon-feather-plus"></i><span class="fw-600 fs-18 ls-minus-05px">21. Qui peut s'inscrire sur la plateforme ? </span>
									</div>
								</a>
							</div>
							<div id="accordion-style-02-21" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
								<div class="accordion-body last-paragraph-no-margin border-bottom border-color-extra-medium-gray">
									<p>
										Oui, tout le monde peut s'inscrire sur la plateforme, que ce soit un particulier souhaitant lancer une campagne de communication OOH, ou une entreprise, qu'il
										s'agisse de startups, de TPE, ou de grands comptes.
									</p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						<!-- start accordion item -->
						<div class="accordion-item">
							<div class="accordion-header border-bottom border-color-extra-medium-gray">
								<a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-22" aria-expanded="false" data-bs-parent="#accordion-style-02">
									<div class="accordion-title mb-0 position-relative text-dark-gray">
										<i class="feather icon-feather-plus"></i><span class="fw-600 fs-18 ls-minus-05px">22. Comment sélectionner mes supports publicitaires ? </span>
									</div>
								</a>
							</div>
							<div id="accordion-style-02-22" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
								<div class="accordion-body last-paragraph-no-margin border-bottom border-color-extra-medium-gray">
									<p>
										Sélectionnez vos supports à travers notre plateforme de commande en ligne. Utilisez le bouton "Apply filters" pour choisir le type de support souhaité via les
										filtres "Board Type" à gauche de l'écran. Sélectionnez ensuite la région et la ville, puis cliquez sur "Apply" pour que notre inventaire se mette à jour et
										affiche les supports disponibles.<br /><br />
										Une vidéo explicative a été réalisée et est disponible sur notre site www.fcmedia.ma afin d’expliquer tout le processus de commande en ligne.
									</p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						<!-- start accordion item -->
						<div class="accordion-item">
							<div class="accordion-header border-bottom border-color-extra-medium-gray">
								<a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-23" aria-expanded="false" data-bs-parent="#accordion-style-02">
									<div class="accordion-title mb-0 position-relative text-dark-gray">
										<i class="feather icon-feather-plus"></i><span class="fw-600 fs-18 ls-minus-05px">23. Comment puis-je payer ma campagne ? </span>
									</div>
								</a>
							</div>
							<div id="accordion-style-02-23" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
								<div class="accordion-body last-paragraph-no-margin border-bottom border-color-extra-medium-gray">
									<p>Vous pouvez effectuer un virement instantané sur notre compte bancaire, dont le RIB est mentionné dans le mail de confirmation de votre inscription.</p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						<!-- start accordion item -->
						<div class="accordion-item">
							<div class="accordion-header border-bottom border-color-extra-medium-gray">
								<a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-24" aria-expanded="false" data-bs-parent="#accordion-style-02">
									<div class="accordion-title mb-0 position-relative text-dark-gray">
										<i class="feather icon-feather-plus"></i><span class="fw-600 fs-18 ls-minus-05px">24. Puis-je accéder aux données de performance des supports ? </span>
									</div>
								</a>
							</div>
							<div id="accordion-style-02-24" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
								<div class="accordion-body last-paragraph-no-margin border-bottom border-color-extra-medium-gray">
									<p>
										Oui, en sélectionnant vos supports 4x3, vous pouvez visualiser les données de performance de chaque support 4x3. En cliquant dessus, puis en accédant à la
										section "Audiences", vous y trouverez des informations telles que le nombre d'occasions de voir, le reach, la fréquence moyenne, ainsi que des données
										démographiques (sexe, âge) et des segments d'audience avec centres d'intérêt.
									</p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
						<!-- start accordion item -->
						<div class="accordion-item">
							<div class="accordion-header border-bottom border-color-extra-medium-gray">
								<a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-25" aria-expanded="false" data-bs-parent="#accordion-style-02">
									<div class="accordion-title mb-0 position-relative text-dark-gray">
										<i class="feather icon-feather-plus"></i><span class="fw-600 fs-18 ls-minus-05px">25. Le service en ligne inclut-il la création de visuels ? </span>
									</div>
								</a>
							</div>
							<div id="accordion-style-02-25" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
								<div class="accordion-body last-paragraph-no-margin border-bottom border-color-extra-medium-gray">
									<p>
										Non, nous ne proposons pas la création de visuels pour le moment. Vous devez impérativement disposer de votre propre conception avant de pouvoir lancer votre
										campagne.
									</p>
								</div>
							</div>
						</div>
						<!-- end accordion item -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->

<section class="pt-0" id="contact">
	<div class="container">
		<div class="row justify-content-center box-shadow-quadruple-large border-radius-6px overflow-hidden g-0">
			<!-- start contact address -->
			<div class="col-lg-6">
				<div
					class="p-15 lg-p-13 md-p-10 bg-white h-100 background-position-right-bottom background-no-repeat xs-background-image-none"
					style="background-image: url('assets/images/Logo_FC_Media-small.png')"
				>
					<span class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
						>FC Media</span
					>
					<h3 class="alt-font text-dark-gray fw-600">Data Enriched Approach (DEA)</h3>
					<div class="mt-11">
						<p class="fs-17 lh-28 ms-xl-0 mx-auto">
							Notre approche "Data Enriched" va au-delà des simples impressions publicitaires. En exploitant des données précises et actualisées, nous quantifions l'impact de vos
							campagnes publicitaires avec précision. De l'occasion de voir à la portée de votre campagne, en passant par la fréquence à laquelle elle est vue par un même individu, nous
							transformons les données en informations tangibles pour optimiser vos stratégies publicitaires.
						</p>
					</div>
					<a [routerLink]="['data-enriched-approach']" class="mt-9 btn btn-dark-gray left-icon btn-extra-large fw-500 btn-rounded btn-switch-text btn-box-shadow">
						<span>
							<span><i class="bi bi-arrow-return-right"></i></span>
							<span class="btn-double-text" data-text="Lire plus">En savoir plus</span>
						</span>
					</a>
				</div>
			</div>
			<!-- end contact address -->
			<div class="col-lg-6 contact-form-style-03">
				<div class="p-15 lg-p-13 md-p-10 bg-dark-gray h-100">
					<h1 class="fs-60 fw-600 alt-font text-white fancy-text-style-4 ls-minus-1px">
						Besoin<br />
						<span data-fancy-text='{ "effect": "rotate", "string": ["d&#39;information", "d&#39;aide"] }'></span>
					</h1>
					<!-- start contact form -->
					<app-dea-form></app-dea-form>
					<!-- end contact form -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->
