<!-- start page title -->
<section class="ipad-top-space-margin" style="background-image: url(assets/images/image-1.png)">
	<div class="container position-relative">
		<div
			class="row justify-content-center align-items-lg-end extra-very-small-screen"
			data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
		>
			<div class="col-lg-12 d-flex justify-content-between align-items-center">
				<h1 class="text-white fw-600 mb-0 alt-font highlight-separator-small">
					<span class="highlight-separator mb-0 pb-0" data-shadow-animation="true" data-animation-delay="500">Carrefour</span>
				</h1>
				<img src="assets/images/carrefour-white.png" alt="Logo" class="img-fluid" width="15%" height="20%" />
			</div>
		</div>
	</div>
</section>
<!-- end page title -->

<!-- start section -->
<section class="pb-0">
	<div class="container">
		<div class="row justify-content-center" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
			<div class="col-lg-10 mb-6 sm-mb-35px last-paragraph-no-margin">
				<h4 class="alt-font fw-600 text-dark-gray w-90 md-w-100">Analyse de la Campagne OOH Carrefour</h4>
				<br />
				<h6><b>Chiffres Clés</b></h6>
				<li>Occasions de Voir (ODV) : 300.01 millions, indiquant une couverture visuelle très élevée.</li>
				<li>Reach : 5 millions, atteignant 70% de la population des villes ciblées.</li>
				<li>Fréquence Moyenne : 59,96, ce qui est exceptionnellement élevé, assurant une forte mémorisation du message.</li>
				<br />
				<h6><b>Profil de l'Audience</b></h6>
				<li>Répartition Hommes/Femmes : Légèrement plus de femmes avec 50,65% contre 49,35% d'hommes.</li>
				<li style="list-style: none">Segments de Consommateurs Ciblés :</li>
				<li>Commuters : 35%, indiquant que cette campagne a particulièrement touché les navetteurs.li></li>
				<li>Food Lovers : 32%, suggérant un attrait pour les amateurs de nourriture.</li>
				<li>Grocery Shoppers : 21%, un segment clé pour les supermarchés ou détaillants alimentaires.</li>
				<br />
				<h6><b>Analyse des Performances</b></h6>
				<li>Stratégie de Diffusion : La campagne a été déployée sur 84 panneaux dans 10 villes, couvrant les principaux centres urbains et générant une visibilité importante.</li>
				<li>Timing et Période : Du 29 février au 28 mars 2024, un moment stratégique pour capter l'attention des consommateurs au début de l'année.</li>
				<li>
					Impact Global : Avec un reach de 5 millions et une fréquence de 59,96, la campagne a établi une forte présence dans les villes ciblées, maximisant la visibilité et l'impact sur les
					segments clés.
				</li>
				<br />
				<h6><b>Conclusion</b></h6>
				<p>
					La campagne OOH de Carrefour a atteint ses objectifs de visibilité et d'impact sur le marché, consolidant ainsi la position des marques associées dans les zones urbaines ciblées.
				</p>
			</div>
			<div class="col-lg-10 mb-6 sm-mb-35px last-paragraph-no-margin text-center">
				<img src="assets/images/blog-carrefour.webp" class="mb-20px" alt="" />
				<div class="h-1px w-100 bg-extra-medium-gray"></div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->
<!-- start section -->
<section class="half-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10">
				<div class="row justify-content-center">
					<div class="col-12 text-center elements-social social-icon-style-04">
						<ul class="medium-icon dark">
							<li>
								<a class="facebook" href="https://www.facebook.com/profile.php?id=61558505231368" target="_blank"><i class="fa-brands fa-facebook-f"></i><span></span></a>
							</li>
							<li>
								<a class="instagram" href="https://www.instagram.com/fcmedia.ma?igsh=MXJ2MDRnM3R1dXJ6Mg%3D%3D" target="_blank"><i class="fa-brands fa-instagram"></i><span></span></a>
							</li>
							<li>
								<a class="linkedin" href="https://www.linkedin.com/company/fc-media-maroc" target="_blank"><i class="fa-brands fa-linkedin-in"></i><span></span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->
