<!-- start page title -->
<section class="ipad-top-space-margin" style="background-image: url(assets/images/image-1.png)">
	<div class="container position-relative">
		<div
			class="row justify-content-center align-items-lg-end extra-very-small-screen"
			data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
		>
			<div class="col-lg-8 position-relative page-title-extra-large md-mb-30px sm-mb-20px z-index-9">
				<h1 class="text-white fw-600 mb-0 alt-font highlight-separator-small">
					<span class="highlight-separator mb-0 pb-0" data-shadow-animation="true" data-animation-delay="500">Politique de Confidentialité</span>
				</h1>
			</div>
			<div class="col-lg-4"></div>
		</div>
	</div>
</section>
<!-- end page title -->

<!-- start section -->
<section class="pb-35px position-relative">
	<div class="container">
		<div
			class="row justify-content-center mb-2"
			data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
		>
			<div class="">
				<h3 class="fs-30 alt-font fw-700 mb-15px ls-minus-1px text-gradient-fast-blue-purple-light-orange">Introduction</h3>
				<p>
					Bienvenue sur notre site institutionnel. La protection de vos données personnelles et le respect de votre vie privée sont des priorités pour nous. Cette politique de
					confidentialité a pour objectif de vous informer sur la manière dont nous collectons, utilisons et protégeons vos informations personnelles lorsque vous utilisez notre site
					internet.
				</p>
			</div>
			<div class="">
				<h3 class="fs-30 alt-font fw-700 mb-15px ls-minus-1px text-gradient-fast-blue-purple-light-orange">Collecte des Données Personnelles</h3>
				<p>Lorsque vous vous enregistrez sur notre site via le formulaire d'inscription, nous collectons les informations suivantes :</p>
				<ul class="list-style-04 text-dark-gray">
					<li class="list-style-04 text-dark-gray">Nom & prénom</li>
					<li class="list-style-04 text-dark-gray">Adresse mail</li>
					<li class="list-style-04 text-dark-gray">Numéro de téléphone</li>
				</ul>
				<p>
					Ces informations sont nécessaires pour fournir et améliorer nos services, ainsi que pour des objectifs de marketing interne. Conformément à la loi marocaine n°09-08 relative à la
					protection des personnes physiques à l'égard du traitement des données à caractère personnel, notre site est autorisé par la CNDP sous le numéro <strong>D-GC-683/2021.</strong>
				</p>
			</div>
			<div class="">
				<h3 class="fs-30 alt-font fw-700 mb-15px ls-minus-1px text-gradient-fast-blue-purple-light-orange">Utilisation des Données Personnelles</h3>
				<p>Les données collectées sont utilisées exclusivement dans les buts suivants :</p>
				<ul class="list-style-04 text-dark-gray">
					<li class="list-style-04 text-dark-gray">Fournir les services et informations demandés</li>
					<li class="list-style-04 text-dark-gray">Améliorer l'expérience utilisateur sur notre site</li>
					<li class="list-style-04 text-dark-gray">Mener des campagnes marketing internes</li>
					<li class="list-style-04 text-dark-gray">Vous tenir informé des nouveautés et promotions de notre entreprise</li>
				</ul>
				<p>Nous garantissons que vos données personnelles ne seront jamais revendues à des tiers. Elles sont uniquement utilisées dans le cadre de notre activité marketing et commerciale.</p>
			</div>
			<div class="">
				<h3 class="fs-30 alt-font fw-700 mb-15px ls-minus-1px text-gradient-fast-blue-purple-light-orange">Suivi des Cookies</h3>
				<p>Notre site utilise des cookies pour améliorer votre expérience de navigation. Les cookies sont de petits fichiers texte stockés sur votre appareil qui nous permettent de :</p>
				<ul class="list-style-04 text-dark-gray">
					<li class="list-style-04 text-dark-gray">Comprendre et sauvegarder vos préférences pour vos futures visites</li>
					<li class="list-style-04 text-dark-gray">Compiler des données agrégées sur le trafic et les interactions du site pour offrir de meilleures expériences et outils à l'avenir</li>
				</ul>
				<p>Vous pouvez choisir de désactiver les cookies via les paramètres de votre navigateur, mais cela peut affecter certaines fonctionnalités de notre site.</p>
			</div>
			<div class="">
				<h3 class="fs-30 alt-font fw-700 mb-15px ls-minus-1px text-gradient-fast-blue-purple-light-orange">Sécurité des Données</h3>
				<p>
					Nous mettons en œuvre diverses mesures de sécurité pour protéger vos informations personnelles. Vos données sont conservées dans des réseaux sécurisés et ne sont accessibles qu'à
					un nombre limité de personnes ayant des droits d'accès spéciaux à ces systèmes, et tenues de garder ces informations confidentielles.
				</p>
			</div>
			<div class="">
				<h3 class="fs-30 alt-font fw-700 mb-15px ls-minus-1px text-gradient-fast-blue-purple-light-orange">Droits de l'Utilisateur</h3>
				<p>
					Conformément à la loi marocaine n°09-08 relative à la protection des personnes physiques à l'égard du traitement des données à caractère personnel, vous disposez des droits
					suivants :
				</p>
				<ul class="list-style-04 text-dark-gray">
					<li class="list-style-04 text-dark-gray">Accès à vos données personnelles</li>
					<li class="list-style-04 text-dark-gray">Rectification des données inexactes ou incomplètes</li>
					<li class="list-style-04 text-dark-gray">Opposition au traitement de vos données pour des raisons légitimes</li>
					<li class="list-style-04 text-dark-gray">Suppression de vos données, sous certaines conditions</li>
				</ul>
				<p>Pour exercer ces droits, veuillez nous contacter à l'adresse suivante : contact&#64;fcmedia.ma</p>
			</div>
			<div class="">
				<h3 class="fs-30 alt-font fw-700 mb-15px ls-minus-1px text-gradient-fast-blue-purple-light-orange">Modifications de la Politique de Confidentialité</h3>
				<p>
					Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Les modifications seront publiées sur cette page et, si les changements sont
					significatifs, nous vous en informerons par email ou par une notification sur notre site.
				</p>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->

<section class="pt-0" id="contact">
	<div class="container">
		<div class="row justify-content-center box-shadow-quadruple-large border-radius-6px overflow-hidden g-0">
			<!-- start contact address -->
			<div class="col-lg-6">
				<div
					class="p-15 lg-p-13 md-p-10 bg-white h-100 background-position-right-bottom background-no-repeat xs-background-image-none"
					style="background-image: url('assets/images/Logo_FC_Media-small.png')"
				>
					<span class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
						>FC Media</span
					>
					<h3 class="alt-font text-dark-gray fw-600">Data Enriched Approach (DEA)</h3>
					<div class="mt-11">
						<p class="fs-17 lh-28 ms-xl-0 mx-auto">
							Notre approche "Data Enriched" va au-delà des simples impressions publicitaires. En exploitant des données précises et actualisées, nous quantifions l'impact de vos
							campagnes publicitaires avec précision. De l'occasion de voir à la portée de votre campagne, en passant par la fréquence à laquelle elle est vue par un même individu, nous
							transformons les données en informations tangibles pour optimiser vos stratégies publicitaires.
						</p>
					</div>
					<a [routerLink]="['data-enriched-approach']" class="mt-9 btn btn-dark-gray left-icon btn-extra-large fw-500 btn-rounded btn-switch-text btn-box-shadow">
						<span>
							<span><i class="bi bi-arrow-return-right"></i></span>
							<span class="btn-double-text" data-text="Lire plus">En savoir plus</span>
						</span>
					</a>
				</div>
			</div>
			<!-- end contact address -->
			<div class="col-lg-6 contact-form-style-03">
				<div class="p-15 lg-p-13 md-p-10 bg-dark-gray h-100">
					<h1 class="fs-60 fw-600 alt-font text-white fancy-text-style-4 ls-minus-1px">
						Besoin<br />
						<span data-fancy-text='{ "effect": "rotate", "string": ["d&#39;information", "d&#39;aide"] }'></span>
					</h1>
					<!-- start contact form -->
					<app-dea-form></app-dea-form>
					<!-- end contact form -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->
