<!-- start page title -->
<section class="ipad-top-space-margin" style="background-image: url(assets/images/image-1.png)">
	<div class="container position-relative">
		<div
			class="row justify-content-center align-items-lg-end extra-very-small-screen"
			data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
		>
			<div class="col-lg-6 position-relative page-title-extra-large md-mb-30px sm-mb-20px z-index-9">
				<h1 class="text-white fw-600 mb-0 alt-font highlight-separator-small">
					<span class="highlight-separator mb-0 pb-0" data-shadow-animation="true" data-animation-delay="500">Indoor</span>
				</h1>
			</div>
			<div class="col-lg-6"></div>
		</div>
	</div>
</section>
<!-- end page title -->

<!-- start section -->
<section class="p-0 overflow-hidden">
	<div class="container-fluid p-0">
		<div class="row g-0 bg-linen">
			<div class="col-xl-3 col-lg-4 col-md-5 tab-style-07 d-flex align-items-start align-items-xl-center">
				<ul class="nav nav-tabs justify-content-center border-0 text-left alt-font">
					<li class="nav-item">
						<a data-bs-toggle="tab" href="#tab_seven1" class="nav-link active ps-35px pe-35px">
							<span><span class="primary-font me-10px fs-18 fw-600">01</span>Écrans LED et LCD</span>
							<span class="number-box d-flex justify-content-center align-items-center rounded-circle h-70px w-70px bg-green text-white"
								><i class="bi bi-arrow-right icon-extra-medium"></i
							></span>
							<span class="bg-hover bg-green"></span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link ps-35px pe-35px" data-bs-toggle="tab" href="#tab_seven2">
							<span class="fs-18 lh-20"><span class="primary-font me-10px fs-18 fw-600">02</span>Bâches Rétro-éclairées</span>
							<span class="number-box d-flex justify-content-center align-items-center rounded-circle h-70px w-70px bg-purple text-white"
								><i class="bi bi-arrow-right icon-extra-medium"></i
							></span>
							<span class="bg-hover bg-purple"></span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link ps-35px pe-35px" data-bs-toggle="tab" href="#tab_seven3">
							<span class="fs-18 lh-20"><span class="primary-font me-10px fs-18 fw-600">03</span>Habillage des Escalators, Travelators et Carrousels</span>
							<span class="number-box d-flex justify-content-center align-items-center rounded-circle h-70px w-70px bg-red text-white"
								><i class="bi bi-arrow-right icon-extra-medium"></i
							></span>
							<span class="bg-hover bg-red"></span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link ps-35px pe-35px" data-bs-toggle="tab" href="#tab_seven4">
							<span class="fs-18 lh-20"><span class="primary-font me-10px fs-18 fw-600">04</span>Twins sur les Quais des Gares</span>
							<span class="number-box d-flex justify-content-center align-items-center rounded-circle h-70px w-70px bg-orange text-white"
								><i class="bi bi-arrow-right icon-extra-medium"></i
							></span>
							<span class="bg-hover bg-orange"></span>
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link ps-35px pe-35px" data-bs-toggle="tab" href="#tab_seven5">
							<span class="fs-18 lh-20"><span class="primary-font me-10px fs-18 fw-600">05</span>Stands et Animations Publicitaires dans les Aéroports</span>
							<span class="number-box d-flex justify-content-center align-items-center rounded-circle h-70px w-70px bg-green text-white"
								><i class="bi bi-arrow-right icon-extra-medium"></i
							></span>
							<span class="bg-hover bg-green"></span>
						</a>
					</li>
				</ul>
			</div>
			<div class="col-xl-9 col-lg-8 col-md-7">
				<div class="tab-content h-100">
					<!-- start tab content -->
					<div class="tab-pane fade in active show h-100" id="tab_seven1">
						<div class="row g-0 h-100 lg-h-auto">
							<div class="col-xl-6">
								<div class="h-100 lg-h-400px cover-background position-relative" style="background-image: url(assets/images/29-E72T1F7-F8.jpg)">
									<div class="position-absolute right-0px bottom-0 d-flex"></div>
								</div>
							</div>
							<div class="col-xl-6 bg-linen pt-5 pb-5 ps-8 pe-8">
								<div class="d-flex align-items-xl-start align-items-center text-center text-xl-start flex-column justify-content-center h-100">
									<span
										class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px text-uppercase text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
										>Indoor</span
									>
									<h3 class="text-gradient-fast-blue-purple-light-orange mb-15px alt-font fs-30 lh-30">Écrans LED et LCD</h3>
									<p class="text-justify">
										Les écrans LED et LCD révolutionnent la publicité intérieure avec leur capacité à diffuser des contenus dynamiques et interactifs. Situés dans les centres
										commerciaux, gares et aéroports, ces écrans captent l'attention avec des visuels vibrants et animés. Ils permettent une mise à jour instantanée des messages,
										offrant une flexibilité exceptionnelle pour les campagnes. Que ce soit pour des promotions saisonnières ou des annonces en temps réel, ces écrans s'intègrent
										parfaitement dans les environnements modernes et captivants.
									</p>
								</div>
							</div>
						</div>
					</div>
					<!-- end tab content -->
					<!-- start tab content -->
					<div class="tab-pane fade in h-100" id="tab_seven2">
						<div class="row g-0 h-100 lg-h-auto">
							<div class="col-xl-6">
								<div class="h-100 lg-h-400px cover-background position-relative" style="background-image: url(assets/images/bache-retro-eclairee-_1_.webp)">
									<div class="position-absolute right-0px bottom-0 d-flex"></div>
								</div>
							</div>
							<div class="col-xl-6 pt-5 pb-5 ps-8 pe-8">
								<div class="d-flex align-items-xl-start align-items-center text-center text-xl-start flex-column justify-content-center h-100">
									<span
										class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px text-uppercase text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
										>Indoor</span
									>
									<h3 class="text-gradient-fast-blue-purple-light-orange mb-15px alt-font fs-30 lh-30">Bâches Rétro-éclairées</h3>
									<p class="text-justify">
										Les bâches rétro-éclairées offrent une visibilité impressionnante dans les espaces intérieurs en utilisant l’éclairage LED pour faire ressortir vos messages.
										Placées dans des zones à fort trafic comme les malls et les terminaux, ces supports utilisent l'illumination pour maximiser l'impact visuel, créant des
										affichages saisissants qui captent l’attention de tous les passants. Elles sont idéales pour des campagnes nécessitant une présence dominante et mémorable dans
										des espaces de grande envergure.
									</p>
								</div>
							</div>
						</div>
					</div>
					<!-- end tab content -->
					<!-- start tab content -->
					<div class="tab-pane fade in h-100" id="tab_seven3">
						<div class="row g-0 h-100 lg-h-auto">
							<div class="col-xl-6">
								<div class="h-100 lg-h-400px cover-background position-relative" style="background-image: url(assets/images/C28A1932.jpg)">
									<div class="position-absolute right-0px bottom-0 d-flex"></div>
								</div>
							</div>
							<div class="col-xl-6 pt-5 pb-5 ps-8 pe-8">
								<div class="d-flex align-items-xl-start align-items-center text-center text-xl-start flex-column justify-content-center h-100">
									<span
										class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px text-uppercase text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
										>Indoor</span
									>
									<h3 class="text-gradient-fast-blue-purple-light-orange mb-15px alt-font fs-30 lh-30">Habillage des Escalators, Travelators et Carrousels</h3>
									<p class="text-justify">
										Les habillages d'escalators, travelators et carrousels exploitent des espaces en mouvement pour des messages publicitaires uniques et captivants. Dans les
										malls, gares et aéroports, ces supports transforment les surfaces de transport en plateformes publicitaires dynamiques. Les escalators et travelators permettent
										d'afficher des messages tout au long du parcours des utilisateurs, tandis que les carrousels de bagages offrent une visibilité prolongée pour les voyageurs
										attendant leurs bagages. Ces supports innovants garantissent que votre publicité est vue de manière répétée et dans des contextes variés, assurant une
										mémorabilité maximale.
									</p>
								</div>
							</div>
						</div>
					</div>
					<!-- end tab content -->
					<!-- start tab content -->
					<div class="tab-pane fade in h-100" id="tab_seven4">
						<div class="row g-0 h-100 lg-h-auto">
							<div class="col-xl-6">
								<div class="h-100 lg-h-400px cover-background position-relative" style="background-image: url(assets/images/001_0732.jpg)">
									<div class="position-absolute right-0px bottom-0 d-flex"></div>
								</div>
							</div>
							<div class="col-xl-6 pt-5 pb-5 ps-8 pe-8">
								<div class="d-flex align-items-xl-start align-items-center text-center text-xl-start flex-column justify-content-center h-100">
									<span
										class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px text-uppercase text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
										>Indoor</span
									>
									<h3 class="text-gradient-fast-blue-purple-light-orange mb-15px alt-font fs-30 lh-30">Twins sur les Quais des Gares</h3>
									<p class="text-justify">
										Les Twins sont des dispositifs publicitaires placés stratégiquement sur les quais des gares, assurant une double visibilité grâce à leur positionnement de part
										et d'autre des voies. Ils offrent une exposition prolongée aux voyageurs en attente de leur train, garantissant que votre message soit vu par une audience
										captive dans un moment de détente. Les Twins sont idéaux pour des campagnes détaillées ou promotionnelles, touchant à la fois les usagers des transports en
										commun et les passants dans ces hubs de transport fréquentés. Leur placement central sur les quais assure une visibilité maximale et un engagement élevé des
										spectateurs.
									</p>
								</div>
							</div>
						</div>
					</div>
					<!-- end tab content -->
					<!-- start tab content -->
					<div class="tab-pane fade in h-100" id="tab_seven5">
						<div class="row g-0 h-100 lg-h-auto">
							<div class="col-xl-6">
								<div class="h-100 lg-h-400px cover-background position-relative" style="background-image: url(assets/images/C28A20192x.webp)">
									<div class="position-absolute right-0px bottom-0 d-flex"></div>
								</div>
							</div>
							<div class="col-xl-6 pt-5 pb-5 ps-8 pe-8">
								<div class="d-flex align-items-xl-start align-items-center text-center text-xl-start flex-column justify-content-center h-100">
									<span
										class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px text-uppercase text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
										>Indoor</span
									>
									<h3 class="text-gradient-fast-blue-purple-light-orange mb-15px alt-font fs-30 lh-30">Stands et Animations Publicitaires dans les Aéroports</h3>
									<p class="text-justify">
										Les aéroports sont des lieux dynamiques et animés, parfaits pour des stands publicitaires et des animations engageantes. Ces espaces permettent des interactions
										directes avec les passagers, créant des opportunités uniques pour présenter vos produits ou services de manière vivante et immersive. Que ce soit pour des
										démonstrations de produits, des expériences de marque ou des offres promotionnelles, les stands et animations publicitaires dans les aéroports attirent
										l’attention et génèrent un fort engagement. Ces activités captivent les voyageurs dans un environnement où ils ont souvent du temps à disposition, assurant une
										interaction mémorable et une forte reconnaissance de la marque.
									</p>
								</div>
							</div>
						</div>
					</div>
					<!-- end tab content -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="" id="contact">
	<div class="container">
		<div class="row justify-content-center box-shadow-quadruple-large border-radius-6px overflow-hidden g-0">
			<!-- start contact address -->
			<div class="col-lg-6">
				<div
					class="p-15 lg-p-13 md-p-10 bg-white h-100 background-position-right-bottom background-no-repeat xs-background-image-none"
					style="background-image: url('assets/images/Logo_FC_Media-small.png')"
				>
					<span class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
						>FC Media</span
					>
					<h3 class="alt-font text-dark-gray fw-600">Data Enriched Approach (DEA)</h3>
					<div class="mt-11">
						<p class="fs-17 lh-28 ms-xl-0 mx-auto">
							Notre approche "Data Enriched" va au-delà des simples impressions publicitaires. En exploitant des données précises et actualisées, nous quantifions l'impact de vos
							campagnes publicitaires avec précision. De l'occasion de voir à la portée de votre campagne, en passant par la fréquence à laquelle elle est vue par un même individu, nous
							transformons les données en informations tangibles pour optimiser vos stratégies publicitaires.
						</p>
					</div>
					<a [routerLink]="['data-enriched-approach']" class="mt-9 btn btn-dark-gray left-icon btn-extra-large fw-500 btn-rounded btn-switch-text btn-box-shadow">
						<span>
							<span><i class="bi bi-arrow-return-right"></i></span>
							<span class="btn-double-text" data-text="Lire plus">En savoir plus</span>
						</span>
					</a>
				</div>
			</div>
			<!-- end contact address -->
			<div class="col-lg-6 contact-form-style-03">
				<div class="p-15 lg-p-13 md-p-10 bg-dark-gray h-100">
					<h1 class="fs-60 fw-600 alt-font text-white fancy-text-style-4 ls-minus-1px">
						Besoin<br />
						<span data-fancy-text='{ "effect": "rotate", "string": ["d&#39;information", "d&#39;aide"] }'></span>
					</h1>
					<!-- start contact form -->
					<app-dea-form></app-dea-form>
					<!-- end contact form -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->
