<!-- start page title -->
<section class="ipad-top-space-margin" style="background-image: url(assets/images/image-1.png)">
	<div class="container position-relative">
		<div
			class="row justify-content-center align-items-lg-end extra-very-small-screen"
			data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
		>
			<div class="col-lg-6 position-relative page-title-extra-large md-mb-30px sm-mb-20px z-index-9">
				<h1 class="text-white fw-600 mb-0 alt-font highlight-separator-small">
					<span class="highlight-separator mb-0 pb-0" data-shadow-animation="true" data-animation-delay="500">Notre patrimoine</span>
				</h1>
			</div>
			<div class="col-lg-6">
				<p class="fs-20 lh-32 text-white opacity-7 w-90 lg-w-100 md-w-80 mb-0">
					Découvrez notre vaste réseau de supports publicitaires à travers le Maroc, garantissant une visibilité optimale et une portée nationale pour vos campagnes.
				</p>
			</div>
		</div>
	</div>
</section>
<!-- end page title -->

<!-- start section -->
<section class="overflow-hidden">
	<div class="container">
		<div class="row align-items-center justify-content-center">
			<div class="col-lg-7 position-relative text-center md-mb-30px" data-anime='{ "effect": "slide", "color": "#ffffff", "direction":"lr", "easing": "easeOutQuad", "delay":50}'>
				<figure>
					<div class="atropos" data-atropos>
						<div class="atropos-scale">
							<div class="atropos-rotate">
								<div class="atropos-inner">
									<img data-atropos-offset="5" src="assets/images/_28A1200-1.jpg" alt="" />
								</div>
							</div>
						</div>
					</div>
					<figcaption class="position-absolute bottom-130px sm-bottom-100px xs-bottom-80px right-0px sm-right-minus-40px xs-right-minus-30px xs-w-80 z-index-9">
						<img src="assets/images/logo-fcmedia--.png" class="animation-float" alt="" />
					</figcaption>
				</figure>
			</div>
			<div
				class="col-lg-5 text-center text-lg-start ps-40px lg-ps-15px"
				data-anime='{ "el": "childs", "opacity": [0, 1], "rotateY": [-90, 0], "rotateZ": [-10, 0], "translateY": [80, 0], "translateZ": [50, 0], "staggervalue": 200, "duration": 900, "easing": "easeOutCirc" }'
			>
				<div
					class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-uppercase text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
				>
					Notre patrimoine
				</div>
				<h3 class="fs-40 alt-font fw-700 mb-25px ls-minus-1px text-gradient-fast-blue-purple-light-orange">Plus de 10 000 faces publicitaires</h3>
				<p class="w-90 xs-w-100 mx-auto mx-lg-0">
					Nous offrons à nos clients un vaste réseau de plus de 10 000 faces publicitaires à travers tout le Maroc. Ces emplacements soigneusement sélectionnés garantissent une visibilité
					maximale pour les campagnes publicitaires, qu'il s'agisse de panneaux d'affichage traditionnels, de panneaux LED dynamiques, de sucettes, de façades ou d'autres supports.
				</p>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="position-relative pt-0">
	<div class="container-fluid overflow-hidden">
		<div class="row">
			<div class="p-0 position-absolute left-0px top-100px text-end w-auto xs-w-150px" data-bottom-top="transform: translateY(-100px)" data-top-bottom="transform: translateY(100px)">
				<img src="assets/images/demo-application-about-bg-left.png" alt="" />
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row align-items-center justify-content-center position-relative z-index-1">
			<div
				class="col-lg-5 text-center text-lg-start ps-40px lg-ps-15px"
				data-anime='{ "el": "childs", "opacity": [0, 1], "rotateY": [-90, 0], "rotateZ": [-10, 0], "translateY": [80, 0], "translateZ": [50, 0], "staggervalue": 200, "duration": 900, "easing": "easeOutCirc" }'
			>
				<div
					class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-uppercase text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
				>
					Notre patrimoine
				</div>
				<h3 class="fs-40 alt-font fw-700 mb-25px ls-minus-1px text-gradient-fast-blue-purple-light-orange">Plus de 5000 supports installés et entretenus à travers le pays</h3>
				<p class="w-90 xs-w-100 mx-auto mx-lg-0">
					Notre équipe dévouée veille à l'installation et à l'entretien régulier de plus de 5000 supports publicitaires à travers le Maroc. Nous assurons que chaque support est parfaitement
					positionné pour maximiser l'impact de la campagne publicitaire et que leur état est toujours optimal pour garantir une visibilité optimale.
				</p>
			</div>
			<div class="col-xl-7 col-lg-7 col-md-6 position-relative atropos" data-atropos>
				<div class="atropos-scale">
					<div class="atropos-rotate">
						<div class="atropos-inner text-center">
							<img data-atropos-offset="5" class="position-relative z-index-9 right-minus-50px lg-right-minus-20px xs-right-0px" src="assets/images/fcmedia-post-patchwork.png" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid overflow-hidden">
		<div class="row">
			<div
				class="p-0 overlap-section position-absolute right-0px top-minus-100px text-end w-auto xs-w-180px"
				data-bottom-top="transform: translateY(100px)"
				data-top-bottom="transform: translateY(-100px)"
			>
				<img src="assets/images/demo-application-about-bg-right.png" alt="" />
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="overflow-hidden pt-0">
	<div class="container">
		<div class="row align-items-center justify-content-center">
			<div class="col-lg-7 position-relative text-center md-mb-30px" data-anime='{ "effect": "slide", "color": "#ffffff", "direction":"lr", "easing": "easeOutQuad", "delay":50}'>
				<figure>
					<div class="atropos" data-atropos>
						<div class="atropos-scale">
							<div class="atropos-rotate">
								<div class="atropos-inner">
									<img data-atropos-offset="5" src="assets/images/maroc.jpg" alt="" />
								</div>
							</div>
						</div>
					</div>
					<figcaption class="position-absolute bottom-130px sm-bottom-100px xs-bottom-80px right-0px sm-right-minus-40px xs-right-minus-30px xs-w-80 z-index-9">
						<img src="assets/images/logo-fcmedia--.png" class="animation-float" alt="" />
					</figcaption>
				</figure>
			</div>
			<div
				class="col-lg-5 text-center text-lg-start ps-40px lg-ps-15px"
				data-anime='{ "el": "childs", "opacity": [0, 1], "rotateY": [-90, 0], "rotateZ": [-10, 0], "translateY": [80, 0], "translateZ": [50, 0], "staggervalue": 200, "duration": 900, "easing": "easeOutCirc" }'
			>
				<div
					class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-uppercase text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
				>
					Notre patrimoine
				</div>
				<h3 class="fs-40 alt-font fw-700 mb-25px ls-minus-1px text-gradient-fast-blue-purple-light-orange">Présence dans plus de 80 villes</h3>
				<p class="w-90 xs-w-100 mx-auto mx-lg-0">
					Grâce à notre vaste réseau, nous sommes présents dans plus de 80 villes à travers tout le royaume du Maroc. Cette couverture étendue nous permet de toucher efficacement les publics
					cibles dans les zones urbaines, suburbaines et rurales, offrant ainsi une portée nationale à nos clients.
				</p>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="position-relative pt-0">
	<div class="container-fluid overflow-hidden">
		<div class="row">
			<div class="p-0 position-absolute left-0px top-100px text-end w-auto xs-w-150px" data-bottom-top="transform: translateY(-100px)" data-top-bottom="transform: translateY(100px)">
				<img src="assets/images/demo-application-about-bg-left.png" alt="" />
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row align-items-center justify-content-center position-relative z-index-1">
			<div
				class="col-lg-5 text-center text-lg-start ps-40px lg-ps-15px"
				data-anime='{ "el": "childs", "opacity": [0, 1], "rotateY": [-90, 0], "rotateZ": [-10, 0], "translateY": [80, 0], "translateZ": [50, 0], "staggervalue": 200, "duration": 900, "easing": "easeOutCirc" }'
			>
				<div
					class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-uppercase text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
				>
					Notre patrimoine
				</div>
				<h3 class="fs-40 alt-font fw-700 mb-25px ls-minus-1px text-gradient-fast-blue-purple-light-orange">Plus de 1000 abribus et abritrams installés dans 13 villes desservies</h3>
				<p class="w-90 xs-w-100 mx-auto mx-lg-0">
					Nous proposons également une offre spécifique d'abribus et d'abritrams, avec plus de 1000 installations réparties dans 13 villes desservies. Ces emplacements stratégiquement situés
					dans les zones à forte affluence offrent une exposition constante aux passants et aux usagers des transports en commun.
				</p>
			</div>
			<div class="col-xl-7 col-lg-7 col-md-6 position-relative atropos" data-atropos>
				<div class="atropos-scale">
					<div class="atropos-rotate">
						<div class="atropos-inner text-center">
							<img data-atropos-offset="5" class="position-relative z-index-9 right-minus-50px lg-right-minus-20px xs-right-0px" src="assets/images/abribus-abritram-2s.png" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid overflow-hidden">
		<div class="row">
			<div
				class="p-0 overlap-section position-absolute right-0px top-minus-100px text-end w-auto xs-w-180px"
				data-bottom-top="transform: translateY(100px)"
				data-top-bottom="transform: translateY(-100px)"
			>
				<img src="assets/images/demo-application-about-bg-right.png" alt="" />
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="overflow-hidden pt-0">
	<div class="container">
		<div class="row align-items-center justify-content-center">
			<div class="col-lg-7 position-relative text-center md-mb-30px" data-anime='{ "effect": "slide", "color": "#ffffff", "direction":"lr", "easing": "easeOutQuad", "delay":50}'>
				<figure>
					<div class="atropos" data-atropos>
						<div class="atropos-scale">
							<div class="atropos-rotate">
								<div class="atropos-inner">
									<img data-atropos-offset="5" src="assets/images/enregistrementT2.jpg" alt="" />
								</div>
							</div>
						</div>
					</div>
					<figcaption class="position-absolute bottom-130px sm-bottom-100px xs-bottom-80px right-0px sm-right-minus-40px xs-right-minus-30px xs-w-80 z-index-9">
						<img src="assets/images/logo-fcmedia--.png" class="animation-float" alt="" />
					</figcaption>
				</figure>
			</div>
			<div
				class="col-lg-5 text-center text-lg-start ps-40px lg-ps-15px"
				data-anime='{ "el": "childs", "opacity": [0, 1], "rotateY": [-90, 0], "rotateZ": [-10, 0], "translateY": [80, 0], "translateZ": [50, 0], "staggervalue": 200, "duration": 900, "easing": "easeOutCirc" }'
			>
				<div
					class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-uppercase text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
				>
					Notre patrimoine
				</div>
				<h3 class="fs-40 alt-font fw-700 mb-25px ls-minus-1px text-gradient-fast-blue-purple-light-orange">Une offre publicitaire adaptée à l'environnement aéroportuaire marocain</h3>
				<p class="w-90 xs-w-100 mx-auto mx-lg-0">
					En tant que leader de l'affichage urbain au Maroc, nous comprenons l'importance de capturer l'attention des voyageurs dans les environnements aéroportuaires. C'est pourquoi nous
					proposons une offre publicitaire spécialement adaptée aux aéroports marocains, comprenant des panneaux muraux, des toiles suspendues, des caissons lumineux et d'autres formats
					innovants, offrant ainsi une visibilité inégalée aux marques à travers les principaux hubs aériens du pays.
				</p>
			</div>
		</div>
	</div>
</section>
<!-- end section -->
<!-- start section -->
<section class="overflow-hidden position-relative bg-linen py-5 lg-pt-8 lg-pb-8" style="background-image: url('assets/images/demo-seo-agency-bg-02.jpg')">
	<div
		id="particles-style-02"
		class="h-100 position-absolute left-0px top-0 w-100"
		data-particle="true"
		data-particle-options='{"particles": {"number": {"value": 18,"density": {"enable": true,"value_area": 2000}},"color": {"value": ["#8f76f5", "#a65cef", "#c74ad2", "#e754a4", "#ff6472"]},"shape": {"type": "circle","stroke":{"width":0,"color":"#000000"}},"opacity": {"value": 0.3,"random": false,"anim": {"enable": false,"speed": 1,"sync": false}},"size": {"value": 8,"random": true,"anim": {"enable": false,"sync": true}},"line_linked":{"enable":false,"distance":0,"color":"#ffffff","opacity":0.4,"width":1},"move": {"enable": true,"speed":1,"direction": "right","random": false,"straight": false}},"interactivity": {"detect_on": "canvas","events": {"onhover": {"enable": false,"mode": "repulse"},"onclick": {"enable": false,"mode": "push"},"resize": true}},"retina_detect": false}'
	></div>
	<div class="container">
		<div class="row align-items-center ps-50px pe-50px lg-px-0 position-relative z-index-1 justify-content-md-center">
			<div class="col-lg-12 offset-lg-1 col-md-8 text-center text-lg-start">
				<h3 class="fs-40 lh-35 fw-800 text-dark-gray ls-minus-1px" style="text-align: center">
					Chez FC Media, Notre patrimoine va bien au-delà de la simple fourniture d'espaces publicitaires
				</h3>
				<span class="fs-18 xl-w-100 d-block mb-35px" style="text-align: center"
					>Nous offrons à nos clients une solution complète et personnalisée pour répondre à leurs besoins en matière de visibilité et de promotion de leur marque, en s'appuyant sur notre
					expertise, notre réseau étendu et notre engagement envers l'excellence opérationnelle.
				</span>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="" id="contact">
	<div class="container">
		<div class="row justify-content-center box-shadow-quadruple-large border-radius-6px overflow-hidden g-0">
			<!-- start contact address -->
			<div class="col-lg-6">
				<div
					class="p-15 lg-p-13 md-p-10 bg-white h-100 background-position-right-bottom background-no-repeat xs-background-image-none"
					style="background-image: url('assets/images/Logo_FC_Media-small.png')"
				>
					<span class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
						>FC Media</span
					>
					<h3 class="alt-font text-dark-gray fw-600">Data Enriched Approach (DEA)</h3>
					<div class="mt-11">
						<p class="fs-17 lh-28 ms-xl-0 mx-auto">
							Notre approche "Data Enriched" va au-delà des simples impressions publicitaires. En exploitant des données précises et actualisées, nous quantifions l'impact de vos
							campagnes publicitaires avec précision. De l'occasion de voir à la portée de votre campagne, en passant par la fréquence à laquelle elle est vue par un même individu, nous
							transformons les données en informations tangibles pour optimiser vos stratégies publicitaires.
						</p>
					</div>
					<a [routerLink]="['data-enriched-approach']" target="_blank" class="mt-9 btn btn-dark-gray left-icon btn-extra-large fw-500 btn-rounded btn-switch-text btn-box-shadow">
						<span>
							<span><i class="bi bi-arrow-return-right"></i></span>
							<span class="btn-double-text" data-text="Lire plus">En savoir plus</span>
						</span>
					</a>
				</div>
			</div>
			<!-- end contact address -->
			<div class="col-lg-6 contact-form-style-03">
				<div class="p-15 lg-p-13 md-p-10 bg-dark-gray h-100">
					<h1 class="fs-60 fw-600 alt-font text-white fancy-text-style-4 ls-minus-1px">
						Besoin<br />
						<span data-fancy-text='{ "effect": "rotate", "string": ["d&#39;information", "d&#39;aide"] }'></span>
					</h1>
					<!-- start contact form -->
					<app-dea-form></app-dea-form>
					<!-- end contact form -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->
