<!-- start page title -->
<section class="ipad-top-space-margin" style="background-image: url(assets/images/image-1.png)">
	<div class="container position-relative">
		<div
			class="row justify-content-center align-items-lg-end extra-very-small-screen"
			data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
		>
			<div class="col-lg-12 d-flex justify-content-between align-items-center">
				<h1 class="text-white fw-600 mb-0 alt-font highlight-separator-small">
					<span class="highlight-separator mb-0 pb-0" data-shadow-animation="true" data-animation-delay="500">AL BARID BANK</span>
				</h1>
				<img src="assets/images/Al_Barik_Bank_logo.png" alt="Logo" class="img-fluid" width="15%" height="20%" />
			</div>
		</div>
	</div>
</section>
<!-- end page title -->

<!-- start section -->
<section class="pb-0">
	<div class="container">
		<div class="row justify-content-center" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
			<div class="col-lg-10 mb-6 sm-mb-35px last-paragraph-no-margin">
				<h4 class="alt-font fw-600 text-dark-gray w-90 md-w-100">Analyse de la Campagne DOOH "AL BARID BANK"</h4>
				<br />
				<h6><b>Chiffres Clés</b></h6>
				<li>Occasions de Voir (ODV) : 100.06 millions, indiquant une forte présence visuelle de la campagne.</li>
				<li>Reach : 2.80 millions, ce qui représente 60% de la population des villes ciblées, un chiffre significatif pour une campagne de cette envergure.</li>
				<li>Fréquence Moyenne : 35, ce qui montre que chaque individu touché a vu le message en moyenne 35 fois, assurant ainsi une bonne répétition du message.</li>
				<br />
				<h6><b>Profil de l'Audience</b></h6>
				<li>Répartition Hommes/Femmes : L'audience était légèrement plus féminine, avec 53% de femmes et 47% d'hommes.</li>
				<li>Tranche d' ge Dominante : Les segments les plus touchés étaient les 25-34 ans (35%) et les 18-24 ans (17%), ce qui est cohérent avec le ciblage des jeunes adultes et</li>
				<li>
					Segments de Consommateurs Ciblés : La campagne a principalement touché des segments de revenus moyens (78%) et faibles (19%), avec une faible représentation des segments aisés
					(3%).
				</li>
				<br />
				<h6><b>Analyse des Performances</b></h6>
				<li>
					Stratégie de Diffusion : La distribution des panneaux a permis une couverture équilibrée entre les villes, avec une forte présence à Casablanca, ce qui a conduit à un reach
					substantiel dans cette ville.
				</li>
				<li>
					Timing et Période : La campagne a été diffusée durant une période post-hivernale, un moment opportun pour capter l'attention des consommateurs avec des offres et services
					bancaires.
				</li>
				<li>
					Impact Global : Avec un reach de 60% et une fréquence de 35, la campagne a atteint un bon niveau de pénétration et de répétition, assurant une visibilité accrue pour AL BARID BANK
					dans les villes ciblées.
				</li>
				<br />
				<h6><b>Conclusion</b></h6>
				<p>
					La campagne DOOH "AL BARID BANK" a réussi à établir une forte présence dans les cinq villes ciblées, avec une performance particulièrement notable à Casablanca et Rabat. Le choix
					stratégique des emplacements et la période de diffusion ont contribué à maximiser l'impact de la campagne. Bien que la fréquence moyenne soit inférieure à celle observée dans la
					campagne Ariel, le niveau de reach atteint reste significatif, consolidant la notoriété d'AL BARID BANK auprès d'une audience large et diversifiée.
				</p>
			</div>
			<div class="col-lg-10 mb-6 sm-mb-35px last-paragraph-no-margin text-center">
				<img src="assets/images/blog-barid.webp" class="mb-20px" alt="" />
				<div class="h-1px w-100 bg-extra-medium-gray"></div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->
<!-- start section -->
<section class="half-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10">
				<div class="row justify-content-center">
					<div class="col-12 text-center elements-social social-icon-style-04">
						<ul class="medium-icon dark">
							<li>
								<a class="facebook" href="https://www.facebook.com/profile.php?id=61558505231368" target="_blank"><i class="fa-brands fa-facebook-f"></i><span></span></a>
							</li>
							<li>
								<a class="instagram" href="https://www.instagram.com/fcmedia.ma?igsh=MXJ2MDRnM3R1dXJ6Mg%3D%3D" target="_blank"><i class="fa-brands fa-instagram"></i><span></span></a>
							</li>
							<li>
								<a class="linkedin" href="https://www.linkedin.com/company/fc-media-maroc" target="_blank"><i class="fa-brands fa-linkedin-in"></i><span></span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->
