<!-- start page title -->
<section class="ipad-top-space-margin" style="background-image: url(assets/images/image-1.png)">
	<div class="container position-relative">
		<div
			class="row justify-content-center align-items-lg-end extra-very-small-screen"
			data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
		>
			<div class="col-lg-6 position-relative page-title-extra-large md-mb-30px sm-mb-20px z-index-9">
				<h1 class="text-white fw-600 mb-0 alt-font highlight-separator-small">
					<span class="highlight-separator mb-0 pb-0" data-shadow-animation="true" data-animation-delay="500">Qui sommes-nous?</span>
				</h1>
			</div>
			<div class="col-lg-6">
				<p class="fs-20 lh-32 text-white opacity-7 w-90 lg-w-100 md-w-80 mb-0">Bienvenue dans l'univers de FC Media</p>
			</div>
		</div>
	</div>
</section>
<!-- end page title -->

<!-- start section -->
<section class="overflow-hidden">
	<div class="container">
		<div class="row align-items-center justify-content-center">
			<div class="col-lg-7 position-relative text-center md-mb-30px" data-anime='{ "effect": "slide", "color": "#ffffff", "direction":"lr", "easing": "easeOutQuad", "delay":50}'>
				<figure>
					<div class="atropos" data-atropos>
						<div class="atropos-scale">
							<div class="atropos-rotate">
								<div class="atropos-inner">
									<img data-atropos-offset="5" src="assets/images/simulation-facade-zerktouni.jpg" alt="" />
								</div>
							</div>
						</div>
					</div>
					<figcaption class="position-absolute bottom-130px sm-bottom-100px xs-bottom-80px right-0px sm-right-minus-40px xs-right-minus-30px xs-w-80 z-index-9">
						<img src="assets/images/logo-fcmedia--.png" class="animation-float" alt="" />
					</figcaption>
				</figure>
			</div>
			<div
				class="col-lg-5 text-center text-lg-start ps-40px lg-ps-15px"
				data-anime='{ "el": "childs", "opacity": [0, 1], "rotateY": [-90, 0], "rotateZ": [-10, 0], "translateY": [80, 0], "translateZ": [50, 0], "staggervalue": 200, "duration": 900, "easing": "easeOutCirc" }'
			>
				<div
					class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-uppercase text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
				>
					Qui sommes-nous ?
				</div>
				<h3 class="fs-40 alt-font fw-700 mb-25px ls-minus-1px text-gradient-fast-blue-purple-light-orange">Plus de 25 ans d'expérience</h3>
				<p class="w-90 xs-w-100 mx-auto mx-lg-0">
					Depuis plus de 25 ans, le Groupe FC Media s'est imposé comme un pilier incontournable de la vie économique, médiatique et culturelle au Maroc. Cette longue trajectoire témoigne de
					notre engagement indéfectible envers l'excellence et de notre contribution constante à l'évolution du paysage médiatique marocain. Avec une approche fondée sur la proximité, nous
					nous efforçons chaque jour de cultiver les valeurs qui ont façonné notre succès.
				</p>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="position-relative pt-0">
	<div class="container-fluid overflow-hidden">
		<div class="row">
			<div class="p-0 position-absolute left-0px top-100px text-end w-auto xs-w-150px" data-bottom-top="transform: translateY(-100px)" data-top-bottom="transform: translateY(100px)">
				<img src="assets/images/demo-application-about-bg-left.png" alt="" />
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row align-items-center justify-content-center position-relative z-index-1">
			<div
				class="col-lg-5 text-center text-lg-start ps-40px lg-ps-15px"
				data-anime='{ "el": "childs", "opacity": [0, 1], "rotateY": [-90, 0], "rotateZ": [-10, 0], "translateY": [80, 0], "translateZ": [50, 0], "staggervalue": 200, "duration": 900, "easing": "easeOutCirc" }'
			>
				<div
					class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-uppercase text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
				>
					Qui sommes-nous ?
				</div>
				<h3 class="fs-40 alt-font fw-700 mb-25px ls-minus-1px text-gradient-fast-blue-purple-light-orange">Plus de 300 Talents dévoués</h3>
				<p class="w-90 xs-w-100 mx-auto mx-lg-0">
					Notre équipe, forte de 300 hommes et femmes passionnés, incarne notre détermination à offrir à nos clients la meilleure expérience qui soit. Nous mettons un point d'honneur à
					placer l'échange et la confiance au cœur de nos relations, car nous croyons fermement que c'est ainsi que naissent les partenariats durables.
				</p>
			</div>
			<div class="col-xl-7 col-lg-7 col-md-6 position-relative atropos" data-atropos>
				<div class="atropos-scale">
					<div class="atropos-rotate">
						<div class="atropos-inner text-center">
							<img data-atropos-offset="5" class="position-relative z-index-9 right-minus-50px lg-right-minus-20px xs-right-0px" src="assets/images/_28A1317-30.jpg" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid overflow-hidden">
		<div class="row">
			<div
				class="p-0 overlap-section position-absolute right-0px top-minus-100px text-end w-auto xs-w-180px"
				data-bottom-top="transform: translateY(100px)"
				data-top-bottom="transform: translateY(-100px)"
			>
				<img src="assets/images/demo-application-about-bg-right.png" alt="" />
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="overflow-hidden pt-0">
	<div class="container">
		<div class="row align-items-center justify-content-center">
			<div class="col-lg-7 position-relative text-center md-mb-30px" data-anime='{ "effect": "slide", "color": "#ffffff", "direction":"lr", "easing": "easeOutQuad", "delay":50}'>
				<figure>
					<div class="atropos" data-atropos>
						<div class="atropos-scale">
							<div class="atropos-rotate">
								<div class="atropos-inner">
									<img data-atropos-offset="5" src="assets/images/qsn--.png" alt="" />
								</div>
							</div>
						</div>
					</div>
					<figcaption class="position-absolute bottom-130px sm-bottom-100px xs-bottom-80px right-0px sm-right-minus-40px xs-right-minus-30px xs-w-80 z-index-9">
						<img src="assets/images/logo-fcmedia--.png" class="animation-float" alt="" />
					</figcaption>
				</figure>
			</div>
			<div
				class="col-lg-5 text-center text-lg-start ps-40px lg-ps-15px"
				data-anime='{ "el": "childs", "opacity": [0, 1], "rotateY": [-90, 0], "rotateZ": [-10, 0], "translateY": [80, 0], "translateZ": [50, 0], "staggervalue": 200, "duration": 900, "easing": "easeOutCirc" }'
			>
				<div
					class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-uppercase text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
				>
					Qui sommes-nous ?
				</div>
				<h3 class="fs-40 alt-font fw-700 mb-25px ls-minus-1px text-gradient-fast-blue-purple-light-orange">Des Solutions Publicitaires Innovantes et Engagées au Service de Nos Partenaires</h3>
				<p class="w-90 xs-w-100 mx-auto mx-lg-0">
					Chez FC Media, nous ne nous contentons pas de vendre des espaces publicitaires. Nous nous efforçons plutôt d'apporter des solutions innovantes qui ajoutent de la valeur à nos
					partenaires. Notre engagement envers le développement de l'industrie des médias se traduit par une offre diversifiée de médias engagés et porteurs de valeurs fortes, qui se
					démarque dans le paysage des régies publicitaires marocaines.
				</p>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="position-relative pt-0">
	<div class="container-fluid overflow-hidden">
		<div class="row">
			<div class="p-0 position-absolute left-0px top-100px text-end w-auto xs-w-150px" data-bottom-top="transform: translateY(-100px)" data-top-bottom="transform: translateY(100px)">
				<img src="images/demo-application-about-bg-left.png" alt="" />
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row align-items-center justify-content-center position-relative z-index-1">
			<div
				class="col-lg-5 text-center text-lg-start ps-40px lg-ps-15px"
				data-anime='{ "el": "childs", "opacity": [0, 1], "rotateY": [-90, 0], "rotateZ": [-10, 0], "translateY": [80, 0], "translateZ": [50, 0], "staggervalue": 200, "duration": 900, "easing": "easeOutCirc" }'
			>
				<div
					class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-uppercase text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
				>
					Qui sommes-nous ?
				</div>
				<h3 class="fs-40 alt-font fw-700 mb-25px ls-minus-1px text-gradient-fast-blue-purple-light-orange">Un véritable leader et pionnier de l'affichage urbain au Maroc</h3>
				<p class="w-90 xs-w-100 mx-auto mx-lg-0">
					Au fil des années, FC Media est devenu un véritable leader et pionnier de l'affichage urbain au Maroc. Présents dans toutes les grandes villes et sur tout le territoire du royaume,
					nos panneaux, sucettes, abribus et autres supports offrent une visibilité inégalée à nos partenaires publicitaires. De plus, notre présence dans les aéroports et les gares
					ferroviaires témoigne de notre capacité à toucher les publics les plus divers.
				</p>
			</div>
			<div class="col-xl-7 col-lg-7 col-md-6 position-relative atropos" data-atropos>
				<div class="atropos-scale">
					<div class="atropos-rotate">
						<div class="atropos-inner text-center">
							<img data-atropos-offset="5" class="position-relative z-index-9 right-minus-50px lg-right-minus-20px xs-right-0px" src="assets/images/unipole-led.webp" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid overflow-hidden">
		<div class="row">
			<div
				class="p-0 overlap-section position-absolute right-0px top-minus-100px text-end w-auto xs-w-180px"
				data-bottom-top="transform: translateY(100px)"
				data-top-bottom="transform: translateY(-100px)"
			>
				<img src="assets/images/demo-application-about-bg-right.png" alt="" />
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="" id="contact">
	<div class="container">
		<div class="row justify-content-center box-shadow-quadruple-large border-radius-6px overflow-hidden g-0">
			<!-- start contact address -->
			<div class="col-lg-6">
				<div
					class="p-15 lg-p-13 md-p-10 bg-white h-100 background-position-right-bottom background-no-repeat xs-background-image-none"
					style="background-image: url('assets/images/Logo_FC_Media-small.png')"
				>
					<span class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
						>FC Media</span
					>
					<h3 class="alt-font text-dark-gray fw-600">Data Enriched Approach (DEA)</h3>
					<div class="mt-11">
						<p class="fs-17 lh-28 ms-xl-0 mx-auto">
							Notre approche "Data Enriched" va au-delà des simples impressions publicitaires. En exploitant des données précises et actualisées, nous quantifions l'impact de vos
							campagnes publicitaires avec précision. De l'occasion de voir à la portée de votre campagne, en passant par la fréquence à laquelle elle est vue par un même individu, nous
							transformons les données en informations tangibles pour optimiser vos stratégies publicitaires.
						</p>
					</div>
					<a [routerLink]="['data-enriched-approach']" target="_blank" class="mt-9 btn btn-dark-gray left-icon btn-extra-large fw-500 btn-rounded btn-switch-text btn-box-shadow">
						<span>
							<span><i class="bi bi-arrow-return-right"></i></span>
							<span class="btn-double-text" data-text="Lire plus">En savoir plus</span>
						</span>
					</a>
				</div>
			</div>
			<!-- end contact address -->
			<div class="col-lg-6 contact-form-style-03">
				<div class="p-15 lg-p-13 md-p-10 bg-dark-gray h-100">
					<h1 class="fs-60 fw-600 alt-font text-white fancy-text-style-4 ls-minus-1px">
						Besoin<br />
						<span data-fancy-text='{ "effect": "rotate", "string": ["d&#39;information", "d&#39;aide"] }'></span>
					</h1>
					<!-- start contact form -->
					<app-dea-form></app-dea-form>
					<!-- end contact form -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->
