<footer class="bg-charcoal-blue pb-4 sm-pb-50px" style="background-image: url(assets/images/image-1.png)">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-md-6 sm-mb-30px order-2 order-md-1">
				<h3 class="text-white fs-30 fw-500 alt-font mb-50px ls-minus-1px sm-mb-30px">Des équipes à votre écoute pour des solutions adaptées.</h3>
				<div class="row">
					<div class="col-lg-5 col-6">
						<span class="alt-font fs-14 text-uppercase d-block text-white ls-1px lh-24">Téléphone</span>
						<a href="tel:12345678910">+212 522 977 720</a>
					</div>
					<div class="col-lg-5 col-6">
						<span class="alt-font fs-14 text-uppercase d-block text-white ls-1px lh-24">E-mail</span>
						<a href="mailto:contact@fcmedia.ma">contact&#64;fcmedia.ma</a>
					</div>
				</div>
			</div>
			<div class="col-md-2 offset-lg-1 col-6 order-3 order-md-2">
				<span class="alt-font fs-14 text-uppercase mb-5px d-block text-white ls-1px">FC Media</span>
				<ul>
					<li><a [routerLink]="['notre-patrimoine']">Notre patrimoine</a></li>
					<li><a [routerLink]="['couverture']">Couverture</a></li>
					<li><a [routerLink]="['nos-services']">Services</a></li>
					<li><a [routerLink]="['realisations']">Réalisations </a></li>
					<li><a [routerLink]="['qui-sommes-nous']">A propos</a></li>
					<li><a [routerLink]="['actualite']">Actualités</a></li>
					<li><a [routerLink]="['foire-aux-questions']">FAQ</a></li>
				</ul>
			</div>
			<div class="col-md-2 col-6 order-3 order-md-3">
				<span class="alt-font fs-14 text-uppercase mb-5px d-block text-white ls-1px">Offre</span>
				<ul>
					<li><a [routerLink]="['indoor']">Indoor</a></li>
					<li><a [routerLink]="['outdoor']">Outdoor</a></li>
					<li><a [routerLink]="['data-enriched-approach']">Data Enriched Approach (DEA)</a></li>
					<li><a [routerLink]="['programmatique']">Programmatique</a></li>
					<li><a [routerLink]="['commande-en-ligne']">Commander en ligne</a></li>
					<li><a [routerLink]="['contact']">Contact</a></li>
				</ul>
			</div>
			<div class="col-md-2 order-1 order-md-4 sm-mb-30px">
				<a href="" class="footer-logo"><img src="assets/images/logo-fcmedia.png" data-at2x="assets/images/logo-fcmedia.png" alt="" style="height: 70px !important; width: auto" /></a>
				<div class="social-media-icons">
					<a href="https://www.facebook.com/profile.php?id=61558505231368" target="_blank"><i class="bi bi-facebook"></i></a>
					<a href="https://www.instagram.com/fcmedia.ma?igsh=MXJ2MDRnM3R1dXJ6Mg%3D%3D" target="_blank"><i class="bi bi-instagram"></i></a>
					<a href="https://www.linkedin.com/company/fc-media-maroc" target="_blank"><i class="bi bi-linkedin"></i></a>
				</div>
			</div>
		</div>
	</div>
</footer>

<!---Sticky bouton -->
<div class="njs-sticky-side body-append image_button_cover placement-right now-show">
	<a [routerLink]="[]" fragment="contact" class="inner-link btn btn-dark-gray fw-500 btn-small btn-switch-text text-transform-none btn-box-shadow">
		<span>
			<span class="btn-double-text me-5px" data-text="maintenant">Contactez-nous</span>
		</span>
	</a>
</div>
<!--En section -->
