<!-- start page title -->
<section class="ipad-top-space-margin" style="background-image: url(assets/images/image-1.png)">
	<div class="container position-relative">
		<div
			class="row justify-content-center align-items-lg-end extra-very-small-screen"
			data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
		>
			<div class="col-lg-12 d-flex justify-content-between align-items-center">
				<h1 class="text-white fw-600 mb-0 alt-font highlight-separator-small">
					<span class="highlight-separator mb-0 pb-0" data-shadow-animation="true" data-animation-delay="500">Ariel Pods Ramadan</span>
				</h1>
				<img src="assets/images/ariel-logo.png" alt="Logo" class="img-fluid" width="15%" height="20%" />
			</div>
		</div>
	</div>
</section>
<!-- end page title -->

<!-- start section -->
<section class="pb-0">
	<div class="container">
		<div class="row justify-content-center" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
			<div class="col-lg-10 mb-6 sm-mb-35px last-paragraph-no-margin">
				<h4 class="alt-font fw-600 text-dark-gray w-90 md-w-100">Analyse de la Campagne DOOH "Ariel Pods Ramadan"</h4>
				<br />
				<h6><b>Chiffres Clés</b></h6>
				<li>Occasions de Voir (ODV) : 346.32 millions, une performance extrêmement élevée, indiquant une très large diffusion de la campagne.</li>
				<li>Reach : 3.76 millions, représentant 80% de la population des villes ciblées, ce qui démontre une pénétration significative.</li>
				<li>Fréquence Moyenne : 92,03, ce qui montre une fréquence d'exposition très élevée, assurant que le message publicitaire a été vu plusieurs fois par chaque individu touché.</li>
				<br />
				<h6><b>Profil de l'Audience</b></h6>
				<li>Répartition Hommes/Femmes : La campagne a touché légèrement plus de femmes (51,51%) que d'hommes (48,49%).</li>
				<li>Tranche d' ge Dominante : Les segments 25-34 ans et 35-44 ans ont été les plus touchés, correspondant à des groupes d'âge actifs et économiquement dynamiques.</li>
				<li>
					Segments de Consommateurs Ciblés : La campagne a bien ciblé les amateurs de mode (Fashionistas), les amateurs de nourriture (Food Lovers), et les chercheurs de soins de santé
					(Healthcare Seekers), des segments très pertinents pendant le Ramadan.
				</li>
				<br />
				<h6><b>Analyse des Performances</b></h6>
				<li>
					Stratégie de Diffusion : La distribution des panneaux a été fortement concentrée à Casablanca, ce qui a permis une couverture impressionnante de cette ville, mais avec le risque de
					saturation.
				</li>
				<li>Timing et Période : La campagne a été judicieusement placée pendant le Ramadan, une période où les ménages marocains sont plus réceptifs à ce type de publicité</li>
				<li>Impact Global : Avec un reach de 80% et une fréquence de plus de 90, la campagne a largement atteint ses objectifs en termes de visibilité et de répétition du message.</li>
				<br />
				<h6><b>Conclusion</b></h6>
				<p>
					La campagne DOOH "Ariel Pods Ramadan" a été un succès retentissant, atteignant une couverture massive dans les villes ciblées et une fréquence d'exposition exceptionnellement
					élevée. La combinaison d'un bon timing, d'une distribution stratégique des panneaux, et d'un ciblage précis de l'audience a permis à Ariel de maximiser l'impact de sa communication
					pendant une période cruciale de l'année.
				</p>
			</div>
			<div class="col-lg-10 mb-6 sm-mb-35px last-paragraph-no-margin text-center">
				<img src="assets/images/blog-ariel.webp" class="mb-20px" alt="" />
				<div class="h-1px w-100 bg-extra-medium-gray"></div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->
<!-- start section -->
<section class="half-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10">
				<div class="row justify-content-center">
					<div class="col-12 text-center elements-social social-icon-style-04">
						<ul class="medium-icon dark">
							<li>
								<a class="facebook" href="https://www.facebook.com/profile.php?id=61558505231368" target="_blank"><i class="fa-brands fa-facebook-f"></i><span></span></a>
							</li>
							<li>
								<a class="instagram" href="https://www.instagram.com/fcmedia.ma?igsh=MXJ2MDRnM3R1dXJ6Mg%3D%3D" target="_blank"><i class="fa-brands fa-instagram"></i><span></span></a>
							</li>
							<li>
								<a class="linkedin" href="https://www.linkedin.com/company/fc-media-maroc" target="_blank"><i class="fa-brands fa-linkedin-in"></i><span></span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->
