<!-- start page title -->
<section class="ipad-top-space-margin" style="background-image: url(assets/images/image-1.png)">
	<div class="container position-relative">
		<div
			class="row justify-content-center align-items-lg-end extra-very-small-screen"
			data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
		>
			<div class="col-lg-6 position-relative page-title-extra-large md-mb-30px sm-mb-20px z-index-9">
				<h1 class="text-white fw-600 mb-0 alt-font highlight-separator-small">
					<span class="highlight-separator mb-0 pb-0" data-shadow-animation="true" data-animation-delay="500">Services</span>
				</h1>
			</div>
			<div class="col-lg-6">
				<p class="fs-20 lh-32 text-white opacity-7 w-90 lg-w-100 md-w-80 mb-0">Diffusez vos campagnes et atteignez votre cible dans chaque région grâce à notre réseau étendu.</p>
			</div>
		</div>
	</div>
</section>
<!-- end page title -->

<!-- start section -->
<section class="stack-box services py-0 z-index-99">
	<div class="stack-box-contain">
		<!-- start stack item -->
		<div class="stack-item stack-item-01 bg-white lg-pt-8 lg-pb-8 md-pb-0">
			<div class="stack-item-wrapper">
				<div class="container-fluid">
					<div class="row align-items-center full-screen md-h-auto">
						<div class="col-lg-6 cover-background overflow-visible h-100 md-h-500px" style="background-image: url(assets/images/simulation-facade-zerktouni.jpg)">
							<div
								class="position-absolute right-minus-130px top-60px md-top-auto md-bottom-minus-50px fs-170 lg-fs-120 lg-right-minus-80px md-right-0px md-left-0px text-center text-lg-start alt-font z-index-9 fw-600 text-dark-gray opacity-3"
							>
								01
							</div>
							<div class="position-absolute right-0px bottom-minus-1px">
								<div class="vertical-title-center">
									<div class="title fw-700 fs-15 alt-font text-uppercase text-dark-gray bg-white pt-30px pb-30px ps-10px pe-10px">
										<span class="d-inline-block">Implantation, Développement & gestion </span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 ps-12 pe-14 xxl-ps-10 xxl-pe-10 xl-pe-8 lg-ps-6 lg-pe-4 md-p-50px sm-ps-30px sm-pe-30px position-relative align-self-center text-md-start text-center">
							<div class="mb-15px">
								<span class="w-25px h-1px d-inline-block bg-base-color me-5px align-middle"></span>
								<span class="text-gradient-base-color fs-15 alt-font fw-700 ls-05px text-uppercase d-inline-block align-middle">Nos services</span>
							</div>
							<h1 class="text-dark-gray alt-font fw-600 fs-50 ls-minus-4px mb-25px">Implantation, Développement & gestion des réseaux d'affichage</h1>
							<p class="w-95 md-w-100 mb-35px">
								FC Media vous accompagne de A à Z dans la création et la gestion de vos réseaux d'affichage, de l'étude de marché à l'analyse des performances.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end stack item -->
		<!-- start stack item -->
		<div class="stack-item stack-item-02 bg-linen md-pt-0 md-pb-0">
			<div class="stack-item-wrapper">
				<div class="container-fluid">
					<div class="row align-items-center full-screen md-h-auto">
						<div class="col-lg-6 cover-background overflow-visible h-100 md-h-500px" style="background-image: url(assets/images/-_28A1317-30.jpg)">
							<div
								class="position-absolute right-minus-130px top-60px md-top-auto md-bottom-minus-50px fs-170 lg-fs-120 lg-right-minus-80px md-right-0px md-left-0px text-center text-lg-start alt-font z-index-9 fw-600 text-dark-gray opacity-3"
							>
								02
							</div>
							<div class="position-absolute right-0px bottom-minus-1px">
								<div class="vertical-title-center">
									<div class="title fw-700 fs-15 alt-font text-uppercase text-dark-gray bg-linen pt-30px pb-30px ps-10px pe-10px">
										<span class="d-inline-block">Impression numérique</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 ps-12 pe-14 xxl-ps-10 xxl-pe-10 xl-pe-8 lg-ps-6 lg-pe-4 md-p-50px sm-ps-30px sm-pe-30px position-relative align-self-center text-md-start text-center">
							<div class="mb-15px">
								<span class="w-25px h-1px d-inline-block bg-base-color me-5px align-middle"></span>
								<span class="text-gradient-base-color fs-15 alt-font fw-700 ls-05px text-uppercase d-inline-block align-middle">Nos services</span>
							</div>
							<h1 class="text-dark-gray alt-font fs-50 fw-600 ls-minus-4px mb-25px">Impression numérique</h1>
							<p class="w-95 md-w-100 mb-35px">
								Sublimez vos visuels d'affichage avec notre impression numérique grand format haute qualité. Couleurs fidèles, durabilité optimale et finitions sur mesure : nous vous
								garantissons un rendu irréprochable et respectueux de l'environnement.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end stack item -->
		<!-- start stack item -->
		<div class="stack-item stack-item-03 bg-white lg-pt-8 md-pb-0 md-pt-0">
			<div class="stack-item-wrapper">
				<div class="container-fluid">
					<div class="row align-items-center full-screen md-h-auto">
						<div class="col-lg-6 cover-background overflow-visible h-100 md-h-500px" style="background-image: url(assets/images/A1-A2.jpg)">
							<div
								class="position-absolute right-minus-130px top-60px md-top-auto md-bottom-minus-50px fs-170 lg-fs-120 lg-right-minus-80px md-right-0px md-left-0px text-center text-lg-start alt-font z-index-9 fw-600 text-dark-gray opacity-3"
							>
								03
							</div>
							<div class="position-absolute right-0px bottom-minus-1px">
								<div class="vertical-title-center">
									<div class="title fw-700 fs-15 alt-font text-uppercase text-dark-gray bg-white pt-30px pb-30px ps-10px pe-10px">
										<span class="d-inline-block">Pose & gestion</span>
									</div>
								</div>
							</div>
						</div>
						<div
							class="col-lg-6 ps-12 pe-14 xxl-ps-10 xxl-pe-10 xl-pe-8 lg-ps-6 lg-pe-4 md-p-50px sm-ps-30px sm-pe-30px sm-pb-0 position-relative align-self-center text-md-start text-center"
						>
							<div class="mb-15px">
								<span class="w-25px h-1px d-inline-block bg-base-color me-5px align-middle"></span>
								<span class="text-gradient-base-color fs-15 alt-font fw-700 ls-05px text-uppercase d-inline-block align-middle">Nos services</span>
							</div>
							<h1 class="text-dark-gray alt-font fs-50 fw-600 ls-minus-4px mb-25px">Pose & gestion des campagnes publicitaires</h1>
							<p class="w-95 md-w-100 mb-35px">
								Professionnalisme, respect des délais et engagement sont les maîtres mots de notre service de pose et gestion de campagnes publicitaires. Nous assurons la pose sur tous
								types de supports, le suivi rigoureux de vos campagnes et vous fournissons des rapports détaillés pour une optimisation continue.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end stack item -->
		<!-- start stack item -->
		<div class="stack-item stack-item-04 bg-linen md-pt-0 md-pb-0">
			<div class="stack-item-wrapper">
				<div class="container-fluid">
					<div class="row align-items-center full-screen md-h-auto">
						<div class="col-lg-6 cover-background overflow-visible h-100 md-h-500px" style="background-image: url(assets/images/_28A1243-1.jpg)">
							<div
								class="position-absolute right-minus-130px top-60px md-top-auto md-bottom-minus-50px fs-170 lg-fs-120 lg-right-minus-80px md-right-0px md-left-0px text-center text-lg-start alt-font z-index-9 fw-600 text-dark-gray opacity-3"
							>
								04
							</div>
							<div class="position-absolute right-0px bottom-minus-1px">
								<div class="vertical-title-center">
									<div class="title fw-700 fs-15 alt-font text-uppercase text-dark-gray bg-linen pt-30px pb-30px ps-10px pe-10px">
										<span class="d-inline-block">Supports & service sav</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 ps-12 pe-14 xxl-ps-10 xxl-pe-10 xl-pe-8 lg-ps-6 lg-pe-4 md-p-50px sm-ps-30px sm-pe-30px position-relative align-self-center text-md-start text-center">
							<div class="mb-15px">
								<span class="w-25px h-1px d-inline-block bg-base-color me-5px align-middle"></span>
								<span class="text-gradient-base-color fs-15 alt-font fw-700 ls-05px text-uppercase d-inline-block align-middle">Nos services</span>
							</div>
							<h1 class="text-dark-gray alt-font fs-50 fw-600 ls-minus-4px mb-25px">Entretien des supports & service sav</h1>
							<p class="w-95 md-w-100 mb-35px">
								FC Media garantit la longévité de vos supports d'affichage grâce à un entretien régulier et une maintenance préventive. Nettoyage, vérification technique et service
								après-vente réactif : nous sommes à vos côtés pour que vos messages continuent à impacter.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end stack item -->
		<!-- start stack item -->
		<div class="stack-item stack-item-05 bg-linen md-pt-0 md-pb-0">
			<div class="stack-item-wrapper">
				<div class="container-fluid">
					<div class="row align-items-center full-screen md-h-auto">
						<div class="col-lg-6 cover-background overflow-visible h-100 md-h-500px" style="background-image: url(assets/images/_28A2540.jpg)">
							<div
								class="position-absolute right-minus-130px top-60px md-top-auto md-bottom-minus-50px fs-170 lg-fs-120 lg-right-minus-80px md-right-0px md-left-0px text-center text-lg-start alt-font z-index-9 fw-600 text-dark-gray opacity-3"
							>
								05
							</div>
							<div class="position-absolute right-0px bottom-minus-1px">
								<div class="vertical-title-center">
									<div class="title fw-700 fs-15 alt-font text-uppercase text-dark-gray bg-linen pt-30px pb-30px ps-10px pe-10px">
										<span class="d-inline-block">Conseil en achat</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 ps-12 pe-14 xxl-ps-10 xxl-pe-10 xl-pe-8 lg-ps-6 lg-pe-4 md-p-50px sm-ps-30px sm-pe-30px position-relative align-self-center text-md-start text-center">
							<div class="mb-15px">
								<span class="w-25px h-1px d-inline-block bg-base-color me-5px align-middle"></span>
								<span class="text-gradient-base-color fs-15 alt-font fw-700 ls-05px text-uppercase d-inline-block align-middle">Nos services</span>
							</div>
							<h1 class="text-dark-gray alt-font fs-50 fw-600 ls-minus-4px mb-25px">Conseil en achat de supports digitaux</h1>
							<p class="w-95 md-w-100 mb-35px">
								Chez FC Media, notre service de "Conseil en achat de supports digitaux" vous accompagne pour l'acquisition de panneaux digitaux. Nous évaluons vos besoins, recommandons
								les meilleurs écrans, négocions les tarifs et assurons un suivi complet pour optimiser votre investissement et maximiser l'impact de vos campagnes publicitaires.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end stack item -->
		<!-- start stack item -->
		<div class="stack-item stack-item-06 bg-linen md-pt-0 md-pb-0">
			<div class="stack-item-wrapper">
				<div class="container-fluid">
					<div class="row align-items-center full-screen md-h-auto">
						<div class="col-lg-6 cover-background overflow-visible h-100 md-h-500px" style="background-image: url(assets/images/shutterstock_2465033545-_2_-_1_.webp)">
							<div
								class="position-absolute right-minus-130px top-60px md-top-auto md-bottom-minus-50px fs-170 lg-fs-120 lg-right-minus-80px md-right-0px md-left-0px text-center text-lg-start alt-font z-index-9 fw-600 text-dark-gray opacity-3"
							>
								06
							</div>
							<div class="position-absolute right-0px bottom-minus-1px">
								<div class="vertical-title-center">
									<div class="title fw-700 fs-15 alt-font text-uppercase text-dark-gray bg-linen pt-30px pb-30px ps-10px pe-10px">
										<span class="d-inline-block">Programmatique</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 ps-12 pe-14 xxl-ps-10 xxl-pe-10 xl-pe-8 lg-ps-6 lg-pe-4 md-p-50px sm-ps-30px sm-pe-30px position-relative align-self-center text-md-start text-center">
							<div class="mb-15px">
								<span class="w-25px h-1px d-inline-block bg-base-color me-5px align-middle"></span>
								<span class="text-gradient-base-color fs-15 alt-font fw-700 ls-05px text-uppercase d-inline-block align-middle">Nos services</span>
							</div>
							<h1 class="text-dark-gray alt-font fs-50 fw-600 ls-minus-4px mb-25px">Programmatique</h1>
							<p class="w-95 md-w-100 mb-35px">
								Le programmatique en affichage représente une véritable révolution dans le paysage publicitaire. Contrairement aux méthodes traditionnelles d'achat d'espaces
								publicitaires...
							</p>
							<a [routerLink]="['programmatique']" target="_blank" class="btn btn-extra-large btn-dark-gray fw-500 btn-hover-animation-switch btn-box-shadow btn-rounded ls-0px">
								<span>
									<span class="btn-text">En savoir plus</span>
									<span class="btn-icon"><i class="feather icon-feather-arrow-right"></i></span>
									<span class="btn-icon"><i class="feather icon-feather-arrow-right"></i></span>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end stack item -->
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="" id="contact">
	<div class="container">
		<div class="row justify-content-center box-shadow-quadruple-large border-radius-6px overflow-hidden g-0">
			<!-- start contact address -->
			<div class="col-lg-6">
				<div
					class="p-15 lg-p-13 md-p-10 bg-white h-100 background-position-right-bottom background-no-repeat xs-background-image-none"
					style="background-image: url('assets/images/Logo_FC_Media-small.png')"
				>
					<span class="alt-font fs-12 lh-30px fw-700 ps-25px pe-25px pt-5px pb-5px mb-20px text-dark-gray bg-gradient-extra-very-light-gray-transparent border-radius-100px d-inline-block"
						>FC Media</span
					>
					<h3 class="alt-font text-dark-gray fw-600">Data Enriched Approach (DEA)</h3>
					<div class="mt-11">
						<p class="fs-17 lh-28 ms-xl-0 mx-auto">
							Notre approche "Data Enriched" va au-delà des simples impressions publicitaires. En exploitant des données précises et actualisées, nous quantifions l'impact de vos
							campagnes publicitaires avec précision. De l'occasion de voir à la portée de votre campagne, en passant par la fréquence à laquelle elle est vue par un même individu, nous
							transformons les données en informations tangibles pour optimiser vos stratégies publicitaires.
						</p>
					</div>
					<a [routerLink]="['data-enriched-approach']" class="mt-9 btn btn-dark-gray left-icon btn-extra-large fw-500 btn-rounded btn-switch-text btn-box-shadow">
						<span>
							<span><i class="bi bi-arrow-return-right"></i></span>
							<span class="btn-double-text" data-text="Lire plus">En savoir plus</span>
						</span>
					</a>
				</div>
			</div>
			<!-- end contact address -->
			<div class="col-lg-6 contact-form-style-03">
				<div class="p-15 lg-p-13 md-p-10 bg-dark-gray h-100">
					<h1 class="fs-60 fw-600 alt-font text-white fancy-text-style-4 ls-minus-1px">
						Besoin<br />
						<span data-fancy-text='{ "effect": "rotate", "string": ["d&#39;information", "d&#39;aide"] }'></span>
					</h1>
					<!-- start contact form -->
					<app-dea-form></app-dea-form>
					<!-- end contact form -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->
