<!-- start page title -->
<section class="ipad-top-space-margin" style="background-image: url(assets/images/image-1.png)">
	<div class="container position-relative">
		<div
			class="row justify-content-center align-items-lg-end extra-very-small-screen"
			data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'
		>
			<div class="col-lg-12 d-flex justify-content-between align-items-center">
				<h1 class="text-white fw-600 mb-0 alt-font highlight-separator-small">
					<span class="highlight-separator mb-0 pb-0" data-shadow-animation="true" data-animation-delay="500">Lancement de notre site institutionnel</span>
				</h1>
			</div>
		</div>
	</div>
</section>
<!-- end page title -->

<!-- start section -->
<section class="pb-0">
	<div class="container">
		<div class="row justify-content-center" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
			<div class="col-lg-10 mb-6 sm-mb-35px last-paragraph-no-margin">
				<h6 class="alt-font fw-600 text-dark-gray w-90 md-w-100">Nous sommes ravis de vous annoncer le lancement de notre nouveau site institutionnel !</h6>
				<p>
					Après des mois de travail acharné, nous avons le plaisir de vous présenter notre nouveau site internet. Conçu pour offrir une expérience utilisateur optimale, ce site moderne et
					intuitif met en avant nos services, nos offres, nos réalisations, notre couverture et notre engagement envers l'excellence.
				</p>

				<h6 class="alt-font fw-600 text-dark-gray w-90 md-w-100">Une navigation intuitive et une esthétique moderne</h6>
				<p>
					Notre nouveau site web a été entièrement repensé pour être à la fois esthétique et fonctionnel. Avec une interface utilisateur intuitive, chaque visiteur peut naviguer facilement
					et trouver rapidement les informations dont il a besoin. Des menus clairs, une mise en page épurée et des visuels accrocheurs assurent une expérience de navigation fluide et
					agréable.
				</p>

				<h6 class="alt-font fw-600 text-dark-gray w-90 md-w-100">Des sections dédiées pour mieux vous servir</h6>
				<p>Le site est structuré en différentes sections pour mieux répondre à vos besoins :</p>
				<li>À propos de nous : Découvrez l'histoire de notre entreprise, notre mission, et les valeurs qui nous guident au quotidien.</li>
				<li>
					Notre Offre & Nos services : Une présentation détaillée de nos offres, accompagnée de descriptions précises pour vous aider à comprendre comment nous pouvons vous accompagner dans
					vos projets.
				</li>
				<li>Nos réalisations : Un portfolio de nos projets les plus marquants, illustrant notre expertise et notre capacité à répondre aux attentes de nos clients.</li>
				<li>Actualités : Restez informé des dernières nouvelles de Fc Media, des annonces importantes aux événements à venir.</li>
				<li>Contact : Un formulaire de contact simple et direct pour faciliter la communication avec notre équipe.</li>
				<br />
				<h6 class="alt-font fw-600 text-dark-gray w-90 md-w-100">Une compatibilité multiplateforme</h6>
				<p>
					Dans un monde de plus en plus mobile, il est essentiel que notre site soit accessible depuis n'importe quel appareil. Que vous utilisiez un ordinateur de bureau, une tablette ou un
					smartphone, notre site s'adapte automatiquement à la taille de votre écran pour offrir une expérience de navigation optimale.
				</p>
				<h6 class="alt-font fw-600 text-dark-gray w-90 md-w-100">Un engagement envers la sécurité et la confidentialité</h6>
				<p>
					Nous savons à quel point la sécurité de vos données est importante. C'est pourquoi nous avons intégré des protocoles de sécurité avancés pour protéger vos informations
					personnelles. De plus, notre politique de confidentialité est clairement expliquée pour garantir une transparence totale sur la manière dont vos données sont collectées et
					utilisées.
				</p>
				<h6 class="alt-font fw-600 text-dark-gray w-90 md-w-100">Rejoignez notre communauté en ligne</h6>
				<p>
					En plus des fonctionnalités classiques, notre site offre également des liens directs vers nos réseaux sociaux. Suivez-nous sur Facebook, LinkedIn et Instagram pour rester connecté
					avec nous et découvrir les coulisses de notre entreprise. Nous vous encourageons également à vous inscrire à notre newsletter pour recevoir des mises à jour régulières directement
					dans votre boîte mail.
				</p>
				<h6 class="alt-font fw-600 text-dark-gray w-90 md-w-100">Votre feedback est précieux</h6>
				<p>
					Nous avons conçu ce site pour vous, et votre avis compte énormément pour nous. N'hésitez pas à nous faire part de vos commentaires et suggestions pour continuer à améliorer votre
					expérience en ligne. Nous vous invitons dès maintenant à explorer notre nouveau site web et à découvrir tout ce que Fc Media a à offrir. Merci pour votre soutien continu et votre
					confiance. Nous sommes impatients de partager cette nouvelle aventure avec vous. Bien à toi
				</p>
			</div>
			<div class="col-lg-10 mb-6 sm-mb-35px last-paragraph-no-margin text-center">
				<img src="https://via.placeholder.com/987x550" class="mb-20px" alt="" />
				<div class="h-1px w-100 bg-extra-medium-gray"></div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->

<!-- start section -->
<section class="half-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10">
				<div class="row justify-content-center">
					<div class="col-12 text-center elements-social social-icon-style-04">
						<ul class="medium-icon dark">
							<li>
								<a class="facebook" href="https://www.facebook.com/profile.php?id=61558505231368" target="_blank"><i class="fa-brands fa-facebook-f"></i><span></span></a>
							</li>
							<li>
								<a class="instagram" href="https://www.instagram.com/fcmedia.ma?igsh=MXJ2MDRnM3R1dXJ6Mg%3D%3D" target="_blank"><i class="fa-brands fa-instagram"></i><span></span></a>
							</li>
							<li>
								<a class="linkedin" href="https://www.linkedin.com/company/fc-media-maroc" target="_blank"><i class="fa-brands fa-linkedin-in"></i><span></span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end section -->
